Repository IntersectMBO/plutus, pull requests merged in 2019-04, with the labels that each got.

#690 Default docker config
  default.nix
  meadow-client/src/MainFrame.purs
  meadow/app/Main.hs
  meadow/app/PSGenerator.hs
  meadow/app/Webserver.hs
  meadow/meadow.cabal
  meadow/src/Git.hs
  nix/overlays/git-module.nix
  nix/overlays/required.nix
  plutus-playground-client/src/MainFrame.purs
  plutus-playground-server/app/Main.hs
  plutus-playground-server/app/PSGenerator.hs
  plutus-playground-server/app/Webserver.hs
  plutus-playground-server/playground.yaml.sample
  plutus-playground-server/plutus-playground-server.cabal
  plutus-playground-server/src/Git.hs
Labels: Do not merge

#869 add basic prometheus alerts
  deployment/nixops/prometheus.nix
Labels: Plutus Playgrounds

#877 [PlutusExe] Added interesting examples
  plutus-exe/src/Main.hs
Labels: Plutus Exe, Test

#878 wallet-api: Warn on empty transaction
  wallet-api/src/Wallet/API.hs
Labels: User experience, enhancement

#900 Meadow: Fix choice numbering for crowd funding example
  meadow-client/src/Marlowe/Contracts.purs
Labels: Meadow

#902 Fix order of isExpired in reduceRec (While)
  meadow-client/src/Semantics.purs
Labels: Meadow

#906 Playground: Adding a CHANGELOG banner.
  plutus-playground-client/src/MainFrame.purs
  web-common/src/Bootstrap.purs
  web-common/static/main.scss
Labels: Do not merge

#919 Explain the role of singleton types in sizes; improve typesetting
  plutus-core-spec/figures/PlutusCoreBuiltins.tex
  plutus-core-spec/figures/PlutusCoreExampleAgain.tex
  plutus-core-spec/plutus-core-specification.tex
Labels: Do not merge

#843 spec improvements to section 3
  plutus-core-spec/figures/PlutusCoreGrammar-Algorithmic-Restricted.tex
  plutus-core-spec/figures/PlutusCoreGrammar.tex
  plutus-core-spec/plutus-core-specification.tex
Labels: Spec

#847 all `plc example` evaluation tests passing
  metatheory/Algorithmic/Main.lagda
  metatheory/Algorithmic/Reduction.lagda
  metatheory/Algorithmic/Soundness.lagda
  metatheory/Builtin/Constant/Type.lagda
  metatheory/Declarative/StdLib/ChurchNat.lagda
  metatheory/Everything.lagda
  metatheory/Main.lagda
  metatheory/Raw.hs
  metatheory/Scoped.lagda
  metatheory/Scoped/Extrication.lagda
  metatheory/Scoped/Extrication/RenamingSubstitution.lagda
  metatheory/Scoped/Reduction.lagda
  metatheory/Scoped/RenamingSubstitution.lagda
  metatheory/plc-agda.cabal
Labels: Metatheory, Test

#876 [Builtins] Made things from the 'Typed' module composable
  language-plutus-core/language-plutus-core.cabal
  language-plutus-core/src/Control/Monad/Trans/Inner.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Apply.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/Instances.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Typed.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/CkMachine.hs
  plutus-core-interpreter/src/Language/PlutusCore/Interpreter/CekMachine.hs
  plutus-core-interpreter/src/Language/PlutusCore/Interpreter/LMachine.hs
Labels: Builtins, Plutus Core, Refactoring

#964 erasure of declarative and algorithmic terms
  metatheory/Algorithmic/Erasure.lagda
  metatheory/Declarative/Erasure.lagda
  metatheory/Everything.lagda
  metatheory/Main.lagda
  metatheory/Scoped.lagda
  metatheory/Type/BetaNBE/RenamingSubstitution.lagda
  metatheory/Untyped.lagda
  metatheory/plc-agda.cabal
Labels: Metatheory
