Repository IntersectMBO/plutus, pull requests merged in 2019-10, with the labels that each got.

#1466 Pinning the version of node that the updateClientDeps script uses.
  default.nix
Labels: Do not merge

#1490 ledger: fix checking for validator type
  plutus-wallet-api/ledger/Ledger/Typed/Tx.hs
Labels: Ledger

#1489 ledger: be fussier about the types of validator scripts
  plutus-book/doc/auction/english.adoc
  plutus-book/doc/game/guess.adoc
  plutus-book/doc/multi/vesting.adoc
  plutus-book/doc/non-fungible/nonfungible1.adoc
  plutus-book/doc/non-fungible/nonfungible2.adoc
  plutus-book/doc/non-fungible/nonfungible3.adoc
  plutus-book/doc/non-fungible/nonfungible4.adoc
  plutus-book/doc/non-fungible/nonfungible5.adoc
  plutus-book/doc/non-fungible/nonfungible6.adoc
  plutus-book/doc/non-fungible/nonfungible7.adoc
  plutus-book/doc/non-fungible/nonfungible8.adoc
  plutus-book/doc/parameters/crowd.adoc
  plutus-book/doc/token/fungible.adoc
  plutus-contract/test/Spec/Contract.hs
  plutus-emulator/test/Spec.hs
  plutus-playground-lib/src/Playground/Rollup/Render.hs
  plutus-playground-server/test/Playground/Rollup/renderCrowdfunding.txt
  plutus-playground-server/test/Playground/Rollup/renderVestFunds.txt
  plutus-playground-server/usecases/CrowdFunding.hs
  plutus-playground-server/usecases/Game.hs
  plutus-playground-server/usecases/Starter.hs
  plutus-playground-server/usecases/Vesting.hs
  plutus-tutorial/doc/02-validator-scripts.adoc
  plutus-tutorial/doc/03-wallet-api.adoc
  plutus-tutorial/doc/04-vesting.adoc
  plutus-use-cases/bench/Bench.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Currency.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Future.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Game.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/MultiSig.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/PubKey.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Swap.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Vesting.hs
  plutus-use-cases/test/Spec/Lib.hs
  plutus-wallet-api/ledger/Ledger/Index.hs
  plutus-wallet-api/ledger/Ledger/Scripts.hs
  plutus-wallet-api/ledger/Ledger/Scripts.hs-boot
  plutus-wallet-api/ledger/Ledger/Typed/Scripts.hs
  plutus-wallet-api/ledger/Ledger/Typed/Tx.hs
  plutus-wallet-api/ledger/Ledger/Validation.hs-boot
Labels: Ledger, Refactoring

#1499 plutus-tx: improve some errors and handle an odd case
  plutus-playground-server/test/Playground/Rollup/renderCrowdfunding.txt
  plutus-playground-server/test/Playground/Rollup/renderVestFunds.txt
  plutus-tx/README.md
  plutus-tx/compiler/Language/PlutusTx/Compiler/Expr.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Type.hs
  plutus-tx/plutus-tx.cabal
  plutus-tx/test/Plugin/Data/Spec.hs
  plutus-tx/test/Plugin/Data/monomorphic/strictPattern.plc.golden
  plutus-tx/test/Plugin/Errors/Spec.hs
  plutus-tx/test/Plugin/Errors/caseInt.plc.golden
  plutus-use-cases/test/Spec/crowdfunding.pir
  plutus-use-cases/test/Spec/multisigStateMachine.pir
  plutus-use-cases/test/Spec/vesting.pir
Labels: Plutus Tx

#1500 plutus-tx: add a list primitive to `Data`
  plutus-playground-server/test/Playground/Rollup/renderCrowdfunding.txt
  plutus-playground-server/test/Playground/Rollup/renderVestFunds.txt
  plutus-tx/compiler/Language/PlutusTx/Data.hs
  plutus-tx/src/Language/PlutusTx/IsData.hs
  plutus-tx/src/Language/PlutusTx/Ord.hs
  plutus-use-cases/test/Spec/crowdfunding.pir
  plutus-use-cases/test/Spec/future.pir
  plutus-use-cases/test/Spec/game.pir
  plutus-use-cases/test/Spec/multisig.pir
  plutus-use-cases/test/Spec/multisigStateMachine.pir
  plutus-use-cases/test/Spec/vesting.pir
Labels: Ledger, Plutus Tx

#1498 Starting to remove Sealed from the EUTXO spec
  extended-utxo-spec/extended-utxo-specification.tex
Labels: Do not merge, Extended UTXO, Spec

#1510 ledger: pass PendingTx as Data
  plutus-contract/test/Spec/Contract.hs
  plutus-playground-server/test/Playground/Rollup/renderCrowdfunding.txt
  plutus-playground-server/test/Playground/Rollup/renderVestFunds.txt
  plutus-use-cases/bench/Bench.hs
  plutus-wallet-api/ledger/Ledger/Index.hs
  plutus-wallet-api/ledger/Ledger/Scripts.hs
  plutus-wallet-api/ledger/Ledger/Scripts.hs-boot
  plutus-wallet-api/ledger/Ledger/Typed/Scripts.hs
  plutus-wallet-api/ledger/Ledger/Validation.hs
  plutus-wallet-api/ledger/Ledger/Validation.hs-boot
Labels: Ledger

#1520 EUTXO spec: more work
  extended-utxo-spec/extended-utxo-specification.tex
Labels: Ledger

#1521 EUTXO spec: allow negative values in the representation
  extended-utxo-spec/extended-utxo-specification.tex
Labels: Ledger

#1529 ledger: handle machine exceptions
  plutus-core-interpreter/bench/Bench.hs
  plutus-core-interpreter/src/Language/PlutusCore/Interpreter/CekMachine.hs
  plutus-core-interpreter/test/CekMachine.hs
  plutus-core-interpreter/test/DynamicBuiltins/Common.hs
  plutus-core-interpreter/weigh/Bench.hs
  plutus-exe/src/Main.hs
  plutus-tx/src/Language/PlutusTx/Evaluation.hs
  plutus-tx/test/TH/Spec.hs
  plutus-use-cases/bench/Bench.hs
  plutus-wallet-api/ledger/Ledger/Scripts.hs
Labels: Ledger

#1534 Marlowe playground refinements
  marlowe-playground-client/src/MonadApp.purs
  marlowe-playground-client/src/Simulation.purs
  marlowe-playground-client/src/Types.purs
  marlowe-playground-client/static/main.scss
  marlowe-playground-client/test/Marlowe/ContractTests.purs
Labels: Meadow, User experience

#1543 plutus-contract: generalize the error type
  plutus-contract/doc/contract-api.adoc
  plutus-contract/src/Language/Plutus/Contract.hs
  plutus-contract/src/Language/Plutus/Contract/App.hs
  plutus-contract/src/Language/Plutus/Contract/Effects/AwaitSlot.hs
  plutus-contract/src/Language/Plutus/Contract/Effects/ExposeEndpoint.hs
  plutus-contract/src/Language/Plutus/Contract/Effects/UtxoAt.hs
  plutus-contract/src/Language/Plutus/Contract/Effects/WatchAddress.hs
  plutus-contract/src/Language/Plutus/Contract/Effects/WriteTx.hs
  plutus-contract/src/Language/Plutus/Contract/Request.hs
  plutus-contract/src/Language/Plutus/Contract/Servant.hs
  plutus-contract/src/Language/Plutus/Contract/Test.hs
  plutus-contract/src/Language/Plutus/Contract/Trace.hs
  plutus-contract/test/Spec/Contract.hs
  plutus-contract/test/Spec/State.hs
  plutus-use-cases/exe/crowdfunding/Main.hs
  plutus-use-cases/exe/game/Main.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/CrowdFunding.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Currency.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Escrow.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Game.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/PubKey.hs
  plutus-use-cases/test/Spec/Crowdfunding.hs
  plutus-use-cases/test/Spec/Currency.hs
  plutus-use-cases/test/Spec/PubKey.hs
Labels: Contract modelling

#1546 contracts: Fix a bug in Resumable
  plutus-contract/src/Language/Plutus/Contract/Resumable.hs
  plutus-contract/test/Spec/State.hs
Labels: bug

#1549 Update cardano-crypto
  cabal.project
  pkgs/default.nix
  stack.yaml
Labels: Build

#1552 [Bug] [PlutusExe] Fixed looping 'plc example -a'
  language-plutus-core/generate-evaluation-test/Main.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Entity.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Utils.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Test.hs
  language-plutus-core/language-plutus-core.cabal
  language-plutus-core/test/Evaluation/Constant/Success.hs
  plutus-exe/src/Main.hs
Labels: Plutus Exe, Test, bug

#1551 [WIP] link to published paper DOIs
  README.adoc
  papers/system-f-in-agda/bibliography.bib
  papers/unraveling-recursion/references.bib
Labels: Do not merge, Docs

#1558 run tests with `plc-agda` in CI
  cabal.project
  metatheory/Builtin/Constant/Type.lagda
  metatheory/Main.lagda
  metatheory/TestDetailed.hs
  metatheory/TestSimple.hs
  metatheory/Type/RenamingSubstitution.lagda
  metatheory/plc-agda.cabal
  metatheory/plc-agda.nix
Labels: Test

#1566 typechecking tests `plc` vs `plc-agda`.
  metatheory/Check.lagda.md
  metatheory/Main.lagda
  metatheory/TestDetailed.hs
  metatheory/TestSimple.hs
Labels: Test

#1570 ledger: move application of 'check' into 'wrapValidator'
  plutus-contract/test/Spec/Contract.hs
  plutus-use-cases/bench/Bench.hs
  plutus-use-cases/test/Spec/renderCrowdfunding.txt
  plutus-use-cases/test/Spec/renderGuess.txt
  plutus-wallet-api/ledger/Ledger/Scripts.hs
  plutus-wallet-api/ledger/Ledger/Typed/Scripts.hs
Labels: Ledger

#1563 Pin to 19.09
  .hlint.yaml
  default.nix
  iohk-nix.json
  language-plutus-core/src/Language/PlutusCore/Constant/Typed.hs
  language-plutus-core/src/Language/PlutusCore/MkPlc.hs
  lib.nix
  marlowe-playground-client/package.json
  marlowe-playground-client/yarn.lock
  marlowe-playground-client/yarn.nix
  marlowe/test/Spec/Marlowe/Common.hs
  marlowe/test/Spec/Marlowe/Marlowe.hs
  nix/overlays/musl.nix
  nix/purescript.nix
  nixpkgs.json
  playground-common/src/Schema.hs
  plutus-book/test/Marlowe/Spec/Common.hs
  plutus-book/test/Marlowe/Spec/Marlowe.hs
  plutus-contract/src/Language/Plutus/Contract/Effects/AwaitSlot.hs
  plutus-contract/src/Language/Plutus/Contract/Effects/ExposeEndpoint.hs
  plutus-contract/src/Language/Plutus/Contract/Effects/WatchAddress.hs
  plutus-contract/src/Language/Plutus/Contract/Effects/WriteTx.hs
  plutus-contract/src/Language/Plutus/Contract/Resumable.hs
  plutus-contract/src/Language/Plutus/Contract/Servant.hs
  plutus-contract/src/Language/Plutus/Contract/Test.hs
  plutus-contract/src/Language/Plutus/Contract/Tx.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Definitions.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Error.hs
  plutus-playground-client/package.json
  plutus-playground-client/yarn.lock
  plutus-playground-client/yarn.nix
  plutus-tx/compiler/Language/PlutusTx/Lift/Instances.hs
  plutus-tx/src/Language/PlutusTx/Numeric.hs
  plutus-wallet-api/ledger/Data/Text/Prettyprint/Doc/Extras.hs
  plutus-wallet-api/ledger/Ledger/Ada.hs
  plutus-wallet-api/ledger/Ledger/Crypto.hs
  plutus-wallet-api/ledger/Ledger/Scripts.hs
  plutus-wallet-api/ledger/Ledger/Validation.hs
  release.nix
Labels: Build
