Repository IntersectMBO/plutus, pull requests merged in 2019-02, with the labels that each got.

#614 [Plutus Core] [Builtins] Deleted the 'BlockNum' and 'TxHash' builtin names
  language-plutus-core/src/Language/PlutusCore/CBOR.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Apply.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Function.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Name.hs
  language-plutus-core/src/Language/PlutusCore/Lexer.x
  language-plutus-core/src/Language/PlutusCore/Lexer/Type.hs
  language-plutus-core/test/TypeSynthesis/Golden/BlockNum.plc.golden
  language-plutus-core/test/TypeSynthesis/Golden/TxHash.plc.golden
  language-plutus-core/test/types/verifyIdentity.plc
  language-plutus-core/test/types/verifyIdentity.plc.golden
  plutus-tx/compiler/Language/PlutusTx/Builtins.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Builtins.hs
  plutus-tx/src/Language/PlutusTx/Prelude.hs
  plutus-tx/src/Language/PlutusTx/Prelude/Stage0.hs
  plutus-tx/test/Lift/boolInterop.plc.golden
  plutus-tx/test/Plugin/primitives/andApply.plc.golden
  plutus-tx/test/Plugin/primitives/equalsByteString.plc.golden
  plutus-tx/test/Plugin/primitives/intEqApply.plc.golden
  plutus-tx/test/Plugin/recursiveFunctions/even3.plc.golden
  plutus-tx/test/Plugin/recursiveFunctions/even4.plc.golden
  plutus-tx/test/Plugin/recursiveTypes/sameEmptyRoseEval.plc.golden
  plutus-tx/test/TH/all.plc.golden
Labels: AST, Builtins, Plutus Core

#592 plutus-ir: parser for plutus IR
  language-plutus-core/generators/Language/PlutusCore/Generators/AST.hs
  language-plutus-core/language-plutus-core.cabal
  language-plutus-core/test/Check/Spec.hs
  language-plutus-core/test/Normalization/Type.hs
  language-plutus-core/test/Spec.hs
  pkgs/default.nix
  plutus-ir/plutus-ir.cabal
  plutus-ir/src/Language/PlutusIR/Generators/AST.hs
  plutus-ir/src/Language/PlutusIR/Parser.hs
  plutus-ir/test/ParserSpec.hs
  plutus-ir/test/Spec.hs
  plutus-playground/plutus-playground-server/src/Playground/Interpreter.hs
Labels: Plutus IR, Textual representation

#623 plutus-ir: switched pir-parser to Text
  plutus-ir/plutus-ir.cabal
  plutus-ir/src/Language/PlutusIR/Parser.hs
  plutus-ir/test/ParserSpec.hs
Labels: Plutus IR, Textual representation

#627 [PlutusCore] Split the normalizer
  language-plutus-core/examples/Language/PlutusCore/Examples/Data/TreeForest.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  language-plutus-core/language-plutus-core.cabal
  language-plutus-core/prelude/PlutusPrelude.hs
  language-plutus-core/src/Language/PlutusCore.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Function.hs
  language-plutus-core/src/Language/PlutusCore/Error.hs
  language-plutus-core/src/Language/PlutusCore/Normalize.hs
  language-plutus-core/src/Language/PlutusCore/Normalize/Internal.hs
  language-plutus-core/src/Language/PlutusCore/Quote.hs
  language-plutus-core/src/Language/PlutusCore/Rename.hs
  language-plutus-core/src/Language/PlutusCore/Type.hs
  language-plutus-core/src/Language/PlutusCore/TypeCheck.hs
  language-plutus-core/src/Language/PlutusCore/TypeCheck/Internal.hs
  language-plutus-core/test/Check/Spec.hs
  language-plutus-core/test/Normalization/Type.hs
  plutus-exe/src/Main.hs
Labels: Name handling, Plutus Core, Refactoring

#628 [Plutus Core] [Pretty-printing] pad with zeroes when pretty-printing bytestring literals
  language-plutus-core/src/Language/PlutusCore/Lexer/Type.hs
  language-plutus-core/test/data/stringLiteral.plc.golden
  plutus-tx/test/Plugin/primitives/sha2_256.plc.golden
Labels: Plutus Core, Textual representation, bug

#633 [plutus-ir] Avoid generating pir-reserved words when testing
  plutus-ir/src/Language/PlutusIR/Generators/AST.hs
  plutus-ir/test/ParserSpec.hs
Labels: Plutus IR, Textual representation, bug

#642 [PLC] [Builtins] Allow to throw 'PLC.error' from dynamic builtin names
  .hlint.yaml
  language-plutus-core/common/PlcTestUtils.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Interesting.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Denotation.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Dependent.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Entity.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/TypedBuiltinGen.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Test.hs
  language-plutus-core/language-plutus-core.cabal
  language-plutus-core/prelude/PlutusPrelude.hs
  language-plutus-core/src/Crypto.hs
  language-plutus-core/src/Language/PlutusCore.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Apply.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/Emit.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/Instances.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/Pretty.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Function.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Make.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Name.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Typed.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/CkMachine.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Result.hs
  language-plutus-core/test/Evaluation/CkMachine.hs
  language-plutus-core/test/Evaluation/Constant/Apply.hs
  language-plutus-core/test/Evaluation/Constant/Failure.hs
  language-plutus-core/test/Evaluation/Golden/even2.plc.golden
  language-plutus-core/test/Evaluation/Golden/even3.plc.golden
  language-plutus-core/test/Evaluation/Golden/evenList.plc.golden
  language-plutus-core/test/Evaluation/Golden/verifySignature.plc
  language-plutus-core/test/Evaluation/Golden/verifySignature.plc.golden
  language-plutus-core/test/Evaluation/Golden/verifySignatureError.plc
  language-plutus-core/test/Evaluation/Golden/verifySignatureError.plc.golden
  language-plutus-core/test/Spec.hs
  plutus-core-interpreter/src/Language/PlutusCore/Interpreter/CekMachine.hs
  plutus-core-interpreter/src/Language/PlutusCore/Interpreter/LMachine.hs
  plutus-core-interpreter/test/DynamicBuiltins/Common.hs
  plutus-core-interpreter/test/DynamicBuiltins/MakeRead.hs
  plutus-ir/src/Language/PlutusIR/Transform/ThunkRecursions.hs
  plutus-tx/src/Language/PlutusTx/Evaluation.hs
  plutus-tx/test/TH/Spec.hs
Labels: Builtins, Error handling, Plutus Core
