Repository IntersectMBO/plutus, pull requests merged in 2019-08, with the labels that each got.

#1352 plc-agda: command line args
  metatheory/Main.lagda
  metatheory/Opts.hs
  metatheory/plc-agda.cabal
Labels: Metatheory, Test

#1374 plutus-tx: print names qualified
  plutus-tx/compiler/Language/PlutusTx/Compiler/Utils.hs
  plutus-tx/test/Plugin/Errors/mutualRecursionUnfoldingsLocal.plc.golden
  plutus-tx/test/Plugin/Errors/recursiveNewtype.plc.golden
Labels: Plutus Tx

#1370 guarantee type preservation in intrinsic CK machine
  metatheory/Algorithmic/CK.lagda.md
Labels: Metatheory

#1377 scope preserving extrinsic CK machine
  metatheory/Main.lagda
  metatheory/Scoped/CK.lagda.md
Labels: Metatheory, Test

#1392 camera ready MPC paper preparations
  papers/system-f-in-agda/bibliography.bib
Labels: Metatheory

#1378 type checking
  metatheory/Algorithmic.lagda
  metatheory/Algorithmic/Completeness.lagda
  metatheory/Algorithmic/Erasure.lagda
  metatheory/Algorithmic/Erasure/RenamingSubstitution.lagda
  metatheory/Algorithmic/RenamingSubstitution.lagda
  metatheory/Algorithmic/Soundness.lagda
  metatheory/AlgorithmicRed/Term/RenamingSubstitution.lagda
  metatheory/Builtin/Constant/Term.lagda
  metatheory/Check.lagda.md
  metatheory/Declarative/Erasure.lagda
  metatheory/Declarative/RenamingSubstitution.lagda
  metatheory/Everything.lagda
  metatheory/Main.lagda
  metatheory/Opts.hs
  metatheory/Scoped.lagda
  metatheory/Scoped/CK.lagda.md
  metatheory/Scoped/Extrication.lagda
  metatheory/Scoped/Extrication/RenamingSubstitution.lagda
  metatheory/Scoped/Reduction.lagda
  metatheory/Type.lagda
  metatheory/Type/BetaNBE/Completeness.lagda
  metatheory/Type/BetaNBE/RenamingSubstitution.lagda
  metatheory/Type/BetaNBE/Soundness.lagda
  metatheory/Type/BetaNBE/Stability.lagda
  metatheory/Type/BetaNormal.lagda
  metatheory/Type/BetaNormal/Equality.lagda.md
  metatheory/Type/Equality.lagda
  metatheory/Type/Reduction.lagda
  metatheory/Type/RenamingSubstitution.lagda
Labels: Metatheory
