Repository IntersectMBO/plutus, pull requests merged in 2019-11, with the labels that each got.

#1576 Various post 19.09 improvements
  README.adoc
  default.nix
  deployment/nixpkgs-src.json
  deployment/shell.nix
  iohk-nix.json
  lib.nix
  nix/asciidoctor/default.nix
  nix/hfsevents.nix
  nix/overlays/haskell-overrides.nix
  nix/overlays/nixpkgs-overrides.nix
  nix/purescript.nix
  nix/sources.json
  nix/sources.nix
  nix/tests/purty.nix
  pkgs/default.nix
  plutus-playground-server/src/Playground/Interpreter.hs
  purty/README.md
  purty/default.nix
  purty/packages.nix
  purty/purescript.nix
  stack.yaml
Labels: Build

#1580 ledger: purge '*Of' types
  marlowe/src/Language/Marlowe/Client.hs
  plutus-book/doc/auction/english.adoc
  plutus-book/doc/non-fungible/nonfungible8.adoc
  plutus-book/test/Utils.hs
  plutus-contract/src/Language/Plutus/Contract/Effects/UtxoAt.hs
  plutus-contract/src/Language/Plutus/Contract/Tx.hs
  plutus-emulator/src/Wallet/Emulator/Types.hs
  plutus-emulator/src/Wallet/Rollup.hs
  plutus-emulator/src/Wallet/Rollup/Render.hs
  plutus-emulator/src/Wallet/Rollup/Types.hs
  plutus-playground-client/src/Chain.purs
  plutus-playground-client/src/Chain/Eval.purs
  plutus-playground-client/src/Chain/Types.purs
  plutus-playground-client/src/Chain/View.purs
  plutus-playground-client/src/Types.purs
  plutus-playground-lib/src/Playground/Interpreter/Util.hs
  plutus-playground-server/app/PSGenerator.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/CrowdFunding.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Currency.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Escrow.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Game.hs
  plutus-use-cases/test/Spec/crowdfundingTestOutput.txt
  plutus-use-cases/test/Spec/renderCrowdfunding.txt
  plutus-use-cases/test/Spec/renderGuess.txt
  plutus-wallet-api/ledger/Ledger/AddressMap.hs
  plutus-wallet-api/ledger/Ledger/Crypto.hs
  plutus-wallet-api/ledger/Ledger/Index.hs
  plutus-wallet-api/ledger/Ledger/Tx.hs
  plutus-wallet-api/ledger/Ledger/TxId.hs
  plutus-wallet-api/ledger/Ledger/Typed/Tx.hs
  plutus-wallet-api/src/Wallet/API.hs
  plutus-wallet-api/src/Wallet/Generators.hs
  plutus-wallet-api/src/Wallet/Graph.hs
Labels: Ledger

#1589 Restrict symbolic execution to non-negative initial slot numbers
  marlowe-symbolic/src/Language/Marlowe/Analysis/FSSemantics.hs
Labels: Marlowe symbolic

#1590 [PlutusCore] Optimized 'ifix' for the 1-ary case
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Type.hs
  language-plutus-core/test/Pretty/Golden/Readable/Examples/InterList/FoldrInterList.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/Function/Fix.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/Function/Fix2.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/Function/Self.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/Function/Unroll.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/List/Cons.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/List/EnumFromTo.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/List/FoldList.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/List/FoldrList.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/List/List.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/List/Nil.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/List/Product.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/List/Reverse.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/List/Sum.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/Nat/FoldNat.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/Nat/FoldrNat.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/Nat/Nat.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/Nat/NatToInteger.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/Nat/Succ.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/Nat/Zero.plc.golden
  plutus-ir/test/datatypes/listMatch.golden
  plutus-ir/test/recursion/even3.golden
  plutus-ir/test/recursion/even3Eval.golden
  plutus-ir/test/recursion/mutuallyRecursiveValues.golden
  plutus-tx/test/Lift/list.plc.golden
  plutus-tx/test/Plugin/Data/recursive/sameEmptyRose.plc.golden
  plutus-tx/test/Plugin/Data/recursive/sameEmptyRoseEval.plc.golden
  plutus-tx/test/Plugin/Functions/recursive/even3.plc.golden
  plutus-tx/test/Plugin/Functions/recursive/even4.plc.golden
  plutus-tx/test/TH/all.plc.golden
  plutus-use-cases/test/Spec/crowdfundingTestOutput.txt
  plutus-use-cases/test/Spec/renderCrowdfunding.txt
  plutus-use-cases/test/Spec/renderGuess.txt
Labels: Plutus Core, StdLib

#1594 docs: add a document describing the architecture of the repository
  ARCHITECTURE.adoc
  README.adoc
  plutus-tutorial/doc/index.adoc
Labels: Docs

#1614 Restrict symbolic execution to produce positive slot intervals
  marlowe-symbolic/src/Language/Marlowe/Analysis/FSSemantics.hs
Labels: Marlowe symbolic

#1610 [PLC] [Refac] Changed some indentation, renamed annotation variables
  language-plutus-core/prelude/PlutusPrelude.hs
  language-plutus-core/src/Language/PlutusCore.hs
  language-plutus-core/src/Language/PlutusCore/Analysis/Definitions.hs
  language-plutus-core/src/Language/PlutusCore/CBOR.hs
  language-plutus-core/src/Language/PlutusCore/Check/Normal.hs
  language-plutus-core/src/Language/PlutusCore/Check/Uniques.hs
  language-plutus-core/src/Language/PlutusCore/Check/Value.hs
  language-plutus-core/src/Language/PlutusCore/DeBruijn.hs
  language-plutus-core/src/Language/PlutusCore/Error.hs
  language-plutus-core/src/Language/PlutusCore/Lexer/Type.hs
  language-plutus-core/src/Language/PlutusCore/MkPlc.hs
  language-plutus-core/src/Language/PlutusCore/Name.hs
  language-plutus-core/src/Language/PlutusCore/Pretty.hs
  language-plutus-core/src/Language/PlutusCore/Pretty/Plc.hs
  language-plutus-core/src/Language/PlutusCore/Quote.hs
  language-plutus-core/src/Language/PlutusCore/Size.hs
  language-plutus-core/src/Language/PlutusCore/Subst.hs
  language-plutus-core/src/Language/PlutusCore/Type.hs
  language-plutus-core/test/Check/Spec.hs
  language-plutus-core/test/Spec.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Error.hs
Labels: Plutus Core, Refactoring

#1617 Add link to eutxo model doc in readme
  README.adoc
  extended-utxo-spec/extended-utxo-specification.tex
Labels: Docs

#1622 Kwxm/eutxo spec typos
  extended-utxo-spec/extended-utxo-specification.tex
Labels: Extended UTXO

#1634 Add a `cabal.project.freeze` file, and instructions for updating it
  CONTRIBUTING.adoc
  cabal.project
  cabal.project.freeze
  pkgs/default.nix
Labels: Build

#1637 hlint: remove from CI
  .hlint.yaml
  CONTRIBUTING.adoc
  default.nix
  git-pre-commit-hook
Labels: Build

#1646 marking `MAlonzo.*` as `autogen-modules`; restoring`metatheory` to `cabal.project`
  cabal.project
  metatheory/plc-agda.cabal
Labels: Metatheory

#1649 Remove some pointless flags
  cabal.project
  cabal.project.freeze
  language-plutus-core/language-plutus-core.cabal
  marlowe-playground-server/marlowe-playground-server.cabal
  plutus-contract/plutus-contract.cabal
  plutus-core-interpreter/plutus-core-interpreter.cabal
  plutus-emulator/plutus-emulator.cabal
  plutus-exe/plutus-exe.cabal
  plutus-ir/plutus-ir.cabal
  plutus-playground-lib/plutus-playground-lib.cabal
  plutus-playground-server/plutus-playground-server.cabal
  plutus-wallet-api/plutus-wallet-api.cabal
  stack.yaml
Labels: Build

#1627 [PLC] [Test] [NameHandling] Added a 'propMangle' test
  language-plutus-core/generators/Language/PlutusCore/Generators/AST.hs
  language-plutus-core/prelude/PlutusPrelude.hs
  language-plutus-core/src/Language/PlutusCore.hs
  language-plutus-core/src/Language/PlutusCore/Lexer/Type.hs
  language-plutus-core/src/Language/PlutusCore/Name.hs
  language-plutus-core/src/Language/PlutusCore/Subst.hs
  language-plutus-core/src/Language/PlutusCore/Type.hs
  language-plutus-core/test/Check/Spec.hs
  language-plutus-core/test/Normalization/Type.hs
  language-plutus-core/test/Spec.hs
  plutus-core-interpreter/src/Language/PlutusCore/Interpreter/CekMachine.hs
  plutus-ir/src/Language/PlutusIR/Generators/AST.hs
  plutus-ir/test/ParserSpec.hs
Labels: Name handling, Plutus Core, Test

#1680 fixed value restriction in beta-wrap rule in fun-and-profit paper
  papers/system-f-in-agda/errata.txt
  papers/system-f-in-agda/paper.lagda
Labels: Metatheory

#1655 [PLC] [NameHandling] Reimplemented equality checks
  language-plutus-core/language-plutus-core.cabal
  language-plutus-core/src/Language/PlutusCore.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Apply.hs
  language-plutus-core/src/Language/PlutusCore/Error.hs
  language-plutus-core/src/Language/PlutusCore/Instance/Eq.hs
  language-plutus-core/src/Language/PlutusCore/Instance/Eq/Internal.hs
  language-plutus-core/src/Language/PlutusCore/Lexer/Type.hs
  language-plutus-core/src/Language/PlutusCore/MkPlc.hs
  language-plutus-core/src/Language/PlutusCore/Name.hs
  language-plutus-core/src/Language/PlutusCore/Rename.hs
  language-plutus-core/src/Language/PlutusCore/Rename/Internal.hs
  language-plutus-core/src/Language/PlutusCore/Rename/Monad.hs
  language-plutus-core/src/Language/PlutusCore/Type.hs
  language-plutus-core/test/Spec.hs
  plutus-ir/src/Language/PlutusIR.hs
  plutus-ir/src/Language/PlutusIR/Transform/Rename.hs
Labels: Name handling, Plutus Core, bug

#1695 Fix error by one in Marlowe's static analysis
  marlowe-symbolic/src/Language/Marlowe/Analysis/FSSemantics.hs
Labels: Marlowe symbolic
