Repository IntersectMBO/plutus, pull requests merged in 2019-05, with the labels that each got.

#971 plutus-tx: represent newtypes as their underyling type
  pkgs/default.nix
  plutus-playground-server/src/Playground/Interpreter.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Expr.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Type.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Types.hs
  plutus-tx/compiler/Language/PlutusTx/Lift/Class.hs
  plutus-tx/compiler/Language/PlutusTx/Lift/THUtils.hs
  plutus-tx/compiler/Language/PlutusTx/Plugin.hs
  plutus-tx/plutus-tx.cabal
  plutus-tx/test/Lift/Spec.hs
  plutus-tx/test/Lift/newtypeInt.plc.golden
  plutus-tx/test/Lift/newtypeInt2.plc.golden
  plutus-tx/test/Lift/newtypeInt3.plc.golden
  plutus-tx/test/Plugin/ReadValue.hs
  plutus-tx/test/Plugin/Spec.hs
  plutus-tx/test/Plugin/data/monomorphic/recordNewtype.plc.golden
  plutus-tx/test/Plugin/data/newtypes/basicNewtype.plc.golden
  plutus-tx/test/Plugin/data/newtypes/nestedNewtypeMatch.plc.golden
  plutus-tx/test/Plugin/data/newtypes/newtypeCreate.plc.golden
  plutus-tx/test/Plugin/data/newtypes/newtypeCreate2.plc.golden
  plutus-tx/test/Plugin/data/newtypes/newtypeId.plc.golden
  plutus-tx/test/Plugin/data/newtypes/newtypeMatch.plc.golden
  plutus-tx/test/Plugin/data/newtypes/paramNewtype.plc.golden
  plutus-tx/test/Plugin/errors/recursiveNewtype.plc.golden
  plutus-tx/test/Plugin/recursiveTypes/sameEmptyRose.plc.golden
  plutus-tx/test/Plugin/recursiveTypes/sameEmptyRoseEval.plc.golden
Labels: Plutus Tx

#981 Drag and drop actions to reorder them.
  plutus-playground-client/src/Action.purs
  plutus-playground-client/src/Cursor.purs
  plutus-playground-client/src/Data/Array/Extra.purs
  plutus-playground-client/src/MainFrame.purs
  plutus-playground-client/src/MonadApp.purs
  plutus-playground-client/src/Types.purs
  plutus-playground-client/static/main.scss
  plutus-playground-client/test/CursorTests.purs
  plutus-playground-client/test/Data/Array/ExtraTests.purs
  plutus-playground-client/test/Main.purs
  plutus-playground-client/test/MainFrameTests.purs
  plutus-playground-client/test/TestUtils.purs
Labels: Plutus Playgrounds

#983 [PLC] [Builtins] Removed static typed builtins
  .hlint.yaml
  language-plutus-core/generators/Language/PlutusCore/Generators.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Interesting.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Denotation.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Dependent.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Entity.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/TypedBuiltinGen.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Test.hs
  language-plutus-core/language-plutus-core.cabal
  language-plutus-core/src/Language/PlutusCore/CBOR.hs
  language-plutus-core/src/Language/PlutusCore/Constant.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Apply.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/BuiltinName.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/Call.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/Emit.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/Instances.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/OnChain.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/Pretty.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Function.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Make.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Name.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Typed.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/MachineException.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Result.hs
  language-plutus-core/src/Language/PlutusCore/Lexer.x
  language-plutus-core/src/Language/PlutusCore/Lexer/Type.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Meta/Data/Tuple.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Type.hs
  language-plutus-core/test/Evaluation/Constant/Apply.hs
  language-plutus-core/test/Spec.hs
  metatheory/Algorithmic/Completeness.lagda
  metatheory/Algorithmic/Reduction.lagda
  metatheory/Algorithmic/Soundness.lagda
  metatheory/Builtin.lagda
  metatheory/Builtin/Constant/Type.lagda
  metatheory/Builtin/Signature.lagda
  metatheory/Declarative/Reduction.lagda
  metatheory/Scoped.lagda
  metatheory/Scoped/Reduction.lagda
  metatheory/Untyped/Reduction.lagda
  plutus-core-interpreter/src/Language/PlutusCore/Interpreter/CekMachine.hs
  plutus-core-interpreter/test/DynamicBuiltins/Common.hs
  plutus-core-interpreter/test/DynamicBuiltins/Definition.hs
  plutus-core-interpreter/test/DynamicBuiltins/Logging.hs
  plutus-core-interpreter/test/DynamicBuiltins/MakeRead.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Builtins.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Expr.hs
  plutus-tx/compiler/Language/PlutusTx/Plugin.hs
  plutus-tx/src/Language/PlutusTx/Evaluation.hs
  plutus-tx/test/Plugin/ReadValue.hs
Labels: Builtins, Plutus Core, Refactoring

#976 indexing term level contexts by type level contexts in intrinsically typed terms
  metatheory/Algorithmic.lagda
  metatheory/Algorithmic/Completeness.lagda
  metatheory/Algorithmic/Evaluation.lagda
  metatheory/Algorithmic/Main.lagda
  metatheory/Algorithmic/Reduction.lagda
  metatheory/Algorithmic/RenamingSubstitution.lagda
  metatheory/Algorithmic/Soundness.lagda
  metatheory/Declarative.lagda
  metatheory/Declarative/Erasure.lagda
  metatheory/Declarative/Evaluation.lagda
  metatheory/Declarative/Reduction.lagda
  metatheory/Declarative/RenamingSubstitution.lagda
  metatheory/Declarative/StdLib/Bool.lagda
  metatheory/Declarative/StdLib/ChurchNat.lagda
  metatheory/Declarative/StdLib/Function.lagda
  metatheory/Declarative/StdLib/Nat.lagda
  metatheory/Declarative/StdLib/Unit.lagda
  metatheory/Scoped/Extrication.lagda
Labels: Metatheory

#993 [PLC] [Builtins] Made 1/0 evaluate to 'Error'
  .hlint.yaml
  language-plutus-core/generators/Language/PlutusCore/Generators/Interesting.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Denotation.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Dependent.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Entity.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Utils.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Test.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Apply.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Name.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/CkMachine.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Result.hs
  language-plutus-core/src/Language/PlutusCore/View.hs
  language-plutus-core/test/Evaluation/Constant/Success.hs
  language-plutus-core/test/Evaluation/Golden/verifySignatureError.plc.golden
Labels: Builtins, Plutus Core, Test, bug

#991 decl -> alg terms erase to the same untyped variables
  metatheory/Algorithmic/Completeness.lagda
  metatheory/Algorithmic/Erasure.lagda
  metatheory/Algorithmic/RenamingSubstitution.lagda
  metatheory/Algorithmic/Soundness.lagda
  metatheory/Declarative/Erasure.lagda
  metatheory/Everything.lagda
Labels: Metatheory

#1003 fixed failure to check for divide by zero
  metatheory/Algorithmic/Reduction.lagda
  metatheory/Builtin/Constant/Type.lagda
  metatheory/Scoped.hs
  metatheory/Scoped.lagda
  metatheory/Scoped/Reduction.lagda
Labels: Metatheory, Test

#1014 plutus-tx: deal with unpackCStringFoldr#
  plutus-tx/compiler/Language/PlutusTx/Compiler/Expr.hs
  plutus-tx/compiler/Language/PlutusTx/Plugin.hs
  plutus-tx/test/Plugin/errors/machInt.plc.golden
  plutus-wallet-api/ledger/Ledger/Validation.hs
Labels: Plutus Tx

#1012 extricating a reduction step
  metatheory/Algorithmic.lagda
  metatheory/Algorithmic/Completeness.lagda
  metatheory/Algorithmic/Erasure.lagda
  metatheory/Algorithmic/Reduction.lagda
  metatheory/Algorithmic/RenamingSubstitution.lagda
  metatheory/Algorithmic/Soundness.lagda
  metatheory/AlgorithmicRed/Term.lagda
  metatheory/Declarative.lagda
  metatheory/Declarative/Erasure.lagda
  metatheory/Declarative/RenamingSubstitution.lagda
  metatheory/Declarative/StdLib/Bool.lagda
  metatheory/Declarative/StdLib/ChurchNat.lagda
  metatheory/Declarative/StdLib/Function.lagda
  metatheory/Declarative/StdLib/Nat.lagda
  metatheory/Declarative/StdLib/Unit.lagda
  metatheory/Everything.lagda
  metatheory/Scoped/Extrication.lagda
  metatheory/Scoped/Extrication/Reduction.lagda
  metatheory/Scoped/Extrication/RenamingSubstitution.lagda
  metatheory/Scoped/Reduction.lagda
  metatheory/Type.lagda
  metatheory/Type/BetaNBE.lagda
  metatheory/Type/BetaNBE/Completeness.lagda
  metatheory/Type/BetaNBE/Soundness.lagda
  metatheory/Type/BetaNBE/Stability.lagda
  metatheory/Type/BetaNormal.lagda
  metatheory/Type/Equality.lagda
  metatheory/Type/Reduction.lagda
  metatheory/Type/RenamingSubstitution.lagda
  metatheory/Untyped.lagda
  metatheory/Untyped/Reduction.lagda
  metatheory/Untyped/RenamingSubstitution.lagda
Labels: Metatheory

#1019 plutus-tx: compile let-bindings of non-values lazily
  language-plutus-core/src/Language/PlutusCore/Parser.y
  language-plutus-core/src/Language/PlutusCore/Quote.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Definitions.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Expr.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Laziness.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Types.hs
  plutus-tx/compiler/Language/PlutusTx/Plugin.hs
  plutus-tx/test/Plugin/Lib.hs
  plutus-tx/test/Plugin/Spec.hs
  plutus-tx/test/Plugin/laziness/joinError.plc.golden
  plutus-tx/test/Plugin/laziness/joinErrorEval.plc.golden
  plutus-tx/test/Plugin/recursiveFunctions/even.plc.golden
  plutus-tx/test/Plugin/recursiveFunctions/even3.plc.golden
  plutus-tx/test/Plugin/recursiveFunctions/even4.plc.golden
  plutus-tx/test/Plugin/unfoldings/andExternal.plc.golden
  plutus-tx/test/TH/power.plc.golden
Labels: Plutus Tx

#1026 plutus-tx: lazy bindings need a dependency on unit
  language-plutus-core/src/Language/PlutusCore/Quote.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Expr.hs
  plutus-tx/compiler/Language/PlutusTx/Plugin.hs
  plutus-tx/test/Plugin/Laziness/Spec.hs
  plutus-tx/test/Plugin/Laziness/lazyDepUnit.plc.golden
Labels: Plutus Tx

#1029 plutus-ir/plutus-tx: improvements to definitions
  .hlint.yaml
  plutus-ir/src/Language/PlutusIR/Compiler/Definitions.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Builtins.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Expr.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Type.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Types.hs
  plutus-tx/compiler/Language/PlutusTx/Plugin.hs
  plutus-tx/test/Lift/nested.plc.golden
  plutus-tx/test/Plugin/Data/monomorphic/atPattern.plc.golden
  plutus-tx/test/Plugin/Data/monomorphic/irrefutableMatch.plc.golden
  plutus-tx/test/Plugin/Data/recursive/sameEmptyRose.plc.golden
  plutus-tx/test/Plugin/Data/recursive/sameEmptyRoseEval.plc.golden
  plutus-tx/test/Plugin/Functions/recursive/even.plc.golden
  plutus-tx/test/Plugin/Functions/recursive/even3.plc.golden
  plutus-tx/test/Plugin/Functions/recursive/even4.plc.golden
  plutus-tx/test/Plugin/Functions/recursive/fib.plc.golden
  plutus-tx/test/Plugin/Functions/recursive/sum.plc.golden
  plutus-tx/test/Plugin/Functions/unfoldings/allDirect.plc.golden
  plutus-tx/test/Plugin/Functions/unfoldings/mutualRecursionUnfoldings.plc.golden
  plutus-tx/test/Plugin/Functions/unfoldings/polyMap.plc.golden
  plutus-tx/test/Plugin/Laziness/lazyDepUnit.plc.golden
  plutus-tx/test/Plugin/Primitives/void.plc.golden
  plutus-tx/test/TH/power.plc.golden
Labels: Plutus IR, Plutus Tx

#1031 plutus-ir: rewrite compilation as PIR-to-PIR passes
  plutus-ir/plutus-ir.cabal
  plutus-ir/src/Language/PlutusIR/Compiler.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Datatype.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Let.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Lower.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Recursion.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Term.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Term.hs-boot
  plutus-ir/src/Language/PlutusIR/Compiler/Types.hs
  plutus-ir/test/Spec.hs
  plutus-ir/test/lets/letInLet
  plutus-ir/test/lets/letInLet.golden
  plutus-ir/test/recursion/even3Eval.golden
  plutus-tx/test/Plugin/Data/recursive/sameEmptyRoseEval.plc.golden
  plutus-tx/test/Plugin/Functions/recursive/even3.plc.golden
  plutus-tx/test/Plugin/Functions/recursive/even4.plc.golden
Labels: Plutus IR

#1034 plutus-ir: use let-bindings in compilation, exploit with later dead-binding removal
  language-plutus-core/src/Language/PlutusCore/MkPlc.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Meta/Data/Tuple.hs
  plutus-ir/src/Language/PlutusIR.hs
  plutus-ir/src/Language/PlutusIR/Compiler.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Datatype.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Let.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Recursion.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Types.hs
  plutus-ir/test/Spec.hs
  plutus-ir/test/datatypes/listMatchEval.golden
  plutus-ir/test/recursion/even3.golden
  plutus-ir/test/recursion/even3Eval.golden
  plutus-ir/test/recursion/mutuallyRecursiveValues.golden
  plutus-tx/compiler/Language/PlutusTx/Lift.hs
  plutus-tx/compiler/Language/PlutusTx/Plugin.hs
  plutus-tx/test/Lift/boolInterop.plc.golden
  plutus-tx/test/Plugin/Data/recursive/sameEmptyRoseEval.plc.golden
  plutus-tx/test/Plugin/Functions/recursive/even3.plc.golden
  plutus-tx/test/Plugin/Functions/recursive/even4.plc.golden
  plutus-tx/test/Plugin/Laziness/joinErrorEval.plc.golden
  plutus-tx/test/Plugin/Primitives/andApply.plc.golden
  plutus-tx/test/Plugin/Primitives/equalsByteString.plc.golden
  plutus-tx/test/Plugin/Primitives/intEqApply.plc.golden
  plutus-tx/test/TH/all.plc.golden
Labels: Plutus IR

#1033 alternative git stamping
  default.nix
  interpreter/interpreter.cabal
  interpreter/src/Git.hs
  interpreter/src/Git/TH.hs
  meadow/app/Main.hs
  meadow/app/PSGenerator.hs
  meadow/app/Webserver.hs
  meadow/meadow.cabal
  meadow/src/Git.hs
  nix/git-rev.nix
  nix/overlays/git-module.nix
  pkgs/default.nix
  plutus-playground-client/src/MainFrame.purs
  plutus-playground-server/app/Main.hs
  plutus-playground-server/app/PSGenerator.hs
  plutus-playground-server/app/Webserver.hs
  plutus-playground-server/plutus-playground-server.cabal
  plutus-playground-server/src/Git.hs
  scripts/set-git-rev/default.nix
  scripts/set-git-rev/set-git-rev.hs
Labels: Plutus Playgrounds

#994 [Docs] Added the validating the next data script doc
  docs/extended-utxo/ValidatingTheNextDataScript.md
Labels: AST, Builtins, Docs, Extended UTXO, Plutus Core, Plutus Tx

#1023 show that extrinsic and intrinsic progress agree on well-typed terms
  metatheory/Algorithmic/Evaluation.lagda
  metatheory/Algorithmic/Reduction.lagda
  metatheory/Everything.lagda
  metatheory/Scoped.lagda
  metatheory/Scoped/Extrication.lagda
  metatheory/Scoped/Extrication/Reduction.lagda
  metatheory/Scoped/Extrication/RenamingSubstitution.lagda
  metatheory/Scoped/Reduction.lagda
  metatheory/Utils.lagda
Labels: Metatheory, Test

#1044 plutus-ir: use lens-based traversals
  pkgs/default.nix
  plutus-ir/plutus-ir.cabal
  plutus-ir/src/Language/PlutusIR.hs
  plutus-ir/src/Language/PlutusIR/Analysis/Dependencies.hs
  plutus-ir/src/Language/PlutusIR/Analysis/Usages.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Let.hs
  plutus-ir/src/Language/PlutusIR/Optimizer/DeadCode.hs
  plutus-ir/src/Language/PlutusIR/Transform/Substitute.hs
  plutus-ir/src/Language/PlutusIR/Transform/ThunkRecursions.hs
Labels: Plutus IR

#1048 playground: Remove validity range parameter from payToWallet_
  plutus-playground-lib/src/Playground/Contract.hs
  plutus-playground-server/test/Playground/UsecasesSpec.hs
Labels: User experience

#1063 plutus-tx: try using `-fexpose-all-unfoldings`
  marlowe/src/Language/Marlowe/Common.hs
  plutus-tutorial/doctest/Tutorial/01-plutus-tx.md
  plutus-tx/README.md
  plutus-tx/compiler/Language/PlutusTx/Compiler/Expr.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Type.hs
  plutus-tx/src/Language/PlutusTx/Prelude.hs
  plutus-tx/test/TH/all.plc.golden
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/MultiSigStateMachine.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Vesting.hs
  plutus-wallet-api/ledger/Ledger/Ada.hs
  plutus-wallet-api/ledger/Ledger/Map.hs
  plutus-wallet-api/ledger/Ledger/These.hs
  plutus-wallet-api/ledger/Ledger/Validation.hs
  plutus-wallet-api/ledger/Ledger/Value.hs
  plutus-wallet-api/src/Language/PlutusTx/StateMachine.hs
Labels: Plutus Tx

#1066 plutus-tx: minor refactorings
  plutus-tx/compiler/Language/PlutusTx/Compiler/Binders.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Builtins.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Error.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Expr.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Expr.hs-boot
  plutus-tx/compiler/Language/PlutusTx/Compiler/Kind.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Laziness.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Names.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Primitives.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Type.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Type.hs-boot
  plutus-tx/compiler/Language/PlutusTx/Compiler/Types.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Utils.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/ValueRestriction.hs
  plutus-tx/compiler/Language/PlutusTx/Plugin.hs
  plutus-tx/test/Plugin/Errors/machInt.plc.golden
Labels: Plutus Tx, Refactoring

#1069 towards renaming/substitution commutes with extrication
  metatheory/Scoped/Extrication/RenamingSubstitution.lagda
  metatheory/Scoped/RenamingSubstitution.lagda
Labels: Metatheory
