Repository IntersectMBO/plutus, pull requests merged in 2019-09, with the labels that each got.

#1416 Fix handling of type synonyms when generating `Lift`
  plutus-tx/compiler/Language/PlutusTx/Lift.hs
  plutus-tx/compiler/Language/PlutusTx/Lift/Class.hs
  plutus-tx/compiler/Language/PlutusTx/Lift/THUtils.hs
  plutus-tx/test/Lift/Spec.hs
  plutus-tx/test/Lift/syn.plc.golden
  plutus-wallet-api/ledger/Ledger/Validation.hs
Labels: Plutus Tx

#1433 plutus-tx: add a version of $ that we can handle
  plutus-tx/src/Language/PlutusTx/Prelude.hs
  plutus-tx/test/Plugin/Functions/Spec.hs
  plutus-tx/test/Plugin/Functions/unfoldings/applicationFunction.plc.golden
Labels: Plutus Tx

#1435 plutus-tx: rename some functions
  plutus-tutorial/doc/plutus-tx.adoc
  plutus-tx/compiler/Language/PlutusTx/Lift.hs
  plutus-tx/src/Language/PlutusTx.hs
  plutus-tx/test/Lift/Spec.hs
  plutus-tx/test/Plugin/Primitives/Spec.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/CrowdFunding.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/MultiSigStateMachine.hs
  plutus-wallet-api/ledger/Ledger/Scripts.hs
  plutus-wallet-api/ledger/Ledger/Typed/Tx.hs
  plutus-wallet-api/src/Wallet/Typed/StateMachine.hs
Labels: Plutus Tx

#1400 restoring metatheory proofs after typechecking related refactoring
  metatheory/Algorithmic.lagda
  metatheory/Algorithmic/Equality.lagda.md
  metatheory/Algorithmic/Reduction.lagda
  metatheory/Algorithmic/RenamingSubstitution.lagda
  metatheory/Declarative.lagda
  metatheory/Declarative/RenamingSubstitution.lagda
  metatheory/Declarative/StdLib/Bool.lagda
  metatheory/Declarative/StdLib/ChurchNat.lagda
  metatheory/Declarative/StdLib/Function.lagda
  metatheory/Declarative/StdLib/Nat.lagda
  metatheory/Declarative/StdLib/Unit.lagda
  metatheory/Everything.lagda
Labels: Metatheory

#1415 1322: Better blockchain visualisation.
  iots-export/test/IOTSSpec.hs
  pkgs/default.nix
  plutus-playground-client/src/Action.purs
  plutus-playground-client/src/Chain.purs
  plutus-playground-client/src/Chain/BlockchainExploration.purs
  plutus-playground-client/src/Chain/Types.purs
  plutus-playground-client/src/Chain/View.purs
  plutus-playground-client/src/Data/Array/Extra.purs
  plutus-playground-client/src/Data/String/Extra.purs
  plutus-playground-client/src/Language/PlutusTx/AssocMap.purs
  plutus-playground-client/src/Ledger/Extra.purs
  plutus-playground-client/src/MainFrame.purs
  plutus-playground-client/src/MonadApp.purs
  plutus-playground-client/src/Types.purs
  plutus-playground-client/src/Wallet.purs
  plutus-playground-client/static/main.scss
  plutus-playground-client/test/AjaxUtilsTests.purs
  plutus-playground-client/test/ChainTests.purs
  plutus-playground-client/test/Data/Array/ExtraTests.purs
  plutus-playground-client/test/Data/String/ExtraTests.purs
  plutus-playground-client/test/Language/PlutusTx/AssocMapTests.purs
  plutus-playground-client/test/Ledger/ExtraTests.purs
  plutus-playground-client/test/Main.purs
  plutus-playground-client/test/MainFrameTests.purs
  plutus-playground-client/test/TypesTests.purs
  plutus-playground-client/test/evaluation_response1.json
  plutus-playground-lib/plutus-playground-lib.cabal
  plutus-playground-lib/src/Playground/API.hs
  plutus-playground-lib/src/Playground/Contract.hs
  plutus-playground-lib/src/Playground/Interpreter/Util.hs
  plutus-playground-lib/src/Playground/Rollup.hs
  plutus-playground-lib/src/Playground/Rollup/Render.hs
  plutus-playground-lib/src/Playground/TH.hs
  plutus-playground-lib/src/Playground/Types.hs
  plutus-playground-lib/test/Playground/APISpec.hs
  plutus-playground-lib/test/Playground/THSpec.hs
  plutus-playground-server/app/PSGenerator.hs
  plutus-playground-server/plutus-playground-server.cabal
  plutus-playground-server/src/Playground/Interpreter.hs
  plutus-playground-server/src/Playground/Server.hs
  plutus-playground-server/test/Playground/Rollup/RenderSpec.hs
  plutus-playground-server/test/Playground/Rollup/renderCrowdfunding.txt
  plutus-playground-server/test/Playground/Rollup/renderVestFunds.txt
  plutus-playground-server/test/Playground/UsecasesSpec.hs
  plutus-wallet-api/ledger/Ledger/Tx.hs
  plutus-wallet-api/ledger/Ledger/Value.hs
  plutus-wallet-api/src/Wallet/Graph.hs
  web-common/src/Bootstrap.purs
  web-common/src/Data/RawJson.purs
  web-common/src/Icons.purs
  web-common/static/main.scss
  web-common/static/variables.scss
Labels: Plutus Playgrounds

#1454 [PlutusIR] Made type parameters of a data type be not visible in the mutual block
  plutus-ir/src/Language/PlutusIR/Transform/Rename.hs
Labels: Name handling, Plutus IR, bug

#1457 plutus-tx: support type families
  plutus-book/doc/auction/english.adoc
  plutus-tx/compiler/Language/PlutusTx/Compiler/Expr.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Names.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Type.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Type.hs-boot
  plutus-tx/compiler/Language/PlutusTx/Compiler/Types.hs
  plutus-tx/compiler/Language/PlutusTx/Plugin.hs
  plutus-tx/test/Plugin/Data/Spec.hs
  plutus-tx/test/Plugin/Data/families/associated.plc.golden
  plutus-tx/test/Plugin/Data/families/associatedParam.plc.golden
  plutus-tx/test/Plugin/Data/families/basicClosed.plc.golden
  plutus-tx/test/Plugin/Data/families/basicData.plc.golden
  plutus-tx/test/Plugin/Data/families/basicOpen.plc.golden
  plutus-tx/test/Plugin/Data/families/irreducible.plc.golden
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/GameStateMachine.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/MultiSigStateMachine.hs
  plutus-use-cases/test/Spec/multisigStateMachine.pir
  plutus-wallet-api/src/Language/PlutusTx/StateMachine.hs
Labels: Plutus Tx

#1463 [WIP] integrating evidence producing type checker with metatheory proofs
  metatheory/Algorithmic.lagda
  metatheory/Algorithmic/CK.lagda.md
  metatheory/Algorithmic/Completeness.lagda
  metatheory/Algorithmic/Equality.lagda.md
  metatheory/Algorithmic/Erasure.lagda
  metatheory/Algorithmic/Erasure/RenamingSubstitution.lagda
  metatheory/Algorithmic/Reduction.lagda
  metatheory/Algorithmic/RenamingSubstitution.lagda
  metatheory/Algorithmic/Soundness.lagda
  metatheory/Declarative.lagda
  metatheory/Declarative/Erasure.lagda
  metatheory/Declarative/Evaluation.lagda
  metatheory/Declarative/Reduction.lagda
  metatheory/Declarative/RenamingSubstitution.lagda
  metatheory/Declarative/StdLib/Bool.lagda
  metatheory/Declarative/StdLib/ChurchNat.lagda
  metatheory/Declarative/StdLib/Function.lagda
  metatheory/Declarative/StdLib/Nat.lagda
  metatheory/Declarative/StdLib/Unit.lagda
  metatheory/Everything.lagda
  metatheory/Main.lagda
  metatheory/Opts.hs
  metatheory/Type/BetaNormal/Equality.lagda.md
Labels: Metatheory
