Repository IntersectMBO/plutus, pull requests merged in 2019-01, with the labels that each got.

#478 [Plutus Core] Keep annotations in 'mkIterForall' and 'mkIterTyLam'
  language-plutus-core/src/Language/PlutusCore/MkPlc.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/Bool.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/Function.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Meta/Data/Tuple.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Type.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Datatype.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Recursion.hs
Labels: Plutus Core

#482 [Plutus IR] [Test] Added 'EmptyRose' tests
  docs/fomega/package.yaml
  plutus-tx-plugin/test/Plugin/Spec.hs
  plutus-tx-plugin/test/Plugin/data/newtypes/newtypeId.plc.golden
  plutus-tx-plugin/test/Plugin/errors/emptyRoseId1.plc.golden
  plutus-tx-plugin/test/Plugin/recursiveTypes/sameEmptyRose.plc.golden
  plutus-tx-plugin/test/Plugin/recursiveTypes/sameEmptyRoseEval.plc.golden
Labels: Plutus IR, Test

#467 [StdLib] Changed interface to mutual term-level recursion
  language-plutus-core/src/Language/PlutusCore/MkPlc.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/Function.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Everything.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Meta/Data/Tuple.hs
  language-plutus-core/test/Evaluation/CkMachine.hs
  language-plutus-core/test/Evaluation/even2.plc.golden
  language-plutus-core/test/Evaluation/even3.plc.golden
  plutus-ir/src/Language/PlutusIR/Compiler/Recursion.hs
  plutus-ir/test/recursion/even3.plc.golden
  plutus-ir/test/recursion/even3Eval.plc.golden
  plutus-ir/test/recursion/mutuallyRecursiveValues.plc.golden
  plutus-tx-plugin/test/Plugin/recursiveFunctions/even3.plc.golden
  plutus-tx-plugin/test/Plugin/recursiveFunctions/even4.plc.golden
Labels: Do not merge, Plutus Core, Plutus IR

#498 wallet-api: Tutorial fixes
  wallet-api/tutorial/Tutorial.md
Labels: Docs

#496 [PlutusCore] [TypeCheck] Removed the annotation machinery
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  language-plutus-core/src/Language/PlutusCore.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/Emit.hs
  language-plutus-core/src/Language/PlutusCore/Error.hs
  language-plutus-core/src/Language/PlutusCore/Renamer.hs
  language-plutus-core/src/Language/PlutusCore/Type.hs
  language-plutus-core/src/Language/PlutusCore/TypeSynthesis.hs
  language-plutus-core/test/TypeSynthesis/Spec.hs
  plutus-core-interpreter/test/DynamicBuiltins/Common.hs
  plutus-core-interpreter/test/DynamicBuiltins/Factorial.hs
  plutus-core-interpreter/test/DynamicBuiltins/Logging.hs
  plutus-core-interpreter/test/DynamicBuiltins/String.hs
  plutus-exe/src/Main.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Error.hs
  plutus-ir/test/Spec.hs
  plutus-tx-plugin/src/Language/PlutusTx/Compiler/Error.hs
  plutus-tx-plugin/src/Language/PlutusTx/Plugin.hs
Labels: Plutus Core, Type checking

#510 Docs: add a script to deploy the combined Haddock to GH pages
  .gitignore
  README.md
  deploy-docs.sh
Labels: Docs

#500 [PlutusCore] [Check] Added the value restriction check
  language-plutus-core/generators/Language/PlutusCore/Generators/Interesting.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Test.hs
  language-plutus-core/language-plutus-core.cabal
  language-plutus-core/src/Language/PlutusCore.hs
  language-plutus-core/src/Language/PlutusCore/Check/ValueRestriction.hs
  language-plutus-core/src/Language/PlutusCore/Error.hs
  language-plutus-core/src/Language/PlutusCore/View.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/Function.hs
  language-plutus-core/test/Check/Spec.hs
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/Function/Fix2.plc.golden
  language-plutus-core/test/TypeSynthesis/Spec.hs
  plutus-ir/test/recursion/even3.plc.golden
  plutus-ir/test/recursion/even3Eval.plc.golden
  plutus-ir/test/recursion/mutuallyRecursiveValues.plc.golden
  plutus-tx-plugin/test/Plugin/recursiveFunctions/even3.plc.golden
  plutus-tx-plugin/test/Plugin/recursiveFunctions/even4.plc.golden
  plutus-tx-plugin/test/Plugin/recursiveTypes/sameEmptyRose.plc.golden
  plutus-tx-plugin/test/Plugin/recursiveTypes/sameEmptyRoseEval.plc.golden
  plutus-tx/test/all.plc.golden
Labels: Plutus Core, StdLib

#526 Pass compiler to iohk-nix again
  default.nix
Labels: Build

#580 [PlutusCore] [TypeCheck] Type checker overhaul
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  language-plutus-core/language-plutus-core.cabal
  language-plutus-core/src/Language/PlutusCore.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Function.hs
  language-plutus-core/src/Language/PlutusCore/Normalize.hs
  language-plutus-core/src/Language/PlutusCore/TypeCheck.hs
  language-plutus-core/src/Language/PlutusCore/TypeCheck/Internal.hs
  language-plutus-core/src/Language/PlutusCore/TypeSynthesis.hs
  language-plutus-core/test/TypeSynthesis/Spec.hs
  plutus-core-interpreter/test/DynamicBuiltins/Common.hs
  plutus-exe/plutus-exe.cabal
  plutus-exe/src/Main.hs
  plutus-ir/test/Spec.hs
  plutus-tx/compiler/Language/PlutusTx/Plugin.hs
Labels: Plutus Core, Type checking
