Repository IntersectMBO/plutus, pull requests merged in 2019-07, with the labels that each got.

#1215 we need separate github apps for marlowe and plutus
  deployment/nixops/default.nix
  deployment/nixops/secrets.json.example
Labels: Plutus Playgrounds

#1185 Blockly
  meadow-client/.gitignore
  meadow-client/entry.js
  meadow-client/package.json
  meadow-client/packages.nix
  meadow-client/psc-package.json
  meadow-client/src/Blockly.js
  meadow-client/src/Blockly.purs
  meadow-client/src/Blockly/Generator.js
  meadow-client/src/Blockly/Generator.purs
  meadow-client/src/Blockly/Types.purs
  meadow-client/src/Halogen/Blockly.purs
  meadow-client/src/MainFrame.purs
  meadow-client/src/Marlowe/Blockly.purs
  meadow-client/src/MonadApp.purs
  meadow-client/src/Simulation.purs
  meadow-client/src/Types.purs
  meadow-client/static/main.scss
  meadow-client/test/Blockly/Headless.js
  meadow-client/test/Blockly/Headless.purs
  meadow-client/test/Main.purs
  meadow-client/test/Marlowe/BlocklyTests.purs
  meadow-client/yarn.lock
  meadow-client/yarn.nix
Labels: Do not merge

#1275 Delete obsolete docs deployment script
  deploy-docs.sh
Labels: Build

#1292 asciidoctor: fail if an error-level message is emitted
  plutus-book/doc/default.nix
  plutus-tutorial/doc/default.nix
Labels: Build

#1288 Fix broken links on the main page.
  plutus-tutorial/README.adoc
Labels: Docs, bug

#1293 plutus-book: fix references to bibliography and glossar
  nix/asciidoctor/default.nix
  nix/asciidoctor/pr-201.patch
  plutus-book/doc/03-UTxO.adoc
  plutus-book/doc/09-extended.adoc
  plutus-book/doc/10-PlutusTx.adoc
  plutus-book/doc/endmatter.adoc
  plutus-book/doc/glossary.adoc
  plutus-book/doc/plutus.adoc
Labels: Build, Docs, Plutus Book

#1291 replacing neutral terms with NoVar in progress proof
  metatheory/Algorithmic/Erasure/Reduction.lagda
  metatheory/Algorithmic/Evaluation.lagda
  metatheory/Algorithmic/Reduction.lagda
  metatheory/Scoped/Reduction.lagda
  metatheory/Untyped/Reduction.lagda
Labels: Metatheory

#1306 Add "user-space" sealing mechanism
  language-plutus-core/src/Language/PlutusCore/CBOR.hs
  plutus-book/doc/multi/vesting.adoc
  plutus-book/test/Multi/VestingSpec.hs
  plutus-emulator/test/Spec.hs
  plutus-playground-server/app/PSGenerator.hs
  plutus-playground-server/src/Playground/Interpreter.hs
  plutus-tx/compiler/Language/PlutusTx/Builtins.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Expr.hs
  plutus-tx/compiler/Language/PlutusTx/Plugin.hs
  plutus-tx/compiler/Language/PlutusTx/Sealed.hs
  plutus-tx/plutus-tx.cabal
  plutus-tx/src/Language/PlutusTx/Prelude.hs
  plutus-tx/test/Plugin/Typeclasses/Lib.hs
  plutus-use-cases/bench/Bench.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Future.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/GameStateMachine.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/MultiSigStateMachine.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Vesting.hs
  plutus-use-cases/test/Spec/gameStateMachine.pir
  plutus-use-cases/test/Spec/multisigStateMachine.pir
  plutus-wallet-api/ledger/Ledger/Index.hs
  plutus-wallet-api/ledger/Ledger/Scripts.hs
  plutus-wallet-api/plutus-wallet-api.cabal
  plutus-wallet-api/src/Language/PlutusTx/StateMachine.hs
Labels: Extended UTXO, Plutus Tx

#1307 Modify reduction rules to include type instantiation
  plutus-core-spec/figures/CkMachine.tex
  plutus-core-spec/figures/TermReduction.tex
  plutus-core-spec/plutus-core-specification.tex
Labels: Plutus Core, Spec

#1300 extrinsic CK machine
  metatheory/Algorithmic.lagda
  metatheory/Algorithmic/CK.lagda.md
  metatheory/Everything.lagda
  metatheory/Main.lagda
  metatheory/Scoped/CK.lagda.md
Labels: Metatheory
