Repository IntersectMBO/plutus, pull requests merged in 2019-12, with the labels that each got.

#1697 [PLC] [Test] Explicit errors in 'TypeEvalCheck' tests
  language-plutus-core/common/PlcTestUtils.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Test.hs
  language-plutus-core/test/Evaluation/CkMachine.hs
  plutus-core-interpreter/src/Language/PlutusCore/Interpreter/LMachine.hs
  plutus-core-interpreter/test/CekMachine.hs
  plutus-core-interpreter/test/LMachine.hs
Labels: Evaluation, Plutus Core, Test

#1700 [Refac] Merge 'plutus-core-interpreter' into 'language-plutus-core'
  cabal.project
  default.nix
  docs/fomega/cek-cps-experiments/run-all
  example/cabal.project
  hie.yaml
  language-plutus-core/bench/Bench.hs
  language-plutus-core/common/PlcTestUtils.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Test.hs
  language-plutus-core/language-plutus-core.cabal
  language-plutus-core/src/Language/PlutusCore.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Cek.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Ck.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Exception.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/L.hs
  language-plutus-core/test/Evaluation/Constant.hs
  language-plutus-core/test/Evaluation/Constant/Apply.hs
  language-plutus-core/test/Evaluation/Constant/Success.hs
  language-plutus-core/test/Evaluation/Constant/SuccessFailure.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins/Common.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins/Definition.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins/Logging.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins/MakeRead.hs
  language-plutus-core/test/Evaluation/Golden.hs
  language-plutus-core/test/Evaluation/Machines.hs
  language-plutus-core/test/Evaluation/Spec.hs
  language-plutus-core/test/Spec.hs
  language-plutus-core/weigh/Bench.hs
  lib.nix
  pkgs/default.nix
  plutus-core-interpreter/LICENSE
  plutus-core-interpreter/NOTICE
  plutus-core-interpreter/README.md
  plutus-core-interpreter/bench/Bench.hs
  plutus-core-interpreter/plutus-core-interpreter.cabal
  plutus-core-interpreter/test/CekMachine.hs
  plutus-core-interpreter/test/DynamicBuiltins/Spec.hs
  plutus-core-interpreter/test/LMachine.hs
  plutus-core-interpreter/test/Main.hs
  plutus-exe/plutus-exe.cabal
  plutus-exe/src/Main.hs
  plutus-tutorial/doc/plutus-tx.adoc
  plutus-tx/plutus-tx.cabal
  plutus-tx/src/Language/PlutusTx/Evaluation.hs
  plutus-tx/test/Plugin/ReadValue/Spec.hs
  stack.yaml
Labels: Evaluation, Plutus Core, Refactoring

#1689 [Docs] Added 'ifix.md'
  docs/fomega/deep-isorecursive/ifix.md
Labels: Docs, Metatheory

#1669 Restructure emulator to use effects
  marlowe/marlowe.cabal
  marlowe/src/Language/Marlowe/Client.hs
  marlowe/test/Spec/Marlowe/Marlowe.hs
  pkgs/default.nix
  plutus-contract/plutus-contract.cabal
  plutus-contract/src/Language/Plutus/Contract/Test.hs
  plutus-contract/src/Language/Plutus/Contract/Trace.hs
  plutus-contract/src/Language/Plutus/Contract/Wallet.hs
  plutus-emulator/plutus-emulator.cabal
  plutus-emulator/src/Control/Monad/Freer/Extras.hs
  plutus-emulator/src/Wallet/Emulator/Chain.hs
  plutus-emulator/src/Wallet/Emulator/Generators.hs
  plutus-emulator/src/Wallet/Emulator/MultiAgent.hs
  plutus-emulator/src/Wallet/Emulator/NodeClient.hs
  plutus-emulator/src/Wallet/Emulator/Types.hs
  plutus-emulator/src/Wallet/Emulator/Wallet.hs
  plutus-emulator/test/Spec.hs
  plutus-playground-client/src/Action.purs
  plutus-playground-client/src/Chain.purs
  plutus-playground-client/src/Chain/View.purs
  plutus-playground-client/src/MainFrame.purs
  plutus-playground-client/src/Types.purs
  plutus-playground-client/src/Wallet.purs
  plutus-playground-client/test/AjaxUtilsTests.purs
  plutus-playground-client/test/ChainTests.purs
  plutus-playground-client/test/TypesTests.purs
  plutus-playground-client/test/compilation_response1.json
  plutus-playground-client/test/evaluation_response1.json
  plutus-playground-lib/plutus-playground-lib.cabal
  plutus-playground-lib/src/Playground/Contract.hs
  plutus-playground-lib/src/Playground/Interpreter/Util.hs
  plutus-playground-lib/src/Playground/TH.hs
  plutus-playground-server/app/PSGenerator.hs
  plutus-use-cases/plutus-use-cases.cabal
  plutus-use-cases/test/Spec/Rollup.hs
  plutus-wallet-api/ledger/Ledger/AddressMap.hs
  plutus-wallet-api/src/Language/PlutusTx/StateMachine.hs
  plutus-wallet-api/src/Wallet/API.hs
Labels: Do not merge

#1722 Fix UselessTransaction check
  marlowe-playground-client/src/Marlowe/Semantics.purs
  marlowe-symbolic/src/Language/Marlowe/Analysis/FSSemantics.hs
  marlowe/src/Language/Marlowe/Semantics.hs
  plutus-emulator/test/Spec.hs
  plutus-tx/src/Language/PlutusTx/AssocMap.hs
Labels: Meadow

#1721 [Docs] Taking fixpoints of polymorphic mutually recursive functions
  docs/fomega/mutual-term-level-recursion/FixN.agda
Labels: Docs, Plutus Core
