Repository IntersectMBO/plutus, pull requests merged in 2019-03, with the labels that each got.

#698 [PLC] Final-encode PLC terms to allow for more sharing with the PIR compiler
  language-plutus-core/src/Language/PlutusCore/Constant/Make.hs
  language-plutus-core/src/Language/PlutusCore/MkPlc.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/Bool.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/ChurchNat.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/Function.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/Integer.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/List.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/Nat.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/Sum.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/Unit.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Meta.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Meta/Data/Tuple.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Type.hs
  language-plutus-core/test/Evaluation/CkMachine.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Recursion.hs
Labels: Plutus Core

#687 Playground: Adding some HTML `id` attributes to make writing Selenium scripts easier.
  plutus-playground-client/src/Action.purs
  plutus-playground-client/src/Editor.purs
  plutus-playground-client/src/Gists.purs
  plutus-playground-client/src/MainFrame.purs
  plutus-playground-client/src/Types.purs
  plutus-playground-client/src/Validation.purs
  plutus-playground-client/src/Wallet.purs
  plutus-playground-client/static/main.scss
Labels: Do not merge

#712 [PLC] [Docs] Fixed links in the readme
  language-plutus-core/README.md
Labels: Docs, Plutus Core

#681 Playground - adding new Gist-related features.
  .hindent.yaml
  meadow-client/src/Editor.purs
  plutus-playground-client/bower.json
  plutus-playground-client/package.json
  plutus-playground-client/src/Action.purs
  plutus-playground-client/src/AjaxUtils.purs
  plutus-playground-client/src/Bootstrap.purs
  plutus-playground-client/src/Chain.purs
  plutus-playground-client/src/Chain/BlockchainExploration.purs
  plutus-playground-client/src/Cursor.purs
  plutus-playground-client/src/Data/Lens/Extra.purs
  plutus-playground-client/src/Editor.purs
  plutus-playground-client/src/Gists.purs
  plutus-playground-client/src/Icons.purs
  plutus-playground-client/src/Main.purs
  plutus-playground-client/src/MainFrame.purs
  plutus-playground-client/src/MonadApp.purs
  plutus-playground-client/src/Types.purs
  plutus-playground-client/static/main.scss
  plutus-playground-client/static/tx-arrows.svg
  plutus-playground-client/static/variables.scss
  plutus-playground-client/test/BridgeTests.purs
  plutus-playground-client/test/CursorTests.purs
  plutus-playground-client/test/GistsSpec.purs
  plutus-playground-client/test/Main.purs
  plutus-playground-client/test/MainFrameTests.purs
  plutus-playground-client/test/compilation_response1.json
  plutus-playground-client/test/evaluation_response1.json
  plutus-playground-client/test/evaluation_response2.json
  plutus-playground-client/test/gist1.json
  plutus-playground-client/webpack.config.js
  plutus-playground-lib/src/Playground/API.hs
  plutus-playground-server/app/PSGenerator.hs
  plutus-playground-server/app/Webserver.hs
  plutus-playground-server/src/Auth.hs
  plutus-playground-server/src/Gist.hs
  plutus-playground-server/src/Playground/Server.hs
  plutus-playground-server/src/Servant/Extra.hs
Labels: Do not merge, Plutus Playgrounds

#721 [plutus-ir] Switched the pir parser to using TermLike
  language-plutus-core/src/Language/PlutusCore/MkPlc.hs
  plutus-ir/src/Language/PlutusIR.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Definitions.hs
  plutus-ir/src/Language/PlutusIR/MkPir.hs
  plutus-ir/src/Language/PlutusIR/Parser.hs
  plutus-ir/src/Language/PlutusIR/Transform/ThunkRecursions.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Builtins.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Expr.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Type.hs
  plutus-tx/compiler/Language/PlutusTx/Plugin.hs
Labels: Plutus IR, Refactoring, Textual representation

#724 [PLC] [Builtins] Changed unlifting ot lists to a straightforward one
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/Instances.hs
Labels: Builtins, Plutus Core, Refactoring

#737 tutorial: Document use of applyScript
  plutus-tutorial/doctest/Tutorial/03-wallet-api.md
Labels: Docs

#733 [PLC] [Builtins] Made the sum and product 'KnownDynamicBuiltinType' instances pure
  language-plutus-core/prelude/PlutusPrelude.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Apply.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/Instances.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/Sum.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/Unit.hs
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/Sum/Sum.plc.golden
  plutus-core-interpreter/test/DynamicBuiltins/MakeRead.hs
Labels: Builtins, Plutus Core, Refactoring, bug

#751 [PLC] [Builtins] Added parametric polymorphism
  .hlint.yaml
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Denotation.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Entity.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  language-plutus-core/prelude/PlutusPrelude.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Apply.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/Instances.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Function.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Typed.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Result.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/List.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Everything.hs
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/List/Reverse.plc.golden
  plutus-core-interpreter/plutus-core-interpreter.cabal
  plutus-core-interpreter/src/Language/PlutusCore/Interpreter/CekMachine.hs
  plutus-core-interpreter/test/DynamicBuiltins/Common.hs
  plutus-core-interpreter/test/DynamicBuiltins/Definition.hs
  plutus-core-interpreter/test/DynamicBuiltins/Factorial.hs
  plutus-core-interpreter/test/DynamicBuiltins/MakeRead.hs
  plutus-core-interpreter/test/DynamicBuiltins/Spec.hs
  wallet-api/src/Ledger/Types.hs
Labels: Builtins, Plutus Core

#772 [PLC] [Test] Added a couple of unsatated builtins application tests
  .hlint.yaml
  language-plutus-core/generators/Language/PlutusCore/Generators/Interesting.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Entity.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/Function.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Everything.hs
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/Function/Apply.plc.golden
Labels: Builtins, Plutus Core, Test

#777 wallet-api: Extract map
  plutus-playground-client/src/Chain/BlockchainExploration.purs
  plutus-playground-client/test/evaluation_response1.json
  plutus-playground-server/app/PSGenerator.hs
  plutus-playground-server/test/Playground/UsecasesSpec.hs
  plutus-tutorial/tutorial/Tutorial/Emulator.hs
  plutus-tutorial/tutorial/Tutorial/Vesting.hs
  wallet-api/src/Ledger/Map.hs
  wallet-api/src/Ledger/Map/TH.hs
  wallet-api/src/Ledger/These.hs
  wallet-api/src/Ledger/These/TH.hs
  wallet-api/src/Ledger/Value/TH.hs
  wallet-api/wallet-api.cabal
Labels: Refactoring

#768 Meadow: Transaction errors
  meadow-client/src/MainFrame.purs
  meadow-client/src/Simulation.purs
  meadow-client/src/StaticData.purs
  meadow-client/src/Types.purs
  meadow-client/static/main.scss
  meadow/app/PSGenerator.hs
  meadow/contracts/ZeroCouponBond.hs
  meadow/src/Meadow/Contracts.hs
Labels: Meadow

#683 [PlutusTx] Added decoding from PLC tests
  language-plutus-core/language-plutus-core.cabal
  pkgs/default.nix
  plutus-tx/compiler/Language/PlutusTx/Plugin.hs
  plutus-tx/plutus-tx.cabal
  plutus-tx/test/Plugin/ReadValue.hs
  plutus-tx/test/Plugin/Spec.hs
  plutus-tx/test/Plugin/errors/negativeInt.plc.golden
Labels: Builtins, Plutus Tx, Test
