Repository IntersectMBO/plutus, pull requests merged in 2019-06, with the labels that each got.

#1080 plutus-tx: make the Plutus Tx Prelude a full Prelude replacement
  .hlint.yaml
  marlowe/src/Language/Marlowe/Common.hs
  plutus-playground-server/src/Playground/Interpreter.hs
  plutus-playground-server/test/Playground/UsecasesSpec.hs
  plutus-playground-server/usecases/CrowdFunding.hs
  plutus-playground-server/usecases/Game.hs
  plutus-playground-server/usecases/Messages.hs
  plutus-playground-server/usecases/Vesting.hs
  plutus-tutorial/doctest/Tutorial/02-validator-scripts.md
  plutus-tutorial/doctest/Tutorial/03-wallet-api.md
  plutus-tutorial/tutorial/Tutorial/Solutions0.hs
  plutus-tutorial/tutorial/Tutorial/Solutions2.hs
  plutus-tutorial/tutorial/Tutorial/Vesting.hs
  plutus-tx/src/Language/PlutusTx.hs
  plutus-tx/src/Language/PlutusTx/Prelude.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/CrowdFunding.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Currency.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Future.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Game.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/GameStateMachine.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/MultiSig.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/MultiSigStateMachine.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/PubKey.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Swap.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Vesting.hs
  plutus-wallet-api/ledger/Ledger/Ada.hs
  plutus-wallet-api/ledger/Ledger/Map.hs
  plutus-wallet-api/ledger/Ledger/Scripts.hs
  plutus-wallet-api/ledger/Ledger/Slot.hs
  plutus-wallet-api/ledger/Ledger/Validation.hs
  plutus-wallet-api/ledger/Ledger/Value.hs
  plutus-wallet-api/src/Language/PlutusTx/StateMachine.hs
Labels: Plutus Tx

#1068 Build: fix issues with -O0
  marlowe/src/Language/Marlowe/Client.hs
  marlowe/src/Language/Marlowe/Common.hs
  nix/overlays/required.nix
  plutus-emulator/test/Spec.hs
  plutus-playground-server/plutus-playground-server.cabal
  plutus-playground-server/src/Playground/Interpreter.hs
  plutus-playground-server/test/Playground/UsecasesSpec.hs
  plutus-playground-server/usecases/CrowdFunding.hs
  plutus-playground-server/usecases/Game.hs
  plutus-playground-server/usecases/Vesting.hs
  plutus-tutorial/plutus-tutorial.cabal
  plutus-tutorial/tutorial/Tutorial/ExUtil.hs
  plutus-tutorial/tutorial/Tutorial/Solutions0.hs
  plutus-tutorial/tutorial/Tutorial/Solutions0Mockchain.hs
  plutus-tutorial/tutorial/Tutorial/Solutions1.hs
  plutus-tutorial/tutorial/Tutorial/Solutions2.hs
  plutus-tutorial/tutorial/Tutorial/Vesting.hs
  plutus-tx/README.md
  plutus-tx/plutus-tx.cabal
  plutus-tx/src/Language/PlutusTx/Prelude.hs
  plutus-use-cases/plutus-use-cases.cabal
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/CrowdFunding.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Currency.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Future.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Game.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/GameStateMachine.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/MultiSig.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/MultiSigStateMachine.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/PubKey.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Swap.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Vesting.hs
  plutus-wallet-api/ledger/Ledger/Ada.hs
  plutus-wallet-api/ledger/Ledger/Interval.hs
  plutus-wallet-api/ledger/Ledger/Map.hs
  plutus-wallet-api/ledger/Ledger/Scripts.hs
  plutus-wallet-api/ledger/Ledger/Slot.hs
  plutus-wallet-api/ledger/Ledger/These.hs
  plutus-wallet-api/ledger/Ledger/Validation.hs
  plutus-wallet-api/ledger/Ledger/Value.hs
  plutus-wallet-api/plutus-wallet-api.cabal
  plutus-wallet-api/src/Language/PlutusTx/StateMachine.hs
  plutus-wallet-api/src/Wallet/API.hs
Labels: Build

#1097 Only put "public" packages into the published Haddock
  default.nix
  deploy-docs.sh
  lib.nix
  shell.nix
Labels: Docs

#1096 plutus-tutorial: switch to asciidoctor
  cabal.project
  default.nix
  pkgs/default.nix
  plutus-tutorial/.gitignore
  plutus-tutorial/README.adoc
  plutus-tutorial/README.md
  plutus-tutorial/doc/01-plutus-tx.adoc
  plutus-tutorial/doc/02-validator-scripts.adoc
  plutus-tutorial/doc/03-wallet-api.adoc
  plutus-tutorial/doc/default.nix
  plutus-tutorial/doc/glossary.adoc
  plutus-tutorial/doc/images/actions.PNG
  plutus-tutorial/doc/images/compile-contract.gif
  plutus-tutorial/doc/images/game-actions-2.PNG
  plutus-tutorial/doc/images/game-actions.PNG
  plutus-tutorial/doc/images/game-logs.PNG
  plutus-tutorial/doc/images/game-results.PNG
  plutus-tutorial/doc/images/logs.png
  plutus-tutorial/doc/index.adoc
  plutus-tutorial/doc/intro.adoc
  plutus-tutorial/doc/overview.adoc
  plutus-tutorial/doctest/Tutorial/01-plutus-tx.md
  plutus-tutorial/doctest/Tutorial/02-validator-scripts.md
  plutus-tutorial/doctest/Tutorial/03-wallet-api.md
  plutus-tutorial/doctest/Tutorial/PlutusTx.lhs
  plutus-tutorial/doctest/Tutorial/ValidatorScripts.lhs
  plutus-tutorial/doctest/Tutorial/WalletAPI.lhs
  plutus-tutorial/plutus-tutorial.cabal
  plutus-tutorial/tutorial/Intro.md
  stack.yaml
Labels: Docs

#1051 Plutus core/script bench
  .hlint.yaml
  language-plutus-core/bench/Bench.hs
  language-plutus-core/bench/script.plci
  language-plutus-core/language-plutus-core.cabal
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/BuiltinName.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/OffChain.hs
  plutus-tx/compiler/Language/PlutusTx/Plugin.hs
Labels: Benchmarks, Plutus Core

#1094 Add a latex builder
  .gitignore
  default.nix
  docs/fomega/lazy-machine/default.nix
  docs/multi-currency/default.nix
  extended-utxo-spec/default.nix
  nix/latex.nix
  plutus-core-spec/default.nix
Labels: Build

#1049 language-plutus-core: use traversals to cut down on some boilerplate
  language-plutus-core/src/Language/PlutusCore.hs
  language-plutus-core/src/Language/PlutusCore/Normalize/Internal.hs
  language-plutus-core/src/Language/PlutusCore/Subst.hs
  language-plutus-core/src/Language/PlutusCore/TH.hs
  language-plutus-core/src/Language/PlutusCore/Type.hs
  plutus-ir/src/Language/PlutusIR.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Datatype.hs
  plutus-ir/src/Language/PlutusIR/Transform/Substitute.hs
Labels: Plutus Core, Refactoring

#1086 extrinsic and untyped renaming and substitution commute
  metatheory/Main.lagda
  metatheory/Scoped.lagda
  metatheory/Scoped/Erasure.lagda
  metatheory/Scoped/Erasure/Reduction.lagda
  metatheory/Scoped/Erasure/RenamingSubstitution.lagda
  metatheory/Scoped/Extrication/Reduction.lagda
  metatheory/Scoped/Reduction.lagda
  metatheory/Scoped/RenamingSubstitution.lagda
  metatheory/Untyped.lagda
  metatheory/Untyped/Reduction.lagda
  metatheory/Untyped/RenamingSubstitution.lagda
Labels: Metatheory

#1110 plutus-tx: append -> ++
  plutus-tx/src/Language/PlutusTx/Prelude.hs
  plutus-wallet-api/ledger/Ledger/Map.hs
Labels: Plutus Tx

#1114 plutus-book: skeleton
  CONTRIBUTING.md
  cabal.project
  default.nix
  lib.nix
  pkgs/default.nix
  plutus-book/.gitignore
  plutus-book/LICENSE
  plutus-book/NOTICE
  plutus-book/README.md
  plutus-book/doc/01-intro.adoc
  plutus-book/doc/02-example-lhs.adoc
  plutus-book/doc/default.nix
  plutus-book/doc/images/favicon.ico
  plutus-book/doc/plutus.adoc
  plutus-book/plutus-book.cabal
  plutus-book/src/Example.lhs
  stack.yaml
Labels: Docs

#1117 add MonadApp class for meadow
  meadow-client/src/MainFrame.purs
  meadow-client/src/MonadApp.purs
  meadow-client/src/Simulation.purs
  meadow-client/src/Types.purs
  plutus-playground-client/src/MonadApp.purs
  web-common/src/Editor.purs
Labels: Meadow

#1119 plutus-wallet-api: typecheck scripts as we are supposed to
  language-plutus-core/bench/Bench.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  language-plutus-core/language-plutus-core.cabal
  language-plutus-core/src/Language/PlutusCore.hs
  language-plutus-core/src/Language/PlutusCore/Check/Normal.hs
  language-plutus-core/src/Language/PlutusCore/Check/Uniques.hs
  language-plutus-core/src/Language/PlutusCore/Check/Value.hs
  language-plutus-core/src/Language/PlutusCore/Normalize.hs
  language-plutus-core/src/Language/PlutusCore/View.hs
  language-plutus-core/test/Check/Spec.hs
  language-plutus-core/test/Normalization/Check.hs
  language-plutus-core/test/TypeSynthesis/Spec.hs
  plutus-emulator/test/Spec.hs
  plutus-tx/compiler/Language/PlutusTx/Code.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Error.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Types.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/ValueRestriction.hs
  plutus-tx/compiler/Language/PlutusTx/Plugin.hs
  plutus-wallet-api/ledger/Ledger/Scripts.hs
Labels: Plutus Core, Plutus Tx

#1124 Bump iohk-nix for iconv fix
  iohk-nix.json
  release.nix
Labels: Build

#1128 language-plutus-core: add lessThanByteString and greaterThanByteString
  language-plutus-core/src/Language/PlutusCore/CBOR.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Apply.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Name.hs
  language-plutus-core/src/Language/PlutusCore/Lexer.x
  language-plutus-core/src/Language/PlutusCore/Lexer/Type.hs
  plutus-core-spec/figures/Builtins.tex
  plutus-tx/compiler/Language/PlutusTx/Builtins.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Builtins.hs
  plutus-tx/src/Language/PlutusTx/Prelude.hs
  plutus-tx/test/Plugin/Primitives/Spec.hs
  plutus-tx/test/Plugin/Primitives/ltByteString.plc.golden
Labels: Plutus Core, Spec

#1108 erasure of syntax, renaming/substitution and reduction
  metatheory/Algorithmic.lagda
  metatheory/Algorithmic/Completeness.lagda
  metatheory/Algorithmic/Erasure.lagda
  metatheory/Algorithmic/Erasure/Reduction.lagda
  metatheory/Algorithmic/Erasure/RenamingSubstitution.lagda
  metatheory/Algorithmic/Evaluation.lagda
  metatheory/Algorithmic/Examples.lagda
  metatheory/Algorithmic/Reduction.lagda
  metatheory/Algorithmic/RenamingSubstitution.lagda
  metatheory/Algorithmic/Soundness.lagda
  metatheory/AlgorithmicRed/Term.lagda
  metatheory/AlgorithmicRed/Term/RenamingSubstitution.lagda
  metatheory/Declarative.lagda
  metatheory/Declarative/Erasure.lagda
  metatheory/Declarative/RenamingSubstitution.lagda
  metatheory/Everything.lagda
  metatheory/Scoped/Erasure/RenamingSubstitution.lagda
  metatheory/Scoped/Extrication.lagda
  metatheory/Scoped/Extrication/Reduction.lagda
  metatheory/Scoped/Extrication/RenamingSubstitution.lagda
  metatheory/Scoped/Reduction.lagda
  metatheory/Type/BetaNBE.lagda
  metatheory/Type/BetaNBE/Completeness.lagda
  metatheory/Type/BetaNBE/RenamingSubstitution.lagda
  metatheory/Type/BetaNBE/Soundness.lagda
  metatheory/Type/BetaNBE/Stability.lagda
  metatheory/Type/BetaNormal.lagda
  metatheory/Type/Equality.lagda
  metatheory/Type/Reduction.lagda
  metatheory/Type/RenamingSubstitution.lagda
  metatheory/Untyped.lagda
  metatheory/Untyped/Reduction.lagda
Labels: Metatheory

#1154 plutus-tx: support typeclasses and add some basic classes
  marlowe/src/Language/Marlowe/Common.hs
  marlowe/test/Spec/Marlowe.hs
  plutus-emulator/src/Wallet/Emulator/Types.hs
  plutus-emulator/test/Spec.hs
  plutus-playground-server/usecases/CrowdFunding.hs
  plutus-playground-server/usecases/Game.hs
  plutus-playground-server/usecases/Vesting.hs
  plutus-tutorial/doc/02-validator-scripts.adoc
  plutus-tutorial/doc/03-wallet-api.adoc
  plutus-tutorial/doc/04-vesting.adoc
  plutus-tx/compiler/Language/PlutusTx/Compiler/Expr.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Types.hs
  plutus-tx/plutus-tx.cabal
  plutus-tx/src/Language/PlutusTx/Bool.hs
  plutus-tx/src/Language/PlutusTx/Eq.hs
  plutus-tx/src/Language/PlutusTx/Functor.hs
  plutus-tx/src/Language/PlutusTx/List.hs
  plutus-tx/src/Language/PlutusTx/Maybe.hs
  plutus-tx/src/Language/PlutusTx/Ord.hs
  plutus-tx/src/Language/PlutusTx/Prelude.hs
  plutus-tx/test/Plugin/Lib.hs
  plutus-tx/test/Plugin/Spec.hs
  plutus-tx/test/Plugin/Typeclasses/Lib.hs
  plutus-tx/test/Plugin/Typeclasses/Spec.hs
  plutus-tx/test/Plugin/Typeclasses/defaultMethods.plc.golden
  plutus-tx/test/Plugin/Typeclasses/multiFunction.plc.golden
  plutus-tx/test/Plugin/Typeclasses/sizedBasic.plc.golden
  plutus-tx/test/Plugin/Typeclasses/sizedPair.plc.golden
  plutus-tx/test/TH/Spec.hs
  plutus-tx/test/TH/TestTH.hs
  plutus-tx/test/TH/all.plc.golden
  plutus-use-cases/plutus-use-cases.cabal
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Currency.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Future.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Game.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/GameStateMachine.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/GameStateMachine/Types.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/MultiSig.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/MultiSigStateMachine.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/MultiSigStateMachine/Types.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Swap.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Vesting.hs
  plutus-wallet-api/ledger/Ledger/Ada.hs
  plutus-wallet-api/ledger/Ledger/Crypto.hs
  plutus-wallet-api/ledger/Ledger/Index.hs
  plutus-wallet-api/ledger/Ledger/Map.hs
  plutus-wallet-api/ledger/Ledger/Scripts.hs
  plutus-wallet-api/ledger/Ledger/Slot.hs
  plutus-wallet-api/ledger/Ledger/Validation.hs
  plutus-wallet-api/ledger/Ledger/Value.hs
  plutus-wallet-api/ledger/LedgerBytes.hs
  plutus-wallet-api/src/Language/PlutusTx/StateMachine.hs
  plutus-wallet-api/src/Wallet/API.hs
  plutus-wallet-api/test/Spec.hs
Labels: Plutus Tx

#1165 Fix stack file syntax
  pkgs/default.nix
  stack.yaml
Labels: Build

#1164 plutus-tx: add Semigroup and Monoid
  marlowe/src/Language/Marlowe/Client.hs
  plutus-emulator/src/Wallet/Emulator/Types.hs
  plutus-playground-server/usecases/CrowdFunding.hs
  plutus-playground-server/usecases/Vesting.hs
  plutus-tutorial/doc/03-wallet-api.adoc
  plutus-tutorial/doc/04-vesting.adoc
  plutus-tx/plutus-tx.cabal
  plutus-tx/src/Language/PlutusTx/Monoid.hs
  plutus-tx/src/Language/PlutusTx/Prelude.hs
  plutus-tx/src/Language/PlutusTx/Semigroup.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/CrowdFunding.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Future.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/MultiSigStateMachine.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Vesting.hs
  plutus-wallet-api/ledger/Ledger/AddressMap.hs
  plutus-wallet-api/ledger/Ledger/Index.hs
  plutus-wallet-api/ledger/Ledger/Interval.hs
  plutus-wallet-api/ledger/Ledger/Map.hs
  plutus-wallet-api/ledger/Ledger/Slot.hs
  plutus-wallet-api/ledger/Ledger/Validation.hs
  plutus-wallet-api/ledger/Ledger/Value.hs
  plutus-wallet-api/src/Wallet/API.hs
  plutus-wallet-api/test/Spec.hs
Labels: Plutus Tx

#1169 plutus-tx: absorb Map and These modules
  pkgs/default.nix
  plutus-emulator/test/Spec.hs
  plutus-playground-lib/plutus-playground-lib.cabal
  plutus-playground-lib/src/Playground/API.hs
  plutus-playground-server/app/PSGenerator.hs
  plutus-tx/plutus-tx.cabal
  plutus-tx/src/Language/PlutusTx/AssocMap.hs
  plutus-tx/src/Language/PlutusTx/These.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Currency.hs
  plutus-wallet-api/ledger/Ledger/Value.hs
  plutus-wallet-api/plutus-wallet-api.cabal
  plutus-wallet-api/test/Spec.hs
Labels: Plutus Tx

#1173 correspondence between typed and untyped progress via erasure
  metatheory/Algorithmic/Erasure/Reduction.lagda
  metatheory/Untyped/RenamingSubstitution.lagda
Labels: Metatheory

#1174 playground usecases: wrap to 80 characters
  plutus-playground-server/usecases/CrowdFunding.hs
  plutus-playground-server/usecases/Game.hs
  plutus-playground-server/usecases/Messages.hs
  plutus-playground-server/usecases/Vesting.hs
Labels: Plutus Playgrounds

#1181 Fix new stack by removing absolute symlink
  stack.yaml
Labels: Build

#1172 plutus-use-cases: add some benchmarks for crypto and multisig
  pkgs/default.nix
  plutus-use-cases/bench/Bench.hs
  plutus-use-cases/bench/IFix.hs
  plutus-use-cases/bench/Recursion.hs
  plutus-use-cases/bench/Scott.hs
  plutus-use-cases/plutus-use-cases.cabal
  plutus-wallet-api/ledger/Ledger/Index.hs
  plutus-wallet-api/ledger/Ledger/Scripts.hs
  plutus-wallet-api/ledger/Ledger/Validation.hs
Labels: Performance

#1187 plutus-tx: reverse GHC's OccName tidying
  plutus-tx/compiler/Language/PlutusTx/Compiler/Names.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Type.hs
  plutus-tx/test/Plugin/Data/monomorphic/defaultCase.plc.golden
  plutus-tx/test/Plugin/Data/monomorphic/enum.plc.golden
  plutus-tx/test/Plugin/Data/monomorphic/irrefutableMatch.plc.golden
  plutus-tx/test/Plugin/Data/monomorphic/monoCase.plc.golden
  plutus-tx/test/Plugin/Data/monomorphic/monoConstructed.plc.golden
  plutus-tx/test/Plugin/Data/monomorphic/monoConstructor.plc.golden
  plutus-tx/test/Plugin/Data/monomorphic/monoDataType.plc.golden
  plutus-tx/test/Plugin/Data/monomorphic/nonValueCase.plc.golden
  plutus-tx/test/Plugin/Data/polymorphic/defaultCasePoly.plc.golden
  plutus-tx/test/Plugin/Data/polymorphic/polyConstructed.plc.golden
  plutus-tx/test/Plugin/Data/polymorphic/polyDataType.plc.golden
  plutus-tx/test/Plugin/Functions/unfoldings/recordSelector.plc.golden
  plutus-tx/test/Plugin/Functions/unfoldings/recordSelectorExternal.plc.golden
  plutus-tx/test/Plugin/Laziness/joinError.plc.golden
  plutus-tx/test/Plugin/Typeclasses/defaultMethods.plc.golden
Labels: Plutus Tx
