Repository IntersectMBO/plutus, pull requests merged in 2020-05, with the labels that each got.

#2005 SCP-391: Don't serialise unit annotations
  language-plutus-core/exe/Main.hs
  language-plutus-core/src/Language/PlutusCore/CBOR.hs
  language-plutus-core/test/Spec.hs
  plutus-ledger/src/Data/Aeson/Extras.hs
  plutus-ledger/src/Ledger/Scripts.hs
  plutus-use-cases/test/Spec/crowdfundingTestOutput.txt
  plutus-use-cases/test/Spec/renderCrowdfunding.txt
  plutus-use-cases/test/Spec/renderGuess.txt
  plutus-use-cases/test/Spec/renderVesting.txt
Labels: Plutus Core

#2006 Technical report: builtins section and fancy diagram
  README.adoc
  docs/plutus-report/applications.tex
  docs/plutus-report/intro.tex
  docs/plutus-report/paf-architecture.pdf
  docs/plutus-report/plutus.bib
  docs/plutus-report/plutus.tex
  docs/plutus-report/scripting.tex
Labels: Docs

#2001 SCP-252: [PLC] [Docs] Added a writeup on builtins
  language-plutus-core/docs/Builtins.md
Labels: Builtins, Docs, Plutus Core

#2013 [PLC] [Evaluation] Drop environments of constants
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Cek.hs
Labels: Builtins, Evaluation, Plutus Core

#2024 SCP-350 - Add warning for empty choice list to linting
  marlowe-playground-client/src/Marlowe/Linter.purs
  marlowe-playground-client/test/Marlowe/LintTests.purs
Labels: Meadow, User experience

#2034 Murder `plutus-emulator` and `plutus-contract-tasty`
  ARCHITECTURE.adoc
  cabal.project
  default.nix
  hie-cabal.yaml
  hie-stack.yaml
  marlowe/marlowe.cabal
  nix/haskell.nix
  nix/stack.materialized/default.nix
  nix/stack.materialized/marlowe.nix
  nix/stack.materialized/playground-common.nix
  nix/stack.materialized/plutus-contract-tasty.nix
  nix/stack.materialized/plutus-contract.nix
  nix/stack.materialized/plutus-emulator.nix
  nix/stack.materialized/plutus-playground-server.nix
  nix/stack.materialized/plutus-scb.nix
  nix/stack.materialized/plutus-tutorial.nix
  nix/stack.materialized/plutus-use-cases.nix
  playground-common/playground-common.cabal
  plutus-contract-tasty/ARCHITECTURE.adoc
  plutus-contract-tasty/LICENSE
  plutus-contract-tasty/NOTICE
  plutus-contract-tasty/plutus-contract-tasty.cabal
  plutus-contract-tasty/test/Spec.hs
  plutus-contract/ARCHITECTURE.adoc
  plutus-contract/plutus-contract.cabal
  plutus-contract/src/Control/Monad/Freer/Extras.hs
  plutus-contract/src/Control/Monad/Freer/Log.hs
  plutus-contract/src/Language/Plutus/Contract/Test.hs
  plutus-contract/src/Wallet.hs
  plutus-contract/src/Wallet/API.hs
  plutus-contract/src/Wallet/Effects.hs
  plutus-contract/src/Wallet/Emulator.hs
  plutus-contract/src/Wallet/Emulator/Chain.hs
  plutus-contract/src/Wallet/Emulator/ChainIndex.hs
  plutus-contract/src/Wallet/Emulator/Error.hs
  plutus-contract/src/Wallet/Emulator/Generators.hs
  plutus-contract/src/Wallet/Emulator/MultiAgent.hs
  plutus-contract/src/Wallet/Emulator/NodeClient.hs
  plutus-contract/src/Wallet/Emulator/SigningProcess.hs
  plutus-contract/src/Wallet/Emulator/Types.hs
  plutus-contract/src/Wallet/Emulator/Wallet.hs
  plutus-contract/src/Wallet/Graph.hs
  plutus-contract/src/Wallet/Rollup.hs
  plutus-contract/src/Wallet/Rollup/Render.hs
  plutus-contract/src/Wallet/Rollup/Types.hs
  plutus-contract/test/Spec.hs
  plutus-contract/test/Spec/Contract.hs
  plutus-contract/test/Spec/Emulator.hs
  plutus-emulator/ARCHITECTURE.adoc
  plutus-emulator/LICENSE
  plutus-emulator/NOTICE
  plutus-emulator/README.md
  plutus-emulator/plutus-emulator.cabal
  plutus-playground-server/plutus-playground-server.cabal
  plutus-scb/plutus-scb.cabal
  plutus-tutorial/plutus-tutorial.cabal
  plutus-use-cases/plutus-use-cases.cabal
  stack.yaml
Labels: Build

#2031 Kwxm/plc builtin updates
  plutus-core-spec/figures/Builtins.tex
  plutus-core-spec/figures/TypeSynthesis-Algorithmic.tex
  plutus-core-spec/figures/TypeSynthesis.tex
  plutus-core-spec/figures/TypedCekMachine.tex
  plutus-core-spec/figures/TypedCkMachine.tex
  plutus-core-spec/figures/UntypedCekMachine.tex
  plutus-core-spec/plutus-core-specification.tex
Labels: Plutus Core, Spec
