Repository IntersectMBO/plutus, pull requests merged in 2020-04, with the labels that each got.

#1927 SCP-179 - Improvements to linting mechanism
  marlowe-playground-client/src/Marlowe/Holes.purs
  marlowe-playground-client/src/Marlowe/Linter.purs
  marlowe-playground-client/src/Marlowe/Semantics.purs
  marlowe-playground-client/webpack.config.js
Labels: Marlowe, Meadow, User experience

#1931 Add potential problems section to index
  marlowe-tutorial/doc/index.adoc
Labels: Tutorials

#1935 A few minor improvements to ci.nix
  ci.nix
  default.nix
  nix/sources.json
  nixpkgs.json
  release.nix
Labels: Build

#1937 Fix Value simplifications not shown by linter
  marlowe-playground-client/src/Marlowe/Linter.purs
Labels: Marlowe, Meadow, bug

#1942 SCP-234 Add tests for Marlowe lint and fix bugs
  marlowe-playground-client/src/Marlowe/Linter.purs
  marlowe-playground-client/test/Main.purs
  marlowe-playground-client/test/Marlowe/LintTests.purs
Labels: Marlowe, Meadow, bug

#1930 [PLC] [Evaluation] [Builtins] Generating mappings during evaluation of builtins in the polymorphic case
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Cek.hs
  language-plutus-core/src/Language/PlutusCore/Quote.hs
Labels: Builtins, Evaluation, Plutus Core

#1948 Remove obsolete Overflow error
  plutus-ir/src/Language/PlutusIR/Parser.hs
Labels: Plutus IR

#1959 Purge a couple of dead overlays, tidy the musl one a little
  ci.nix
  default.nix
  nix/default.nix
  nix/overlays/force-error.nix
  nix/overlays/haskell-overrides.nix
  nix/overlays/musl.nix
  nix/overlays/static-haskell.nix
  release.nix
Labels: Build

#1957 Add monetary policy scripts
  extended-utxo-spec/extended-utxo-specification.tex
Labels: Extended UTXO, Spec

#1946 SCP-277 - determinism of untyped reduction/intrinsically typed reduction, better builtins and associated refactoring
  metatheory/Algorithmic.lagda
  metatheory/Algorithmic/Completeness.lagda
  metatheory/Algorithmic/Erasure.lagda
  metatheory/Algorithmic/Erasure/Reduction.lagda
  metatheory/Algorithmic/Erasure/RenamingSubstitution.lagda
  metatheory/Algorithmic/Main.lagda
  metatheory/Algorithmic/Reduction.lagda
  metatheory/Algorithmic/RenamingSubstitution.lagda
  metatheory/Algorithmic/Soundness.lagda
  metatheory/Check.lagda.md
  metatheory/Declarative.lagda
  metatheory/Declarative/Erasure.lagda
  metatheory/Declarative/RenamingSubstitution.lagda
  metatheory/Everything.lagda
  metatheory/Main.lagda
  metatheory/Opts.hs
  metatheory/Raw.lagda
  metatheory/Scoped.lagda
  metatheory/Scoped/CK.lagda.md
  metatheory/Scoped/Erasure.lagda
  metatheory/Scoped/Erasure/Reduction.lagda
  metatheory/Scoped/Erasure/RenamingSubstitution.lagda
  metatheory/Scoped/Extrication.lagda
  metatheory/Scoped/Extrication/Reduction.lagda
  metatheory/Scoped/Extrication/RenamingSubstitution.lagda
  metatheory/Scoped/Reduction.lagda
  metatheory/Scoped/RenamingSubstitution.lagda
  metatheory/TestDetailed.hs
  metatheory/TestSimple.hs
  metatheory/Untyped.lagda
  metatheory/Untyped/Reduction.lagda
  metatheory/Untyped/RenamingSubstitution.lagda
  metatheory/Utils.lagda
  papers/system-f-in-agda/errata.txt
  papers/system-f-in-agda/paper.lagda
Labels: Metatheory

#1979 SCP-277 untyped evaluation
  metatheory/Algorithmic.lagda
  metatheory/Algorithmic/Erasure.lagda
  metatheory/Algorithmic/Erasure/Reduction.lagda
  metatheory/Algorithmic/Erasure/RenamingSubstitution.lagda
  metatheory/Algorithmic/Reduction.lagda
  metatheory/Declarative/Erasure.lagda
  metatheory/Everything.lagda
  metatheory/Main.lagda
  metatheory/Opts.hs
  metatheory/Scoped/Erasure.lagda
  metatheory/Scoped/Erasure/Reduction.lagda
  metatheory/Scoped/Erasure/RenamingSubstitution.lagda
  metatheory/TestSimple.hs
  metatheory/Untyped.lagda
  metatheory/Untyped/Reduction.lagda
  metatheory/Untyped/RenamingSubstitution.lagda
  metatheory/Utils.lagda
  metatheory/plc-agda.cabal
  nix/haskell.nix
Labels: Metatheory, Test

#1986 Make `plc` accept CBOR files, and add PLC/CBOR conversions.
  language-plutus-core/exe/Main.hs
  language-plutus-core/language-plutus-core.cabal
  nix/haskell.nix
Labels: Plutus Exe

#1987 Update nixpkgs to 20.03
  deployment/shell.nix
  docs/plutus-report/applications.tex
  docs/plutus-report/intro.tex
  docs/plutus-report/ledger.tex
  docs/plutus-report/plutus.tex
  docs/plutus-report/scripting.tex
  language-plutus-core/src/Language/PlutusCore.hs
  nix/haskell.nix
  nix/sources.json
  shell.nix
Labels: Build

#2002 haskell.nix: materialize the Nix files
  .gitignore
  CONTRIBUTING.adoc
  nix/haskell.nix
  nix/sources.json
  nix/stack.materialized/.stack-to-nix.cache
  nix/stack.materialized/.stack-to-nix.cache.0
  nix/stack.materialized/.stack-to-nix.cache.1
  nix/stack.materialized/.stack-to-nix.cache.2
  nix/stack.materialized/.stack-to-nix.cache.3
  nix/stack.materialized/.stack-to-nix.cache.4
  nix/stack.materialized/default.nix
  nix/stack.materialized/deployment-server.nix
  nix/stack.materialized/iots-export.nix
  nix/stack.materialized/language-plutus-core.nix
  nix/stack.materialized/marlowe-hspec.nix
  nix/stack.materialized/marlowe-playground-server.nix
  nix/stack.materialized/marlowe-symbolic.nix
  nix/stack.materialized/marlowe.nix
  nix/stack.materialized/playground-common.nix
  nix/stack.materialized/plc-agda.nix
  nix/stack.materialized/plutus-book.nix
  nix/stack.materialized/plutus-contract-tasty.nix
  nix/stack.materialized/plutus-contract.nix
  nix/stack.materialized/plutus-emulator.nix
  nix/stack.materialized/plutus-ir.nix
  nix/stack.materialized/plutus-ledger.nix
  nix/stack.materialized/plutus-playground-lib.nix
  nix/stack.materialized/plutus-playground-server.nix
  nix/stack.materialized/plutus-scb.nix
  nix/stack.materialized/plutus-tutorial.nix
  nix/stack.materialized/plutus-tx-plugin.nix
  nix/stack.materialized/plutus-tx.nix
  nix/stack.materialized/plutus-use-cases.nix
Labels: Build
