Repository IntersectMBO/plutus, pull requests merged in 2020-02, with the labels that each got.

#1824 Bump stackage and nixpkgs
  cabal.project.freeze
  default.nix
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/ExBudgeting.hs
  nix/overlays/musl.nix
  nix/sources.json
  nixpkgs.json
  pkgs/default.nix
  plutus-contract-tasty/src/Language/Plutus/Contract/Test.hs
  plutus-contract/src/Language/Plutus/Contract/Effects/AwaitSlot.hs
  plutus-contract/src/Language/Plutus/Contract/Effects/AwaitTxConfirmed.hs
  plutus-contract/src/Language/Plutus/Contract/Effects/OwnPubKey.hs
  plutus-contract/src/Language/Plutus/Contract/Effects/WatchAddress.hs
  plutus-contract/src/Language/Plutus/Contract/Effects/WriteTx.hs
  plutus-contract/src/Language/Plutus/Contract/Resumable.hs
  plutus-contract/src/Language/Plutus/Contract/Schema.hs
  plutus-emulator/src/Wallet/Rollup/Render.hs
  plutus-wallet-api/ledger/Ledger/Ada.hs
  plutus-wallet-api/ledger/Ledger/Crypto.hs
  plutus-wallet-api/ledger/Ledger/Index.hs
  plutus-wallet-api/ledger/Ledger/Scripts.hs
  plutus-wallet-api/ledger/Ledger/TxId.hs
  plutus-wallet-api/ledger/Ledger/Value.hs
  plutus-wallet-api/ledger/LedgerBytes.hs
  stack.yaml
Labels: Build

#1830 Kwxm/fix to pending tx defn
  extended-utxo-spec/extended-utxo-specification.tex
  papers/eutxo/formal-model.tex
  papers/eutxo/formal-verification.tex
Labels: Docs, Extended UTXO

#1835 [PLC] [Evaluation] Deleted the lazy machine
  language-plutus-core/language-plutus-core.cabal
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/L.hs
  language-plutus-core/test/Evaluation/Machines.hs
  plutus-exe/src/Main.hs
Labels: Evaluation, Plutus Core

#1847 plutus-ir: use fix1, share fixBy
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/Function.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Everything.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Meta/Data/Tuple.hs
  language-plutus-core/test/Evaluation/Golden.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Definitions.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Let.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Recursion.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Types.hs
  plutus-ir/test/Spec.hs
  plutus-ir/test/recursion/even3.golden
  plutus-ir/test/recursion/even3Eval.golden
  plutus-ir/test/recursion/mutuallyRecursiveValues.golden
  plutus-ir/test/recursion/stupidZero
  plutus-ir/test/recursion/stupidZero.golden
  plutus-tx-plugin/test/Plugin/Data/recursive/sameEmptyRose.plc.golden
  plutus-tx-plugin/test/Plugin/Data/recursive/sameEmptyRoseEval.plc.golden
  plutus-tx-plugin/test/Plugin/Functions/recursive/even3.plc.golden
  plutus-tx-plugin/test/Plugin/Functions/recursive/even4.plc.golden
  plutus-tx-plugin/test/TH/all.plc.golden
  plutus-use-cases/test/Spec/crowdfundingTestOutput.txt
  plutus-use-cases/test/Spec/renderCrowdfunding.txt
  plutus-use-cases/test/Spec/renderGuess.txt
  plutus-use-cases/test/Spec/renderVesting.txt
Labels: Plutus IR
