Repository IntersectMBO/plutus, pull requests merged in 2020-06, with the labels that each got.

#2044 Remove buildkite check
  .buildkite/pipeline.yml
Labels: Build

#2058 SCP-248 - Add tests for simplification hints of Scale
  marlowe-playground-client/test/BridgeTests.purs
  marlowe-playground-client/test/Marlowe/LintTests.purs
Labels: Marlowe, Meadow, Test

#2064 SCP-264 - Ensure Show result can be used with ghc/ghci
  marlowe/marlowe.cabal
  marlowe/src/Language/Marlowe.hs
  marlowe/src/Language/Marlowe/Pretty.hs
  marlowe/src/Language/Marlowe/Semantics.hs
  marlowe/test/Spec.hs
  marlowe/test/Spec/Marlowe/Common.hs
  marlowe/test/Spec/Marlowe/Marlowe.hs
  nix/stack.materialized/marlowe.nix
Labels: Marlowe, Test, User experience

#2071 SCP-267 - Improve presentation of static analysis counterexamples
  marlowe-playground-client/src/Simulation/BottomPanel.purs
  marlowe-playground-client/static/css/panels.css
  plutus-scb-client/src/MainFrame.purs
  plutus-scb-client/src/Types.purs
Labels: Marlowe symbolic, Meadow, User experience

#2052 CEK SCP-66
  metatheory/Algorithmic/CEKC.lagda.md
  metatheory/Algorithmic/CEKD.lagda.md
  metatheory/Algorithmic/CEKV.lagda.md
  metatheory/Algorithmic/CK.lagda.md
  metatheory/Algorithmic/Completeness.lagda
  metatheory/Algorithmic/Erasure.lagda
  metatheory/Algorithmic/Erasure/Reduction.lagda
  metatheory/Algorithmic/Main.lagda
  metatheory/Algorithmic/Reduction.lagda
  metatheory/Everything.lagda
  metatheory/Main.lagda
  metatheory/Opts.hs
  metatheory/Scoped/CK.lagda.md
  metatheory/Scoped/Extrication.lagda
  metatheory/Scoped/Reduction.lagda
  metatheory/TestDetailed.hs
  metatheory/TestSimple.hs
  metatheory/Type/CEK.lagda.md
  metatheory/Type/CK.lagda.md
  metatheory/Type/Reduction.lagda
  metatheory/plc-agda.cabal
  nix/stack.materialized/plc-agda.nix
Labels: Metatheory

#2086 [UPLC] [Docs] Representation of the untyped AST
  docs/untyped-plutus-core/representation/README.md
  docs/untyped-plutus-core/representation/representation.cabal
  docs/untyped-plutus-core/representation/src/IndexedTypity.hs
  docs/untyped-plutus-core/representation/src/Main.hs
  docs/untyped-plutus-core/representation/stack.yaml
  language-plutus-core/src/Language/PlutusCore/Core/Type.hs
  language-plutus-core/src/Language/PlutusCore/DeBruijn.hs
  language-plutus-core/src/Language/PlutusCore/Name.hs
Labels: Docs, Untyped Plutus Core

#2090 SCP-659 - Move payments to Log tab
  marlowe-playground-client/src/Marlowe/Semantics.purs
  marlowe-playground-client/src/Simulation.purs
  marlowe-playground-client/src/Simulation/BottomPanel.purs
  marlowe-playground-client/src/Simulation/State.purs
Labels: Marlowe, Meadow, User experience

#2106 CEK proposal
  docs/fomega/evaluation/CEK.md
  metatheory/Algorithmic/CK.lagda.md
Labels: Docs

#2119 typos in CEK document
  docs/fomega/evaluation/CEK.md
Labels: Docs

#2123 SCP-846 - Add bindings in the State of the simulator to linting
  marlowe-playground-client/src/Marlowe/Linter.purs
  marlowe-playground-client/src/Wallet.purs
Labels: Marlowe, Meadow
