Repository IntersectMBO/plutus, pull requests merged in 2020-08, with the labels that each got.

#2187 [Docs] [Builtins] Added a doc about saturated vs unsaturated builtins
  language-plutus-core/docs/Builtins.md
  language-plutus-core/docs/Saturatedness.md
Labels: Builtins, Docs

#2203 Move ISOLA papers to the main repository
  README.adoc
  default.nix
  papers/eutxo/README.md
  papers/eutxoma/Makefile
  papers/eutxoma/README.md
  papers/eutxoma/appendix.tex
  papers/eutxoma/applications.tex
  papers/eutxoma/default.nix
  papers/eutxoma/eutxoma.bib
  papers/eutxoma/eutxoma.tex
  papers/eutxoma/formalisation.tex
  papers/eutxoma/informal.tex
  papers/eutxoma/intro.tex
  papers/eutxoma/llncs.cls
  papers/eutxoma/related-work.tex
  papers/eutxoma/splncs04.bst
  papers/utxoma/Makefile
  papers/utxoma/README.md
  papers/utxoma/applications.tex
  papers/utxoma/default.nix
  papers/utxoma/discussion.tex
  papers/utxoma/intro.tex
  papers/utxoma/llncs.cls
  papers/utxoma/model.tex
  papers/utxoma/mps-language.tex
  papers/utxoma/multicurrency.tex
  papers/utxoma/splncs04.bst
  papers/utxoma/utxoma.bib
  papers/utxoma/utxoma.tex
Labels: Docs

#2212 Remove catamorphisms from CBOR encoder (SCP-1033)
  language-plutus-core/src/Language/PlutusCore/CBOR.hs
Labels: Plutus Core

#2194 [PLC] [Builtins] Allow binding type variables of any kind in the type of a built-in function
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Denotation.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Entity.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Apply.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Function.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Name.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Typed.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/List.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/Nat.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins/Definition.hs
Labels: Builtins, Plutus Core, Type checking

#2217 Kwxm/remove staged builtins
  language-plutus-core/budgeting-bench/Bench.hs
  language-plutus-core/examples/Language/PlutusCore/Examples/Data/Vec.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/AST.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Interesting.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Denotation.hs
  language-plutus-core/plutus-ir/Language/PlutusIR.hs
  language-plutus-core/plutus-ir/Language/PlutusIR/Generators/AST.hs
  language-plutus-core/plutus-ir/Language/PlutusIR/Parser.hs
  language-plutus-core/plutus-ir/Language/PlutusIR/Purity.hs
  language-plutus-core/src/Language/PlutusCore.hs
  language-plutus-core/src/Language/PlutusCore/CBOR.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Apply.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Function.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Name.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Typed.hs
  language-plutus-core/src/Language/PlutusCore/Core/Instance/Eq.hs
  language-plutus-core/src/Language/PlutusCore/Core/Instance/Pretty/Common.hs
  language-plutus-core/src/Language/PlutusCore/Core/Instance/Pretty/Plc.hs
  language-plutus-core/src/Language/PlutusCore/Core/Type.hs
  language-plutus-core/src/Language/PlutusCore/Error.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Cek.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Ck.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/ExBudgeting.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/ExMemory.hs
  language-plutus-core/src/Language/PlutusCore/MkPlc.hs
  language-plutus-core/src/Language/PlutusCore/Parser.y
  language-plutus-core/src/Language/PlutusCore/TypeCheck.hs
  language-plutus-core/src/Language/PlutusCore/TypeCheck/Internal.hs
  language-plutus-core/src/Language/PlutusCore/View.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/Bool.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/Integer.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/List.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/Nat.hs
  language-plutus-core/test/Check/Spec.hs
  language-plutus-core/test/Evaluation/ApplyBuiltinName.hs
  language-plutus-core/test/Evaluation/Machines/Budget/Fib/1.plc.golden
  language-plutus-core/test/Evaluation/Machines/Budget/Fib/2.plc.golden
  language-plutus-core/test/Evaluation/Machines/Budget/Fib/3.plc.golden
  language-plutus-core/test/Evaluation/Machines/Counting/Fib/1.plc.golden
  language-plutus-core/test/Evaluation/Machines/Counting/Fib/2.plc.golden
  language-plutus-core/test/Evaluation/Machines/Counting/Fib/3.plc.golden
  language-plutus-core/test/Evaluation/Spec.hs
  language-plutus-core/test/TypeSynthesis/Spec.hs
  metatheory/Builtin.lagda
  metatheory/Raw.hs
  plutus-tx-plugin/src/Language/PlutusTx/Compiler/Builtins.hs
Labels: Plutus Core, Plutus IR

#2061 [PIR] [Docs] Added a doc about type checking PIR
  language-plutus-core/docs/Typechecking PIR.md
Labels: Docs, Plutus IR, Type checking

#2220 Refactoring the node server and client.
  plutus-contract/src/Wallet/Emulator/Chain.hs
  plutus-scb/plutus-scb.yaml.sample
  plutus-scb/src/Cardano/Node/Mock.hs
  plutus-scb/src/Cardano/Node/Server.hs
  plutus-scb/src/Cardano/Node/Types.hs
  plutus-scb/src/Cardano/Protocol/ChainEffect.hs
  plutus-scb/src/Cardano/Protocol/FollowerEffect.hs
  plutus-scb/src/Cardano/Protocol/Socket/Client.hs
  plutus-scb/src/Cardano/Protocol/Socket/Server.hs
Labels: Refactoring, SCB

#2208 Kwxm/machines eval builtins
  language-plutus-core/docs/Constant-application.md
  notes/fomega/evaluation/builtin-evaluation.md
Labels: Plutus Core

#2222 Custom setup for metatheory
  README.adoc
  default.nix
  metatheory/Setup.hs
  metatheory/default.nix
  metatheory/plc-agda.cabal
  nix/agda/builder.nix
  nix/agda/default.nix
  nix/agda/standard-library.nix
  nix/haskell.nix
  nix/sources.json
  nix/stack.materialized/plc-agda.nix
  papers/system-f-in-agda/default.nix
  papers/unraveling-recursion/default.nix
  shell.nix
  stack.yaml
Labels: Build

#2231 Add cost model notes document
  default.nix
  nix/latex.nix
  notes/cost-model-notes/Makefile
  notes/cost-model-notes/README.md
  notes/cost-model-notes/cost-model-notes.tex
  notes/cost-model-notes/default.nix
  notes/cost-model-notes/figures/Makefile
  notes/cost-model-notes/figures/Simon.png
  notes/cost-model-notes/figures/div-plot-small.png
  notes/cost-model-notes/figures/kwxm.png
  notes/cost-model-notes/figures/mul-large.png
  notes/cost-model-notes/figures/mul-small-1.png
  notes/cost-model-notes/figures/mul-small-2.png
  notes/cost-model-notes/sample.R
Labels: Costs, Docs

#2142 Kwxm/alternative cek (SCP-816)
  language-plutus-core/budgeting-bench/models.R
  language-plutus-core/common/PlcTestUtils.hs
  language-plutus-core/exe/Main.hs
  language-plutus-core/language-plutus-core.cabal
  language-plutus-core/src/Language/PlutusCore/Constant/Apply.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Function.hs
  language-plutus-core/src/Language/PlutusCore/Core/Instance/Eq.hs
  language-plutus-core/src/Language/PlutusCore/Core/Type.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Cek.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Ck.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/ExBudgeting.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Exception.hs
  language-plutus-core/src/Language/PlutusCore/Name.hs
  language-plutus-core/test/Evaluation/ApplyBuiltinName.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins/Common.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins/Definition.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins/MakeRead.hs
  language-plutus-core/test/Evaluation/Machines/Budget/Fib/1.plc.golden
  language-plutus-core/test/Evaluation/Machines/Budget/Fib/2.plc.golden
  language-plutus-core/test/Evaluation/Machines/Budget/Fib/3.plc.golden
  language-plutus-core/test/Evaluation/Machines/Counting/Fib/1.plc.golden
  language-plutus-core/test/Evaluation/Machines/Counting/Fib/2.plc.golden
  language-plutus-core/test/Evaluation/Machines/Counting/Fib/3.plc.golden
  plutus-tx/src/Language/PlutusTx/Evaluation.hs
Labels: Evaluation, Plutus Core

#2236 Thread environments through CEK machine
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Cek.hs
Labels: Evaluation, Plutus Core

#2238 Kwxm/alternative ck 2
  language-plutus-core/bench/Bench.hs
  language-plutus-core/exe/Main.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Entity.hs
  language-plutus-core/language-plutus-core.cabal
  language-plutus-core/src/Language/PlutusCore.hs
  language-plutus-core/src/Language/PlutusCore/CBOR.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Apply.hs
  language-plutus-core/src/Language/PlutusCore/Core/Type.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Cek.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Ck.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Exception.hs
  language-plutus-core/src/Language/PlutusCore/View.hs
  language-plutus-core/test/Evaluation/ApplyBuiltinName.hs
  language-plutus-core/test/Evaluation/Machines.hs
  nix/stack.materialized/language-plutus-core.nix
  plutus-ledger/src/Ledger/Orphans.hs
Labels: Evaluation, Plutus Core

#2242 [PLC] [Test] [Builtins] Added a test showing that higher-rank built-in functions are allowed
  language-plutus-core/test/Evaluation/DynamicBuiltins/Definition.hs
Labels: Builtins, Plutus Core, Test

#2226 integrate Agda model with NEAT testing SCP-753
  metatheory/Algorithmic/CEKC.lagda.md
  metatheory/Algorithmic/CEKV.lagda.md
  metatheory/Algorithmic/CK.lagda.md
  metatheory/Algorithmic/Erasure/Reduction.lagda
  metatheory/Algorithmic/Reduction.lagda
  metatheory/Check.lagda.md
  metatheory/Main.lagda
  metatheory/Raw.hs
  metatheory/Scoped.lagda
  metatheory/Scoped/CK.lagda.md
  metatheory/Scoped/Reduction.lagda
  metatheory/TestDetailed.hs
  metatheory/TestNEAT.hs
  metatheory/Untyped/Reduction.lagda
  metatheory/Utils.lagda
  metatheory/plc-agda.cabal
  nix/haskell.nix
  nix/stack.materialized/plc-agda.nix
  nix/stack.materialized/plutus-core.nix
  plutus-core/generators/Language/PlutusCore/Generators/NEAT/Common.hs
  plutus-core/generators/Language/PlutusCore/Generators/NEAT/PropTest.hs
  plutus-core/generators/Language/PlutusCore/Generators/NEAT/Type.hs
  plutus-core/plutus-core.cabal
  plutus-core/test/Spec.hs
Labels: Metatheory, Test

#2249 [PLC] [Evaluation] Returned failure causes
  plutus-core/src/Language/PlutusCore/Evaluation/Machine/Cek.hs
  plutus-core/src/Language/PlutusCore/Evaluation/Machine/Exception.hs
Labels: Evaluation, Plutus Core

#2268 [PLC] [Costing] Generalized 'ExBudgetCategory'
  plutus-core/src/Language/PlutusCore/Constant/Apply.hs
  plutus-core/src/Language/PlutusCore/Evaluation/Machine/Cek.hs
  plutus-core/src/Language/PlutusCore/Evaluation/Machine/Ck.hs
  plutus-core/src/Language/PlutusCore/Evaluation/Machine/ExBudgeting.hs
  plutus-core/test/Evaluation/ApplyBuiltinName.hs
  plutus-core/untyped-plutus-core-test/Evaluation/ApplyBuiltinName.hs
  plutus-tx-plugin/test/TH/Spec.hs
  plutus-tx/src/Language/PlutusTx/Evaluation.hs
Labels: Costs, Plutus Core
