Repository IntersectMBO/plutus, pull requests merged in 2020-01, with the labels that each got.

#1754 Tidy cabal.project
  cabal.project
Labels: Build

#1522 ledger: generalize the fee field to Value
  extended-utxo-spec/extended-utxo-specification.tex
  plutus-contract/src/Language/Plutus/Contract/Tx.hs
  plutus-contract/src/Language/Plutus/Contract/Wallet.hs
  plutus-emulator/test/Spec.hs
  plutus-playground-client/src/Chain/Types.purs
  plutus-playground-client/src/Chain/View.purs
  plutus-use-cases/test/Spec/Future.hs
  plutus-use-cases/test/Spec/TokenAccount.hs
  plutus-use-cases/test/Spec/crowdfunding.pir
  plutus-use-cases/test/Spec/crowdfundingTestOutput.txt
  plutus-use-cases/test/Spec/future.pir
  plutus-use-cases/test/Spec/game.pir
  plutus-use-cases/test/Spec/gameStateMachine.pir
  plutus-use-cases/test/Spec/multisig.pir
  plutus-use-cases/test/Spec/multisigStateMachine.pir
  plutus-use-cases/test/Spec/renderCrowdfunding.txt
  plutus-use-cases/test/Spec/renderGuess.txt
  plutus-use-cases/test/Spec/renderVesting.txt
  plutus-use-cases/test/Spec/vesting.pir
  plutus-wallet-api/ledger/Ledger/Index.hs
  plutus-wallet-api/ledger/Ledger/Tx.hs
  plutus-wallet-api/ledger/Ledger/Validation.hs
  plutus-wallet-api/src/Wallet/API.hs
  plutus-wallet-api/src/Wallet/Generators.hs
Labels: Ledger

#1756 plutus-tx: try and give better errors for uses of == arising from literal patterns
  plutus-tx/compiler/Language/PlutusTx/Compiler/Expr.hs
  plutus-tx/test/Plugin/Errors/Spec.hs
  plutus-tx/test/Plugin/Errors/literalCaseBs.plc.golden
  plutus-tx/test/Plugin/Errors/literalCaseInt.plc.golden
  plutus-tx/test/Plugin/Errors/literalCaseOther.plc.golden
Labels: Plutus Tx

#1773 plutus-ir: share fixpoint combinator
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/Function.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Everything.hs
  language-plutus-core/test/Evaluation/Golden.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Let.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Recursion.hs
  plutus-ir/src/Language/PlutusIR/Compiler/Types.hs
  plutus-ir/test/recursion/even3.golden
  plutus-ir/test/recursion/even3Eval.golden
  plutus-ir/test/recursion/mutuallyRecursiveValues.golden
  plutus-tx/test/Plugin/Data/recursive/sameEmptyRose.plc.golden
  plutus-tx/test/Plugin/Data/recursive/sameEmptyRoseEval.plc.golden
  plutus-tx/test/Plugin/Functions/recursive/even3.plc.golden
  plutus-tx/test/Plugin/Functions/recursive/even4.plc.golden
  plutus-tx/test/TH/all.plc.golden
  plutus-use-cases/test/Spec/Future.hs
  plutus-use-cases/test/Spec/TokenAccount.hs
  plutus-use-cases/test/Spec/crowdfundingTestOutput.txt
  plutus-use-cases/test/Spec/renderCrowdfunding.txt
  plutus-use-cases/test/Spec/renderGuess.txt
  plutus-use-cases/test/Spec/renderVesting.txt
Labels: Plutus IR

#1778 [PLC] [Builtins] Deleted a broken 'Alternative' instance of 'ReflectT'
  language-plutus-core/src/Language/PlutusCore/Constant/Typed.hs
Labels: Builtins, Plutus Core, bug

#1783 plutus-core: remove the value restriction in favour of big-lambdas computing
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  language-plutus-core/src/Language/PlutusCore.hs
  language-plutus-core/src/Language/PlutusCore/CBOR.hs
  language-plutus-core/src/Language/PlutusCore/Check/Value.hs
  language-plutus-core/src/Language/PlutusCore/Error.hs
  language-plutus-core/test/Check/Spec.hs
  language-plutus-core/test/Evaluation/Golden.hs
  language-plutus-core/test/Evaluation/Golden/polyError.plc.golden
  language-plutus-core/test/Evaluation/Golden/polyErrorInst.plc.golden
  language-plutus-core/test/TypeSynthesis/Spec.hs
  marlowe/src/Language/Marlowe/Semantics.hs
  plutus-core-spec/figures/CkMachine.tex
  plutus-core-spec/figures/Grammar-Algorithmic-Restricted.tex
  plutus-core-spec/figures/Grammar.tex
  plutus-core-spec/figures/TermReduction.tex
  plutus-core-spec/plutus-core-specification.tex
  plutus-ir/src/Language/PlutusIR/Compiler/Datatype.hs
  plutus-ir/src/Language/PlutusIR/Value.hs
  plutus-tx/compiler/Language/PlutusTx/Builtins.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Binders.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Builtins.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Error.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Expr.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/Type.hs
  plutus-tx/compiler/Language/PlutusTx/Compiler/ValueRestriction.hs
  plutus-tx/plutus-tx.cabal
  plutus-tx/src/Language/PlutusTx/AssocMap.hs
  plutus-tx/src/Language/PlutusTx/List.hs
  plutus-tx/src/Language/PlutusTx/Prelude.hs
  plutus-tx/test/Plugin/Data/monomorphic/irrefutableMatch.plc.golden
  plutus-tx/test/Plugin/Errors/Spec.hs
  plutus-tx/test/Plugin/Errors/valueRestriction.plc.golden
  plutus-tx/test/Plugin/Primitives/void.plc.golden
  plutus-tx/test/StdLib/Spec.hs
  plutus-tx/test/StdLib/errorTrace.plc.golden
  plutus-use-cases/test/Spec/crowdfunding.pir
  plutus-use-cases/test/Spec/crowdfundingTestOutput.txt
  plutus-use-cases/test/Spec/future.pir
  plutus-use-cases/test/Spec/gameStateMachine.pir
  plutus-use-cases/test/Spec/multisig.pir
  plutus-use-cases/test/Spec/multisigStateMachine.pir
  plutus-use-cases/test/Spec/renderCrowdfunding.txt
  plutus-use-cases/test/Spec/renderVesting.txt
  plutus-wallet-api/ledger/Ledger/Value.hs
Labels: Plutus Core, Plutus Tx, Spec

#1795 Reduce number of max inputs per transaction to 1 in Marlowe symbolic
  marlowe-symbolic/src/Language/Marlowe/Analysis/FSSemantics.hs
Labels: Marlowe symbolic, Meadow, Performance

#1801 plutus-ledger: implement the separate MPS proposal
  marlowe/src/Language/Marlowe/Semantics.hs
  plutus-contract/src/Language/Plutus/Contract/Tx.hs
  plutus-emulator/src/Wallet/Emulator/MultiAgent.hs
  plutus-playground-server/app/PSGenerator.hs
  plutus-use-cases/bench/Bench.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Currency.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/Future.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/GameStateMachine.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/TokenAccount.hs
  plutus-use-cases/test/Spec/Currency.hs
  plutus-use-cases/test/Spec/Future.hs
  plutus-use-cases/test/Spec/crowdfunding.pir
  plutus-use-cases/test/Spec/crowdfundingTestOutput.txt
  plutus-use-cases/test/Spec/future.pir
  plutus-use-cases/test/Spec/game.pir
  plutus-use-cases/test/Spec/gameStateMachine.pir
  plutus-use-cases/test/Spec/multisig.pir
  plutus-use-cases/test/Spec/multisigStateMachine.pir
  plutus-use-cases/test/Spec/renderCrowdfunding.txt
  plutus-use-cases/test/Spec/renderGuess.txt
  plutus-use-cases/test/Spec/renderVesting.txt
  plutus-use-cases/test/Spec/vesting.pir
  plutus-wallet-api/ledger/Ledger/Index.hs
  plutus-wallet-api/ledger/Ledger/Scripts.hs
  plutus-wallet-api/ledger/Ledger/Tx.hs
  plutus-wallet-api/ledger/Ledger/Typed/Scripts.hs
  plutus-wallet-api/ledger/Ledger/Typed/Tx.hs
  plutus-wallet-api/ledger/Ledger/Validation.hs
  plutus-wallet-api/src/Wallet/API.hs
  plutus-wallet-api/src/Wallet/Generators.hs
Labels: Ledger

#1729 remove names from metatheory
  default.nix
  language-plutus-core/src/Language/PlutusCore/Parser.y
  metatheory/Algorithmic.lagda
  metatheory/Algorithmic/CK.lagda.md
  metatheory/Algorithmic/Completeness.lagda
  metatheory/Algorithmic/Equality.lagda.md
  metatheory/Algorithmic/Erasure.lagda
  metatheory/Algorithmic/Reduction.lagda
  metatheory/Algorithmic/RenamingSubstitution.lagda
  metatheory/Algorithmic/Soundness.lagda
  metatheory/Builtin/Constant/Type.lagda
  metatheory/Check.lagda.md
  metatheory/Declarative.lagda
  metatheory/Declarative/Erasure.lagda
  metatheory/Declarative/RenamingSubstitution.lagda
  metatheory/Declarative/StdLib/Bool.lagda
  metatheory/Declarative/StdLib/ChurchNat.lagda
  metatheory/Declarative/StdLib/Function.lagda
  metatheory/Declarative/StdLib/Nat.lagda
  metatheory/Declarative/StdLib/Unit.lagda
  metatheory/Everything.lagda
  metatheory/Main.lagda
  metatheory/Raw.hs
  metatheory/Raw.lagda
  metatheory/Scoped.lagda
  metatheory/Scoped/CK.lagda.md
  metatheory/Scoped/Erasure.lagda
  metatheory/Scoped/Erasure/RenamingSubstitution.lagda
  metatheory/Scoped/Extrication.lagda
  metatheory/Scoped/Reduction.lagda
  metatheory/Scoped/RenamingSubstitution.lagda
  metatheory/TestDetailed.hs
  metatheory/Type.lagda
  metatheory/Type/BetaNBE.lagda
  metatheory/Type/BetaNBE/Completeness.lagda
  metatheory/Type/BetaNBE/RenamingSubstitution.lagda
  metatheory/Type/BetaNBE/Soundness.lagda
  metatheory/Type/BetaNBE/Stability.lagda
  metatheory/Type/BetaNormal.lagda
  metatheory/Type/BetaNormal/Equality.lagda.md
  metatheory/Type/Equality.lagda
  metatheory/Type/Reduction.lagda
  metatheory/Type/RenamingSubstitution.lagda
  metatheory/Untyped.lagda
  metatheory/Untyped/Reduction.lagda
  metatheory/Untyped/RenamingSubstitution.lagda
  metatheory/plc-agda.cabal
  metatheory/plc-agda.nix
  nix/sources.json
  pkgs/default.nix
  stack.yaml
Labels: Metatheory

#1816 [PLC] [Builtins] Deleted unused unlifting
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/Instances.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins/Definition.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins/Logging.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins/MakeRead.hs
  plutus-tx-plugin/plutus-tx-plugin.cabal
  plutus-tx-plugin/test/Plugin/ReadValue/Spec.hs
  plutus-tx-plugin/test/Plugin/Spec.hs
Labels: Builtins, Plutus Core, Refactoring, Test

#1813 [PLC] [Evaluation] [Refactoring] Use prismatic error handling
  language-plutus-core/generators/Language/PlutusCore/Generators/Interesting.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  language-plutus-core/language-plutus-core.cabal
  language-plutus-core/prelude/PlutusPrelude.hs
  language-plutus-core/src/Control/Monad/Trans/Inner.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Apply.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/Emit.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/Instances.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/OnChain.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Typed.hs
  language-plutus-core/src/Language/PlutusCore/Error.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Cek.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Ck.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Exception.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/L.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Result.hs
  language-plutus-core/test/Evaluation/ApplyBuiltinName.hs
  language-plutus-core/test/Evaluation/Constant.hs
  language-plutus-core/test/Evaluation/Constant/Apply.hs
  language-plutus-core/test/Evaluation/Constant/Success.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins/Logging.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins/MakeRead.hs
  language-plutus-core/test/Evaluation/Golden.hs
  language-plutus-core/test/Evaluation/Spec.hs
Labels: Builtins, Do not merge, Evaluation, Plutus Core, Refactoring

#1805 remove value restriction from metatheory
  metatheory/Algorithmic.lagda
  metatheory/Algorithmic/CK.lagda.md
  metatheory/Algorithmic/Erasure.lagda
  metatheory/Algorithmic/Erasure/Reduction.lagda
  metatheory/Algorithmic/Erasure/RenamingSubstitution.lagda
  metatheory/Algorithmic/Reduction.lagda
  metatheory/Declarative/Erasure.lagda
  metatheory/Everything.lagda
  metatheory/Scoped/CK.lagda.md
  metatheory/Scoped/Erasure.lagda
  metatheory/Scoped/Erasure/Reduction.lagda
  metatheory/Scoped/Erasure/RenamingSubstitution.lagda
  metatheory/Scoped/Reduction.lagda
  metatheory/Scoped/RenamingSubstitution.lagda
  metatheory/Type/BetaNormal.lagda
  metatheory/Untyped.lagda
  metatheory/Untyped/Reduction.lagda
  metatheory/Untyped/RenamingSubstitution.lagda
Labels: Metatheory
