Repository IntersectMBO/plutus, pull requests merged in 2020-12, with the labels that each got.

#2494 [Bug] [PLC] [Builtins] Unlifting to 'Int' can fail
  plutus-core/src/Language/PlutusCore/Builtins.hs
  plutus-core/src/Language/PlutusCore/Constant/Apply.hs
  plutus-core/src/Language/PlutusCore/Constant/Typed.hs
  plutus-core/src/Language/PlutusCore/Evaluation/Machine/Cek.hs
  plutus-core/src/Language/PlutusCore/Evaluation/Machine/Ck.hs
  plutus-core/src/Language/PlutusCore/Evaluation/Machine/Exception.hs
  plutus-core/src/Language/PlutusCore/Evaluation/Result.hs
  plutus-core/test/Evaluation/ApplyBuiltinName.hs
  plutus-core/test/Evaluation/Golden.hs
  plutus-core/test/Evaluation/Golden/takeTooMuch.plc.golden
  plutus-core/test/Evaluation/Golden/takeTooMuch.type.golden
  plutus-core/untyped-plutus-core-test/Evaluation/ApplyBuiltinName.hs
  plutus-core/untyped-plutus-core/Language/UntypedPlutusCore/Evaluation/Machine/Cek.hs
Labels: Builtins, Plutus Core, bug

#2360 SCP-538 Update builtins in plutus-metatheory
  nix/stack.materialized/plutus-metatheory.nix
  plutus-metatheory/plutus-metatheory.cabal
  plutus-metatheory/src/Algorithmic.lagda
  plutus-metatheory/src/Algorithmic/CEKC.lagda.md
  plutus-metatheory/src/Algorithmic/CEKD.lagda.md
  plutus-metatheory/src/Algorithmic/CEKV.lagda.md
  plutus-metatheory/src/Algorithmic/CK.lagda.md
  plutus-metatheory/src/Algorithmic/Completeness.lagda
  plutus-metatheory/src/Algorithmic/Erasure.lagda
  plutus-metatheory/src/Algorithmic/Erasure/RenamingSubstitution.lagda
  plutus-metatheory/src/Algorithmic/Evaluation.lagda
  plutus-metatheory/src/Algorithmic/Main.lagda
  plutus-metatheory/src/Algorithmic/Reduction.lagda
  plutus-metatheory/src/Algorithmic/RenamingSubstitution.lagda
  plutus-metatheory/src/Algorithmic/Soundness.lagda
  plutus-metatheory/src/Builtin/Signature.lagda
  plutus-metatheory/src/Check.lagda.md
  plutus-metatheory/src/Declarative.lagda
  plutus-metatheory/src/Declarative/Erasure.lagda
  plutus-metatheory/src/Declarative/Examples.lagda
  plutus-metatheory/src/Declarative/Examples/StdLib/ChurchNat.lagda
  plutus-metatheory/src/Declarative/RenamingSubstitution.lagda
  plutus-metatheory/src/Everything.lagda
  plutus-metatheory/src/Main.lagda
  plutus-metatheory/src/Opts.hs
  plutus-metatheory/src/Raw.hs
  plutus-metatheory/src/Scoped.lagda
  plutus-metatheory/src/Scoped/CK.lagda.md
  plutus-metatheory/src/Scoped/Erasure.lagda
  plutus-metatheory/src/Scoped/Extrication.lagda
  plutus-metatheory/src/Scoped/Extrication/Reduction.lagda
  plutus-metatheory/src/Scoped/Reduction.lagda
  plutus-metatheory/src/Scoped/RenamingSubstitution.lagda
  plutus-metatheory/src/Type.lagda
  plutus-metatheory/src/Type/BetaNBE/RenamingSubstitution.lagda
  plutus-metatheory/src/Untyped.lagda
  plutus-metatheory/src/Untyped/RenamingSubstitution.lagda
  plutus-metatheory/src/Utils.lagda
  plutus-metatheory/test/TestDetailed.hs
  plutus-metatheory/test/TestNEAT.hs
Labels: Metatheory

#2506 [Builtins] Automatially kind check types of built-in functions
  plutus-core/generators/Language/PlutusCore/Generators/Internal/Denotation.hs
  plutus-core/generators/Language/PlutusCore/Generators/Internal/Dependent.hs
  plutus-core/generators/Language/PlutusCore/Generators/Internal/Entity.hs
  plutus-core/plutus-ir/Language/PlutusIR/Purity.hs
  plutus-core/src/Language/PlutusCore/Builtins.hs
  plutus-core/src/Language/PlutusCore/Constant/Apply.hs
  plutus-core/src/Language/PlutusCore/Constant/Function.hs
  plutus-core/src/Language/PlutusCore/Constant/Meaning.hs
  plutus-core/src/Language/PlutusCore/Constant/Typed.hs
  plutus-core/test/Evaluation/DynamicBuiltins/Definition.hs
  plutus-core/untyped-plutus-core-test/Evaluation/ApplyBuiltinName.hs
Labels: Builtins

#2522 Fix memory leak in CEK machine
  plutus-core/src/Language/PlutusCore/Evaluation/Machine/ExBudgeting.hs
Labels: Evaluation, bug

#2498 SCP-1326: Marlowe Playground Frontend: Unsaved changes modal
  marlowe-playground-client/src/Blockly.js
  marlowe-playground-client/src/Blockly.purs
  marlowe-playground-client/src/Blockly/Events.js
  marlowe-playground-client/src/Blockly/Events.purs
  marlowe-playground-client/src/Blockly/Types.purs
  marlowe-playground-client/src/ConfirmUnsavedNavigation/Types.purs
  marlowe-playground-client/src/ConfirmUnsavedNavigation/View.purs
  marlowe-playground-client/src/Demos/View.purs
  marlowe-playground-client/src/Halogen/ActusBlockly.purs
  marlowe-playground-client/src/Halogen/Blockly.purs
  marlowe-playground-client/src/Halogen/BlocklyCommons.purs
  marlowe-playground-client/src/Halogen/Classes.purs
  marlowe-playground-client/src/HaskellEditor/State.purs
  marlowe-playground-client/src/HaskellEditor/Types.purs
  marlowe-playground-client/src/HaskellEditor/View.purs
  marlowe-playground-client/src/JavascriptEditor/State.purs
  marlowe-playground-client/src/JavascriptEditor/Types.purs
  marlowe-playground-client/src/JavascriptEditor/View.purs
  marlowe-playground-client/src/MainFrame/State.purs
  marlowe-playground-client/src/MainFrame/Types.purs
  marlowe-playground-client/src/MainFrame/View.purs
  marlowe-playground-client/src/Modal/View.purs
  marlowe-playground-client/src/Simulation.purs
  marlowe-playground-client/src/Simulation/Types.purs
  marlowe-playground-client/static/css/confirm_unsaved_navigation.scss
  marlowe-playground-client/static/css/css_var_colors.scss
  marlowe-playground-client/static/css/css_var_globals.scss
  marlowe-playground-client/static/css/globals.scss
  marlowe-playground-client/static/css/header.scss
  marlowe-playground-client/static/css/main.scss
  marlowe-playground-client/static/css/utilities.scss
  web-common/src/Halogen/Analytics.purs
Labels: Meadow

#2528 Fix typo, update documentation, add some bigger primes, add validatio…
  plutus-benchmark/README.md
  plutus-benchmark/nofib/README.md
  plutus-benchmark/nofib/bench/BenchPlc.hs
  plutus-benchmark/nofib/bench/Common.hs
  plutus-benchmark/nofib/exe/Main.hs
  plutus-benchmark/nofib/src/Plutus/Benchmark/Prime.hs
  plutus-benchmark/validation/data/README.md
  plutus-benchmark/validation/data/crowdfunding/make-validations
  plutus-benchmark/validation/data/future/make-validations
  plutus-benchmark/validation/data/make-validations
  plutus-benchmark/validation/data/marlowe/trustfund/make-validations
  plutus-benchmark/validation/data/marlowe/zerocoupon/make-validations
  plutus-benchmark/validation/data/multisigSM/make-validations
  plutus-benchmark/validation/data/vesting/make-validations
Labels: Benchmarks

#2530 [PLC] [Evaluation] Generalize error handling
  plutus-core/generators/Language/PlutusCore/Generators/Interesting.hs
  plutus-core/generators/Language/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  plutus-core/generators/Language/PlutusCore/Generators/Test.hs
  plutus-core/src/Language/PlutusCore/Builtins.hs
  plutus-core/src/Language/PlutusCore/Evaluation/Machine/Cek.hs
  plutus-core/src/Language/PlutusCore/Evaluation/Machine/Ck.hs
  plutus-core/src/Language/PlutusCore/Evaluation/Machine/Exception.hs
  plutus-core/src/Language/PlutusCore/MkPlc.hs
  plutus-core/test/Evaluation/ApplyBuiltinName.hs
  plutus-core/test/Evaluation/Machines.hs
  plutus-core/untyped-plutus-core-test/Evaluation/ApplyBuiltinName.hs
  plutus-core/untyped-plutus-core-test/Evaluation/Machines.hs
  plutus-core/untyped-plutus-core/Language/UntypedPlutusCore/Core/Type.hs
  plutus-core/untyped-plutus-core/Language/UntypedPlutusCore/Evaluation/Machine/Cek.hs
Labels: Evaluation, Plutus Core

#2526 Adding references to the documentation
  doc/index.rst
Labels: Docs

#2404 Use ghc8102-experimental from haskell.nix
  default.nix
  marlowe-playground-client/default.nix
  marlowe-playground-server/lambda.nix
  marlowe-symbolic/lambda.nix
  nix/patches/ghcide_partial_iface.patch
  nix/pkgs/default.nix
  nix/pkgs/haskell/default.nix
  nix/pkgs/haskell/extra.nix
  nix/pkgs/haskell/haskell.nix
  nix/sources.json
  plutus-playground-client/default.nix
  plutus-playground-server/lambda.nix
  shell.nix
Labels: Do not merge
