Repository IntersectMBO/plutus, pull requests merged in 2020-07, with the labels that each got.

#2127 SCP-266 - Add linting for PartialPay and PartialDeposit (with constants)
  marlowe-playground-client/src/Marlowe/Linter.purs
  marlowe-playground-client/test/Marlowe/LintTests.purs
Labels: Marlowe, Meadow, User experience

#2146 SCP-844 - Remove default value for ChoiceValue
  marlowe-playground-client/grammar.ne
  marlowe-playground-client/src/Marlowe/Blockly.purs
  marlowe-playground-client/src/Marlowe/Gen.purs
  marlowe-playground-client/src/Marlowe/Holes.purs
  marlowe-playground-client/src/Marlowe/Linter.purs
  marlowe-playground-client/src/Marlowe/Parser.purs
  marlowe-playground-client/src/Marlowe/Semantics.purs
  marlowe-playground-client/test/BridgeTests.purs
  marlowe-playground-client/test/contract.json
  marlowe-playground-server/contracts/Escrow.hs
  marlowe-playground-server/contracts/Option.hs
  marlowe-playground-server/test/Spec.hs
  marlowe/doc/embedded-marlowe.adoc
  marlowe/doc/marlowe-data.adoc
  marlowe/doc/potential-problems-with-contracts.adoc
  marlowe/src/Language/Marlowe/Analysis/FSSemantics.hs
  marlowe/src/Language/Marlowe/Semantics.hs
  marlowe/test/OldAnalysis/FSSemantics.hs
  marlowe/test/Spec/Marlowe/Common.hs
  marlowe/test/Spec/Marlowe/Marlowe.hs
  marlowe/test/contract.json
Labels: Marlowe

#2065 [PLC] [Test] [TypeCheck] Added 'Examples.Data.Vec'
  docs/fomega/gadts/Expr.agda
  docs/fomega/gadts/ScottVec.agda
  language-plutus-core/examples/Language/PlutusCore/Examples/Data/Vec.hs
  language-plutus-core/examples/Language/PlutusCore/Examples/Everything.hs
  language-plutus-core/language-plutus-core.cabal
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Data/Integer.hs
  language-plutus-core/stdlib/Language/PlutusCore/StdLib/Everything.hs
  language-plutus-core/test/Evaluation/Machines/Budget/Examples/Vec/churchConcat.plc.golden
  language-plutus-core/test/Evaluation/Machines/Budget/Examples/Vec/churchCons.plc.golden
  language-plutus-core/test/Evaluation/Machines/Budget/Examples/Vec/churchNil.plc.golden
  language-plutus-core/test/Evaluation/Machines/Budget/Examples/Vec/scottCons.plc.golden
  language-plutus-core/test/Evaluation/Machines/Budget/Examples/Vec/scottHead.plc.golden
  language-plutus-core/test/Evaluation/Machines/Budget/Examples/Vec/scottNil.plc.golden
  language-plutus-core/test/Evaluation/Machines/Budget/Examples/Vec/scottSumHeadsOr0.plc.golden
  language-plutus-core/test/Evaluation/Machines/Counting/Examples/Vec/churchConcat.plc.golden
  language-plutus-core/test/Evaluation/Machines/Counting/Examples/Vec/churchCons.plc.golden
  language-plutus-core/test/Evaluation/Machines/Counting/Examples/Vec/churchNil.plc.golden
  language-plutus-core/test/Evaluation/Machines/Counting/Examples/Vec/scottCons.plc.golden
  language-plutus-core/test/Evaluation/Machines/Counting/Examples/Vec/scottHead.plc.golden
  language-plutus-core/test/Evaluation/Machines/Counting/Examples/Vec/scottNil.plc.golden
  language-plutus-core/test/Evaluation/Machines/Counting/Examples/Vec/scottSumHeadsOr0.plc.golden
  language-plutus-core/test/Evaluation/Machines/Memory/Examples/Vec/churchConcat.plc.golden
  language-plutus-core/test/Evaluation/Machines/Memory/Examples/Vec/churchCons.plc.golden
  language-plutus-core/test/Evaluation/Machines/Memory/Examples/Vec/churchNil.plc.golden
  language-plutus-core/test/Evaluation/Machines/Memory/Examples/Vec/churchVec.plc.golden
  language-plutus-core/test/Evaluation/Machines/Memory/Examples/Vec/plusT.plc.golden
  language-plutus-core/test/Evaluation/Machines/Memory/Examples/Vec/scottCons.plc.golden
  language-plutus-core/test/Evaluation/Machines/Memory/Examples/Vec/scottHead.plc.golden
  language-plutus-core/test/Evaluation/Machines/Memory/Examples/Vec/scottNil.plc.golden
  language-plutus-core/test/Evaluation/Machines/Memory/Examples/Vec/scottSumHeadsOr0.plc.golden
  language-plutus-core/test/Evaluation/Machines/Memory/Examples/Vec/scottVec.plc.golden
  language-plutus-core/test/Evaluation/Machines/Memory/Examples/Vec/succT.plc.golden
  language-plutus-core/test/Evaluation/Machines/Memory/Examples/Vec/zeroT.plc.golden
  language-plutus-core/test/Evaluation/Machines/Memory/StdLib/Data/Integer/integer.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/Examples/Vec/churchConcat.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/Examples/Vec/churchCons.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/Examples/Vec/churchNil.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/Examples/Vec/churchVec.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/Examples/Vec/plusT.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/Examples/Vec/scottCons.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/Examples/Vec/scottHead.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/Examples/Vec/scottNil.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/Examples/Vec/scottSumHeadsOr0.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/Examples/Vec/scottVec.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/Examples/Vec/succT.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/Examples/Vec/zeroT.plc.golden
  language-plutus-core/test/Pretty/Golden/Readable/StdLib/Data/Integer/integer.plc.golden
  nix/stack.materialized/language-plutus-core.nix
Labels: Plutus Core, Test, Type checking

#2152 [Refac] Moved a GADTs doc under 'notes'
  notes/fomega/gadts/Expr.agda
  notes/fomega/gadts/ScottVec.agda
Labels: Docs, Refactoring

#2116 [PLC] [Builtin] [Evaluation] Parameterized the builtin application machinery over 'term'
  language-plutus-core/common/PlcTestUtils.hs
  language-plutus-core/generate-evaluation-test/Main.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Interesting.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Denotation.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Dependent.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/Entity.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/TypedBuiltinGen.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Test.hs
  language-plutus-core/language-plutus-core.cabal
  language-plutus-core/src/Language/PlutusCore.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Apply.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/BuiltinName.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/Call.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/Emit.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/OffChain.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/OnChain.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Function.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Name.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Typed.hs
  language-plutus-core/src/Language/PlutusCore/Core/Type.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Evaluator.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Cek.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Ck.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/ExBudgeting.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/ExMemory.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Exception.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Result.hs
  language-plutus-core/src/Language/PlutusCore/MkPlc.hs
  language-plutus-core/src/Language/PlutusCore/TypeCheck.hs
  language-plutus-core/src/Language/PlutusCore/TypeCheck/Internal.hs
  language-plutus-core/test/Evaluation/ApplyBuiltinName.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins/Common.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins/Definition.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins/Logging.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins/MakeRead.hs
  language-plutus-core/test/Evaluation/Machines.hs
  nix/stack.materialized/language-plutus-core.nix
  plutus-tx-plugin/src/Language/PlutusTx/Compiler/Builtins.hs
  plutus-tx-plugin/src/Language/PlutusTx/Compiler/Expr.hs
  plutus-tx/src/Language/PlutusTx/Evaluation.hs
Labels: Builtins, Evaluation, Plutus Core, Untyped Plutus Core

#2161 SCP-644 - Simplify Scale implementation
  marlowe-playground-client/src/Marlowe/Semantics.purs
  marlowe/src/Language/Marlowe/Analysis/FSSemantics.hs
  marlowe/src/Language/Marlowe/Semantics.hs
  marlowe/test/OldAnalysis/FSSemantics.hs
  marlowe/test/Spec.hs
  marlowe/test/Spec/Marlowe/Marlowe.hs
Labels: Marlowe, Marlowe symbolic, Meadow

#2159 Build `shell.nix` in CI
  ci.nix
  release.nix
  shell.nix
Labels: Build

#2171 Basic forging policy tutorial
  doc/plutus-doc.cabal
  doc/reference/glossary.rst
  doc/tutorials/BasicPolicies.hs
  doc/tutorials/basic-forging-policies.rst
  doc/tutorials/basic-validators.rst
  doc/tutorials/index.rst
  nix/stack.materialized/plutus-doc.nix
Labels: Docs

#2077 SCP-752 NEAT type level Plutus core property based testing integration
  .gitignore
  language-plutus-core/language-plutus-core.cabal
  language-plutus-core/src/Language/PlutusCore/Core/Type.hs
  language-plutus-core/test/Language/PlutusCore/Gen/Common.hs
  language-plutus-core/test/Language/PlutusCore/Gen/Type.hs
  language-plutus-core/test/Language/PlutusCore/PropTest.hs
  language-plutus-core/test/Spec.hs
  nix/stack.materialized/default.nix
  nix/stack.materialized/language-plutus-core.nix
  stack.yaml
Labels: Test

#2166 [PLC] [Builtins] [Evaluation] Made budgeting step pure again
  language-plutus-core/src/Language/PlutusCore/Constant/Apply.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Dynamic/OffChain.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Name.hs
  language-plutus-core/src/Language/PlutusCore/Constant/Typed.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Cek.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Ck.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/ExBudgeting.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/ExMemory.hs
  language-plutus-core/src/Language/PlutusCore/MkPlc.hs
  language-plutus-core/src/Language/PlutusCore/Universe/Core.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins/Definition.hs
Labels: Builtins, Evaluation, Performance, Plutus Core

#2176 SCP-906 - Add linting for invalid bounds
  marlowe-playground-client/src/Marlowe/Linter.purs
  marlowe-playground-client/test/Marlowe/LintTests.purs
Labels: Marlowe, Meadow, User experience

#2178 Bump dev cabal to 3.2 and use multiple subdirs feature
  cabal.project
  nix/dev.nix
  nix/haskell-extra.nix
  shell.nix
Labels: Build

#2137 Kwxm/cek variations note
  notes/fomega/evaluation/CEK-variations-stats-appendix.md
  notes/fomega/evaluation/CEK-variations-stats-old.md
  notes/fomega/evaluation/CEK-variations-stats.md
  notes/fomega/evaluation/README.md
  notes/fomega/evaluation/alternative-CEK.md
  notes/fomega/evaluation/figures/arith-mem+ck.png
  notes/fomega/evaluation/figures/arith-mem-old.png
  notes/fomega/evaluation/figures/arith-mem.png
  notes/fomega/evaluation/figures/arith-times+ck.png
  notes/fomega/evaluation/figures/arith-times-old.png
  notes/fomega/evaluation/figures/arith-times.png
  notes/fomega/evaluation/figures/fib-mem+ck.png
  notes/fomega/evaluation/figures/fib-mem-old.png
  notes/fomega/evaluation/figures/fib-mem.png
  notes/fomega/evaluation/figures/fib-time-old.png
  notes/fomega/evaluation/figures/fib-time.png
  notes/fomega/evaluation/figures/fib-times+ck.png
  notes/fomega/evaluation/figures/fib-times-old.png
  notes/fomega/evaluation/figures/fib-times.png
  notes/fomega/evaluation/figures/tri-mem+ck.png
  notes/fomega/evaluation/figures/tri-mem-old.png
  notes/fomega/evaluation/figures/tri-mem.png
  notes/fomega/evaluation/figures/tri-times+ck.png
  notes/fomega/evaluation/figures/tri-times-old.png
  notes/fomega/evaluation/figures/tri-times.png
Labels: Evaluation

#2186 SCP-914 - Implement reachability analysis
  marlowe-playground-client/src/Reachability.purs
  marlowe-playground-client/src/Simulation.purs
  marlowe-playground-client/src/Simulation/BottomPanel.purs
  marlowe-playground-client/src/Simulation/Types.purs
  marlowe-playground-server/src/Server.hs
  marlowe-playground-server/src/WebSocket.hs
  marlowe-symbolic/src/App.hs
  marlowe-symbolic/src/Marlowe/Symbolic/Types/Request.hs
  marlowe/src/Language/Marlowe/Analysis/FSSemantics.hs
Labels: Marlowe, Marlowe symbolic, Meadow

#2154 SCP-801 Fixes and Executing a Marlowe contract clarifications. WIP
  marlowe/doc/introducing-marlowe.adoc
  marlowe/doc/marlowe-model.adoc
Labels: Do not merge, Docs, Marlowe

#2188 PIR: add concept of an pure term, use instead of isTermValue
  language-plutus-core/language-plutus-core.cabal
  language-plutus-core/plutus-ir-test/OptimizerSpec.hs
  language-plutus-core/plutus-ir-test/TransformSpec.hs
  language-plutus-core/plutus-ir-test/optimizer/deadCode/builtinBinding.golden
  language-plutus-core/plutus-ir/Language/PlutusIR.hs
  language-plutus-core/plutus-ir/Language/PlutusIR/Analysis/Dependencies.hs
  language-plutus-core/plutus-ir/Language/PlutusIR/Compiler.hs
  language-plutus-core/plutus-ir/Language/PlutusIR/Compiler/Types.hs
  language-plutus-core/plutus-ir/Language/PlutusIR/Optimizer/DeadCode.hs
  language-plutus-core/plutus-ir/Language/PlutusIR/Purity.hs
  language-plutus-core/plutus-ir/Language/PlutusIR/Transform/LetFloat.hs
  language-plutus-core/plutus-ir/Language/PlutusIR/Value.hs
  nix/stack.materialized/language-plutus-core.nix
  plutus-tx-plugin/src/Language/PlutusTx/Compiler/Builtins.hs
  plutus-tx-plugin/src/Language/PlutusTx/Compiler/Expr.hs
  plutus-tx-plugin/src/Language/PlutusTx/Compiler/Expr.hs-boot
  plutus-tx-plugin/src/Language/PlutusTx/Compiler/Laziness.hs
  plutus-tx-plugin/src/Language/PlutusTx/Compiler/Types.hs
  plutus-tx-plugin/src/Language/PlutusTx/Plugin.hs
  plutus-tx-plugin/test/Plugin/Basic/ifOpt.plc.golden
  plutus-tx-plugin/test/Plugin/Data/monomorphic/atPattern.plc.golden
  plutus-tx-plugin/test/Plugin/Functions/recursive/even.plc.golden
  plutus-tx-plugin/test/Plugin/Functions/recursive/even3.plc.golden
  plutus-tx-plugin/test/Plugin/Functions/recursive/even4.plc.golden
  plutus-tx-plugin/test/Plugin/Functions/recursive/fib.plc.golden
  plutus-tx-plugin/test/Plugin/Functions/recursive/sum.plc.golden
  plutus-tx-plugin/test/Plugin/Functions/unfoldings/applicationFunction.plc.golden
  plutus-tx-plugin/test/Plugin/Functions/unfoldings/mutualRecursionUnfoldings.plc.golden
  plutus-tx-plugin/test/Plugin/Functions/unfoldings/polyMap.plc.golden
  plutus-tx-plugin/test/Plugin/Primitives/intDiv.plc.golden
  plutus-tx-plugin/test/Plugin/Primitives/intPlus.plc.golden
  plutus-tx-plugin/test/Plugin/Typeclasses/Spec.hs
  plutus-tx-plugin/test/Plugin/Typeclasses/defaultMethods.plc.golden
  plutus-tx-plugin/test/Plugin/Typeclasses/sizedPair.plc.golden
  plutus-tx-plugin/test/TH/power.plc.golden
  plutus-tx/src/Language/PlutusTx/Lift.hs
  plutus-use-cases/test/Spec/crowdfunding.pir
  plutus-use-cases/test/Spec/crowdfundingTestOutput.txt
  plutus-use-cases/test/Spec/future.pir
  plutus-use-cases/test/Spec/game.pir
  plutus-use-cases/test/Spec/gameStateMachine.pir
  plutus-use-cases/test/Spec/multisig.pir
  plutus-use-cases/test/Spec/multisigStateMachine.pir
  plutus-use-cases/test/Spec/renderCrowdfunding.txt
  plutus-use-cases/test/Spec/renderGuess.txt
  plutus-use-cases/test/Spec/renderVesting.txt
  plutus-use-cases/test/Spec/vesting.pir
Labels: Plutus IR, Plutus Tx
