Repository IntersectMBO/plutus, pull requests merged in 2020-09, with the labels that each got.

#2291 SCP-1183 - Update JSON serialisation to match JSON Schema
  marlowe-playground-client/entry.js
  marlowe-playground-client/src/Data/BigInteger.purs
  marlowe-playground-client/src/Marlowe/Semantics.purs
  marlowe-playground-client/test/contract.json
  marlowe-playground-client/test/state.json
  marlowe/marlowe.cabal
  marlowe/src/Language/Marlowe/Semantics.hs
  marlowe/test/Spec.hs
  marlowe/test/Spec/Marlowe/Marlowe.hs
  marlowe/test/contract.json
  marlowe/test/state.json
  nix/stack.materialized/marlowe.nix
Labels: Marlowe

#2300 [PLC] [Builtins] Made type tags lists of ints
  plutus-core/src/Language/PlutusCore/CBOR.hs
  plutus-core/src/Language/PlutusCore/Parser.y
  plutus-core/src/Language/PlutusCore/Pretty/PrettyConst.hs
  plutus-core/src/Language/PlutusCore/Universe/Core.hs
  plutus-core/src/Language/PlutusCore/Universe/Default.hs
  plutus-use-cases/test/Spec/crowdfundingTestOutput.txt
  plutus-use-cases/test/Spec/renderCrowdfunding.txt
  plutus-use-cases/test/Spec/renderGuess.txt
  plutus-use-cases/test/Spec/renderVesting.txt
Labels: Builtins, Plutus Core

#2295 SCP-1156 - Javascript embedding for Marlowe Playground
  marlowe-playground-client/package.json
  marlowe-playground-client/spago-packages.nix
  marlowe-playground-client/src/Examples/JS/Contracts.purs
  marlowe-playground-client/src/Halogen/Classes.purs
  marlowe-playground-client/src/Halogen/Monaco.purs
  marlowe-playground-client/src/HaskellEditor.purs
  marlowe-playground-client/src/JSEditor.purs
  marlowe-playground-client/src/Language/Haskell/Monaco.purs
  marlowe-playground-client/src/Language/Javascript/Interpreter.js
  marlowe-playground-client/src/Language/Javascript/Interpreter.purs
  marlowe-playground-client/src/Language/Javascript/MarloweJS.ts
  marlowe-playground-client/src/Language/Javascript/Monaco.purs
  marlowe-playground-client/src/MainFrame.purs
  marlowe-playground-client/src/Marlowe/Monaco.purs
  marlowe-playground-client/src/Monaco.js
  marlowe-playground-client/src/Monaco.purs
  marlowe-playground-client/src/Router.purs
  marlowe-playground-client/src/Simulation/BottomPanel.purs
  marlowe-playground-client/src/StaticData.purs
  marlowe-playground-client/src/Types.purs
  marlowe-playground-client/static/css/main-tabs.css
  marlowe-playground-client/static/css/panels.css
  marlowe-playground-client/static/images/icons8-javascript.svg
  marlowe-playground-client/tsconfig.json
  marlowe-playground-client/webpack.config.js
  marlowe-playground-client/webpack.test.config.js
  marlowe-playground-client/yarn.lock
  marlowe-playground-client/yarn.nix
Labels: Do not merge, Marlowe, Meadow

#2306 SCP-1188 - Remove need for bigInt constructor and get TS to compile in JS tab
  marlowe-playground-client/spago-packages.nix
  marlowe-playground-client/spago.dhall
  marlowe-playground-client/src/Examples/JS/Contracts.purs
  marlowe-playground-client/src/Halogen/Monaco.purs
  marlowe-playground-client/src/Language/Javascript/Interpreter.js
  marlowe-playground-client/src/Language/Javascript/Interpreter.purs
  marlowe-playground-client/src/Language/Javascript/MarloweJS.ts
  marlowe-playground-client/src/MainFrame.purs
  marlowe-playground-client/src/Monaco.js
  marlowe-playground-client/src/StaticData.purs
Labels: Marlowe, Meadow, User experience

#2319 Add new config for environment Pablo
  deployment/default.nix
  secrets/pablo/.gpg-id
  secrets/pablo/marlowe/githubClientId.gpg
  secrets/pablo/marlowe/githubClientSecret.gpg
  secrets/pablo/marlowe/jwtSignature.gpg
Labels: Marlowe, Meadow

#2313 Raduom/nofib
  cabal.project
  nix/haskell.nix
  nix/stack.materialized/default.nix
  nix/stack.materialized/plutus-benchmark.nix
  plutus-benchmark/LICENSE
  plutus-benchmark/NOTICE
  plutus-benchmark/app/Main.hs
  plutus-benchmark/bench/Main.hs
  plutus-benchmark/plutus-benchmark.cabal
  plutus-benchmark/src/Plutus/Benchmark/Clausify.hs
  plutus-benchmark/src/Plutus/Benchmark/Knights.hs
  plutus-benchmark/src/Plutus/Benchmark/Knights/ChessSetList.hs
  plutus-benchmark/src/Plutus/Benchmark/Knights/KnightHeuristic.hs
  plutus-benchmark/src/Plutus/Benchmark/Knights/Queue.hs
  plutus-benchmark/src/Plutus/Benchmark/Knights/Sort.hs
  plutus-benchmark/src/Plutus/Benchmark/Knights/Utils.hs
  plutus-benchmark/src/Plutus/Benchmark/LastPiece.hs
  plutus-benchmark/src/Plutus/Benchmark/Prime.hs
  plutus-benchmark/src/Plutus/Benchmark/Queens.hs
  stack.yaml
Labels: Benchmarks

#2327 Fix order of elements in TransactionPartialPay JSON decoding
  marlowe-playground-client/src/Marlowe/Semantics.purs
  marlowe/src/Language/Marlowe/Semantics.hs
Labels: Marlowe, Marlowe symbolic, Meadow

#2329 Fix typo in JSON serialisation/deserialisation
  marlowe-playground-client/src/Marlowe/Semantics.purs
  marlowe-playground-client/test/contract.json
  marlowe/test/contract.json
Labels: Marlowe, Marlowe symbolic, Meadow, bug
