Repository IntersectMBO/plutus, pull requests merged in 2020-11, with the labels that each got.

#2432 SCP-1251 - Unify choices in Marlowe Playground simulation
  marlowe-playground-client/src/Simulation.purs
  marlowe-playground-client/src/Simulation/State.purs
Labels: Marlowe, Meadow, User experience

#2449 SCP-1321 - Prevent null values in JavaScript editor
  marlowe-playground-client/src/Examples/JS/Contracts.purs
  marlowe-playground-client/src/JavascriptEditor/State.purs
  marlowe-playground-client/src/JavascriptEditor/Types.purs
  marlowe-playground-client/src/JavascriptEditor/View.purs
  marlowe-playground-client/src/Language/Javascript/Interpreter.js
  marlowe-playground-client/src/MainFrame/State.purs
  marlowe-playground-client/src/StaticData.purs
  marlowe-playground-client/static/css/main.scss
  marlowe/doc/images/js-editor-cont.png
  marlowe/doc/images/js-editor.png
  marlowe/doc/images/js-error.png
  marlowe/doc/javascript-embedding.adoc
  marlowe/doc/playground-overview.adoc
  secrets/pablo/marlowe/githubClientId.gpg
  secrets/pablo/marlowe/githubClientSecret.gpg
  secrets/pablo/marlowe/jwtSignature.gpg
  secrets/pablo/plutus/githubClientId.gpg
  secrets/pablo/plutus/githubClientSecret.gpg
  secrets/pablo/plutus/jwtSignature.gpg
  web-common/src/Halogen/Monaco.purs
  web-common/src/Monaco.js
  web-common/src/Monaco.purs
Labels: Meadow, User experience

#2435 Add flat benchmarks.
  nix/stack.materialized/default.nix
  nix/stack.materialized/plutus-benchmark.nix
  plutus-benchmark/.gitignore
  plutus-benchmark/flat/Codec.hs
  plutus-benchmark/flat/Dataset.hs
  plutus-benchmark/flat/Main.hs
  plutus-benchmark/flat/Report.hs
  plutus-benchmark/plutus-benchmark.cabal
  stack.yaml
Labels: Benchmarks

#2460 [Refac] 'CompiledCode' -> 'CompiledCodeIn'
  doc/tutorials/BasicPolicies.hs
  doc/tutorials/BasicValidators.hs
  doc/tutorials/PlutusTx.hs
  doc/tutorials/plutus-tx.rst
  marlowe/src/Language/Marlowe/Client.hs
  plutus-ledger/src/Ledger/Scripts.hs
  plutus-ledger/src/Ledger/Typed/Scripts.hs
  plutus-ledger/test/Spec.hs
  plutus-tx-plugin/src/Language/PlutusTx/Plugin.hs
  plutus-tx-plugin/test/Lib.hs
  plutus-tx-plugin/test/Plugin/Basic/Spec.hs
  plutus-tx-plugin/test/Plugin/Data/Spec.hs
  plutus-tx-plugin/test/Plugin/Errors/Spec.hs
  plutus-tx-plugin/test/Plugin/Functions/Spec.hs
  plutus-tx-plugin/test/Plugin/Laziness/Spec.hs
  plutus-tx-plugin/test/Plugin/Primitives/Spec.hs
  plutus-tx-plugin/test/Plugin/Typeclasses/Spec.hs
  plutus-tx-plugin/test/StdLib/Spec.hs
  plutus-tx-plugin/test/TH/Spec.hs
  plutus-tx/src/Language/PlutusTx.hs
  plutus-tx/src/Language/PlutusTx/Code.hs
  plutus-tx/src/Language/PlutusTx/Lift.hs
  plutus-tx/src/Language/PlutusTx/Plugin/Utils.hs
  plutus-tx/src/Language/PlutusTx/TH.hs
  plutus-use-cases/src/Language/PlutusTx/Coordination/Contracts/MultiSigStateMachine.hs
  plutus-use-cases/test/Spec/Lib.hs
Labels: Plutus Tx, Refactoring

#2458 Generalized the parsing machineries to work over any 'uni' and 'fun'
  plutus-core/generators/Language/PlutusCore/Generators/AST.hs
  plutus-core/plutus-ir-test/OptimizerSpec.hs
  plutus-core/plutus-ir-test/ParserSpec.hs
  plutus-core/plutus-ir-test/Spec.hs
  plutus-core/plutus-ir-test/TransformSpec.hs
  plutus-core/plutus-ir/Language/PlutusIR/Parser.hs
  plutus-core/src/Language/PlutusCore/Constant/Meaning.hs
  plutus-core/src/Language/PlutusCore/Parsable.hs
  plutus-core/src/Language/PlutusCore/Parser.y
  plutus-core/src/Language/PlutusCore/Parser/Internal.hs
  plutus-core/src/Language/PlutusCore/Universe/Default.hs
  plutus-core/untyped-plutus-core/Language/UntypedPlutusCore/Parser.y
Labels: Builtins, Textual representation

#2463 SCP-951 - Show all results in reachability analysis
  .gitignore
  marlowe-playground-client/src/Reachability.purs
  marlowe-playground-client/src/Simulation/BottomPanel.purs
  marlowe-playground-client/src/Simulation/Types.purs
  secrets/.gpg-id
Labels: Marlowe, Marlowe symbolic, Meadow

#2481 Ensure that CBOR serialisation omits unit annotations (SCP-1489)
  plutus-benchmark/flat/Codec.hs
  plutus-benchmark/nofib/exe/Main.hs
  plutus-core/exe/Main.hs
  plutus-core/src/Language/PlutusCore/CBOR.hs
  plutus-core/untyped-plutus-core/Language/UntypedPlutusCore/Core/Instance/CBOR.hs
Labels: AST, Benchmarks, Plutus Core

#2484 SCP-1496 - Linting: only show unreachable subtrees once
  marlowe-playground-client/src/HaskellEditor/State.purs
  marlowe-playground-client/src/Marlowe/Linter.purs
  marlowe-playground-client/src/Reachability.purs
  marlowe-playground-client/src/Simulation.purs
  marlowe-playground-client/src/Simulation/BottomPanel.purs
  marlowe-playground-client/src/Simulation/State.purs
  marlowe-playground-client/src/Simulation/Types.purs
  marlowe-playground-client/src/Wallet.purs
  marlowe-playground-client/test/Marlowe/ContractTests.purs
  marlowe-playground-client/test/Marlowe/LintTests.purs
Labels: Meadow, User experience

#2477 [Evaluation] [Refac] Made 'CkValue' store actual constants in 'VCon'
  plutus-core/src/Language/PlutusCore/Evaluation/Machine/Cek.hs
  plutus-core/src/Language/PlutusCore/Evaluation/Machine/Ck.hs
  plutus-core/untyped-plutus-core/Language/UntypedPlutusCore/Evaluation/Machine/Cek.hs
Labels: Evaluation, Plutus Core, Refactoring

#2482 Switch to Flat encoding for [U]PLC terms.
  nix/stack.materialized/plutus-core.nix
  nix/stack.materialized/plutus-ledger.nix
  nix/stack.materialized/plutus-tx-plugin.nix
  nix/stack.materialized/plutus-tx.nix
  plutus-core/exe/Main.hs
  plutus-core/plutus-core.cabal
  plutus-core/plutus-ir-test/Spec.hs
  plutus-core/plutus-ir/Language/PlutusIR.hs
  plutus-core/test/Spec.hs
  plutus-ledger/plutus-ledger.cabal
  plutus-ledger/src/Ledger/Scripts.hs
  plutus-tx-plugin/plutus-tx-plugin.cabal
  plutus-tx-plugin/src/Language/PlutusTx/Plugin.hs
  plutus-tx-plugin/test/Lib.hs
  plutus-tx/plutus-tx.cabal
  plutus-tx/src/Language/PlutusTx/Code.hs
  plutus-use-cases/test/Spec/crowdfundingTestOutput.txt
  plutus-use-cases/test/Spec/renderCrowdfunding.txt
  plutus-use-cases/test/Spec/renderGuess.txt
  plutus-use-cases/test/Spec/renderVesting.txt
Labels: Performance

#2489 SCP-1506 - Fix inifinite loop problem with JavaScript editor
  marlowe-playground-client/src/JavascriptEditor/State.purs
Labels: Marlowe, Meadow, bug

#2497 SCP-1311 - Create playground deployment to support Nov 2020 testing
  deployment/default.nix
  deployment/terraform/variables.tf
  secrets/testing/.gpg-id
  secrets/testing/marlowe/githubClientId.gpg
  secrets/testing/marlowe/githubClientSecret.gpg
  secrets/testing/marlowe/jwtSignature.gpg
  secrets/testing/plutus/githubClientId.gpg
  secrets/testing/plutus/githubClientSecret.gpg
  secrets/testing/plutus/jwtSignature.gpg
Labels: Meadow, User experience

#2483 SCP-1421: Marlowe Playground Frontend: Redesign new project modal
  marlowe-playground-client/src/Demos/View.purs
  marlowe-playground-client/src/GistButtons.purs
  marlowe-playground-client/src/Halogen/Classes.js
  marlowe-playground-client/src/Halogen/Classes.purs
  marlowe-playground-client/src/MainFrame/State.purs
  marlowe-playground-client/src/MainFrame/View.purs
  marlowe-playground-client/src/Modal/View.purs
  marlowe-playground-client/src/Modal/ViewHelpers.purs
  marlowe-playground-client/src/NewProject/State.purs
  marlowe-playground-client/src/NewProject/Types.purs
  marlowe-playground-client/src/Projects/State.purs
  marlowe-playground-client/src/Rename/State.purs
  marlowe-playground-client/src/SaveAs/State.purs
  marlowe-playground-client/static/css/css_var_globals.scss
  marlowe-playground-client/static/css/font-size.scss
  marlowe-playground-client/static/css/font-weight.scss
  marlowe-playground-client/static/css/main.scss
  marlowe-playground-client/static/css/modal.scss
  marlowe-playground-client/static/css/new-project.scss
  marlowe-playground-client/static/css/projects.scss
  marlowe-playground-client/static/images/close-modal.svg
  marlowe-playground-client/static/images/new-project-blockly-icon.svg
  marlowe-playground-client/static/images/new-project-haskell-icon.svg
  marlowe-playground-client/static/images/new-project-javascript-icon.svg
  marlowe-playground-client/static/images/new-project-marlowe-icon.svg
Labels: Marlowe
