Repository IntersectMBO/plutus, pull requests merged in 2020-03, with the labels that each got.

#1868 determinism of reduction rules and disjointness of progress/value
  metatheory/Algorithmic/Erasure/Reduction.lagda
  metatheory/Algorithmic/Reduction.lagda
  metatheory/Scoped/Erasure/Reduction.lagda
  metatheory/Scoped/Reduction.lagda
  papers/system-f-in-agda/errata.txt
  papers/system-f-in-agda/paper.lagda
Labels: Metatheory

#1869 added progress as 'exclusive or' to fun-and-profit paper
  papers/system-f-in-agda/errata.txt
  papers/system-f-in-agda/paper.lagda
Labels: Docs, Metatheory

#1864 Update terminology in EUTXO paper
  papers/eutxo/eutxo.bib
  papers/eutxo/eutxo.tex
  papers/eutxo/formal-model.tex
  papers/eutxo/formal-verification.tex
  papers/eutxo/informal-eutxo.tex
  papers/eutxo/intro.tex
  papers/eutxo/related-work.tex
Labels: Docs, Extended UTXO

#1887 [Bug] [PLC] [Builtin] [Evaluation] Added environment discharging to fix #1882
  language-plutus-core/common/PlcTestUtils.hs
  language-plutus-core/src/Language/PlutusCore/Evaluation/Machine/Cek.hs
  language-plutus-core/src/Language/PlutusCore/Name.hs
  language-plutus-core/src/Language/PlutusCore/Subst.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins/Definition.hs
  language-plutus-core/test/Evaluation/Golden.hs
  language-plutus-core/test/Evaluation/Golden/closure.plc.golden
Labels: Builtins, Evaluation, Plutus Core, bug

#1894 Plutus Core: remove gas costs for typechecking
  language-plutus-core/bench/Bench.hs
  language-plutus-core/examples/Language/PlutusCore/Examples/Data/TreeForest.hs
  language-plutus-core/generators/Language/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  language-plutus-core/src/Language/PlutusCore.hs
  language-plutus-core/src/Language/PlutusCore/Error.hs
  language-plutus-core/src/Language/PlutusCore/Normalize.hs
  language-plutus-core/src/Language/PlutusCore/Normalize/Internal.hs
  language-plutus-core/src/Language/PlutusCore/TypeCheck.hs
  language-plutus-core/src/Language/PlutusCore/TypeCheck/Internal.hs
  language-plutus-core/test/Evaluation/DynamicBuiltins/Common.hs
  language-plutus-core/test/Normalization/Type.hs
  language-plutus-core/test/Spec.hs
  language-plutus-core/test/TypeSynthesis/Spec.hs
  language-plutus-core/test/normalize-types/addIntegerCorrect.plc
  language-plutus-core/test/normalize-types/addIntegerCorrect.plc.golden
  language-plutus-core/test/normalize-types/ntm.plc
  language-plutus-core/test/normalize-types/ntm.plc.golden
  language-plutus-core/test/types/reduce.plc.golden
  plutus-core-spec/figures/Grammar-Algorithmic-Restricted.tex
  plutus-core-spec/figures/Reduction-Algorithmic-Restricted.tex
  plutus-core-spec/figures/TypeSynthesis-Algorithmic-Restricted.tex
  plutus-core-spec/figures/TypeSynthesis-Algorithmic.tex
  plutus-core-spec/plutus-core-specification.tex
  plutus-exe/src/Main.hs
  plutus-ir/test/Spec.hs
  plutus-tx-plugin/src/Language/PlutusTx/Plugin.hs
  plutus-tx/src/Language/PlutusTx/Lift.hs
  plutus-use-cases/test/Spec/Future.hs
  plutus-use-cases/test/Spec/Game.hs
  plutus-use-cases/test/Spec/GameStateMachine.hs
  plutus-use-cases/test/Spec/MultiSigStateMachine.hs
  plutus-use-cases/test/Spec/crowdfundingTestOutput.txt
  plutus-use-cases/test/Spec/renderCrowdfunding.txt
  plutus-use-cases/test/Spec/renderGuess.txt
  plutus-use-cases/test/Spec/renderVesting.txt
  plutus-wallet-api/ledger/Ledger/Scripts.hs
Labels: Plutus Core

#1901 Fixes to blockly
  marlowe-playground-client/src/Marlowe/Blockly.purs
  marlowe-playground-client/src/Marlowe/Semantics.purs
Labels: Meadow, User experience

#1870 Kwxm/specify untyped plc
  plutus-core-spec/Makefile
  plutus-core-spec/figures/CkMachine.tex
  plutus-core-spec/figures/Grammar.tex
  plutus-core-spec/figures/TermReduction.tex
  plutus-core-spec/figures/TypeErasure.tex
  plutus-core-spec/figures/TypeReduction.tex
  plutus-core-spec/figures/TypeSynthesis-Algorithmic.tex
  plutus-core-spec/figures/UntypedCkMachine.tex
  plutus-core-spec/figures/UntypedGrammar.tex
  plutus-core-spec/figures/UntypedTermReduction.tex
  plutus-core-spec/plutus-core-specification.bib
  plutus-core-spec/plutus-core-specification.tex
Labels: Plutus Core, Spec

#1910 Make Ada block lowercase
  marlowe-playground-client/src/Marlowe/Blockly.purs
Labels: Meadow, User experience

#1906 Add section to tutorial about potential problems
  marlowe-tutorial/doc/overview.adoc
  marlowe-tutorial/doc/potential-problems-with-contracts.adoc
Labels: Marlowe, Tutorials

#1852 docs: add a glossary
  GLOSSARY.adoc
  README.adoc
Labels: Docs

#1915 Set `-Werror` in the Nix build only
  nix/haskell.nix
Labels: Build

#1874 new approach to error in metatheory
  metatheory/Algorithmic/Erasure.lagda
  metatheory/Algorithmic/Erasure/Reduction.lagda
  metatheory/Algorithmic/Reduction.lagda
  metatheory/Check.lagda.md
  metatheory/Everything.lagda
  metatheory/Scoped.lagda
  metatheory/Scoped/Erasure/Reduction.lagda
  metatheory/Scoped/Reduction.lagda
  metatheory/Scoped/RenamingSubstitution.lagda
  metatheory/Untyped.lagda
  metatheory/Untyped/Reduction.lagda
  metatheory/Untyped/RenamingSubstitution.lagda
  papers/eutxo/formal-model.tex
  papers/system-f-in-agda/errata.txt
  papers/system-f-in-agda/paper.lagda
Labels: Metatheory
