Repository IntersectMBO/plutus, pull requests merged in 2021-11, with the labels that each got.

#4172 [Builtin] Introduce 'AssociateType' in 'KnownTypeIn'
  plutus-core/cost-model/budgeting-bench/Benchmarks/Nops.hs
  plutus-core/generators/PlutusCore/Generators/Internal/Denotation.hs
  plutus-core/generators/PlutusCore/Generators/Internal/Entity.hs
  plutus-core/plutus-core/examples/PlutusCore/Examples/Builtins.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Debug.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Meaning.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Typed.hs
  plutus-core/plutus-core/src/PlutusCore/Default/Universe.hs
Labels: Refactoring, Builtins

#4181 [Builtin] Add 'GCompare' instances for universes stuff
  plutus-core/plutus-core/src/PlutusCore/Default/Universe.hs
  plutus-core/plutus-core/src/Universe/Core.hs
Labels: Builtins

#4188 [Typo] Fix a typo in a comment in 'prettyprinter-configurable'
  prettyprinter-configurable/src/Text/Fixity/Internal.hs
Labels: Docs

#4195 Revert "[Builtin] Introduce 'AssociateType' in 'KnownTypeIn'"
  plutus-core/cost-model/budgeting-bench/Benchmarks/Nops.hs
  plutus-core/generators/PlutusCore/Generators/Internal/Denotation.hs
  plutus-core/generators/PlutusCore/Generators/Internal/Entity.hs
  plutus-core/plutus-core/examples/PlutusCore/Examples/Builtins.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Debug.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Meaning.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Typed.hs
  plutus-core/plutus-core/src/PlutusCore/Default/Universe.hs
Labels: bug, Builtins, Performance

#4173 [Builtin] Quit using 'SomeConstantOf'
  plutus-core/plutus-core/examples/PlutusCore/Examples/Builtins.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Debug.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Meaning.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Typed.hs
  plutus-core/plutus-core/src/PlutusCore/Default/Builtins.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Result.hs
Labels: Builtins, Performance

#4218 [Builtins] Drop 'SomeConstantOf' and remove obsolete golden files
  plutus-core/plutus-core/examples/PlutusCore/Examples/Builtins.hs
  plutus-core/plutus-core/examples/PlutusCore/Examples/Data/List.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Debug.hs
  plutus-core/plutus-core/test/Pretty/Golden/Readable/Examples/Data/ofoldrData.plc.golden
  plutus-core/plutus-core/test/Pretty/Golden/Readable/Examples/List/omapList.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/Append.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/CharToString.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/Concatenate.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/Cons.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/GreaterThanEqualsInteger.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/GreaterThanInteger.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/MkBData.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/MkConstrData.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/MkIData.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/MkListData.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/MkMapData.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/Nop1.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/Nop2.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/Nop3.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Builtins/Definition.hs
Labels: Refactoring, Builtins

#4230 [Builtins] Simplify 'Emitter'
  plutus-core/plutus-core/examples/PlutusCore/Examples/Builtins.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Dynamic/Emit.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Typed.hs
  plutus-core/plutus-core/src/PlutusCore/Default/Builtins.hs
  plutus-core/plutus-core/src/PlutusCore/Default/Universe.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/Ck.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/HOAS.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/Internal.hs
Labels: Refactoring, Builtins

#4211 SCP-3031
  plutus-metatheory/src/Algorithmic.lagda
  plutus-metatheory/src/Algorithmic/CC.lagda.md
  plutus-metatheory/src/Algorithmic/CEKV.lagda.md
  plutus-metatheory/src/Algorithmic/CK.lagda.md
  plutus-metatheory/src/Algorithmic/Completeness.lagda
  plutus-metatheory/src/Algorithmic/Erasure.lagda
  plutus-metatheory/src/Algorithmic/Properties.lagda.md
  plutus-metatheory/src/Algorithmic/Reduction.lagda
  plutus-metatheory/src/Algorithmic/ReductionEC.lagda.md
  plutus-metatheory/src/Algorithmic/RenamingSubstitution.lagda
  plutus-metatheory/src/Algorithmic/Soundness.lagda
  plutus-metatheory/src/Check.lagda.md
  plutus-metatheory/src/Scoped/Extrication.lagda
  plutus-metatheory/src/index.lagda.md
Labels: Metatheory

#4240 Fix flat output in uplc for deBruijn-indexed ASTs
  plutus-core/executables/Common.hs
  plutus-core/executables/Parsers.hs
Labels: Plutus Exe
