Repository IntersectMBO/plutus, pull requests merged in 2021-01, with the labels that each got.

#2563 Breaks compilation with `-haddock` enabled.
  plutus-core/exe/Main.hs
Labels: Docs

#2560 Marlowe Playground Frontend: Separate simulator from marlowe editor
  marlowe-playground-client/src/ConfirmUnsavedNavigation/Types.purs
  marlowe-playground-client/src/ConfirmUnsavedNavigation/View.purs
  marlowe-playground-client/src/Halogen/ActusBlockly.purs
  marlowe-playground-client/src/Halogen/Blockly.purs
  marlowe-playground-client/src/Halogen/BlocklyCommons.purs
  marlowe-playground-client/src/Halogen/Classes.purs
  marlowe-playground-client/src/HaskellEditor/State.purs
  marlowe-playground-client/src/HaskellEditor/Types.purs
  marlowe-playground-client/src/HaskellEditor/View.purs
  marlowe-playground-client/src/Help.purs
  marlowe-playground-client/src/JavascriptEditor/Types.purs
  marlowe-playground-client/src/JavascriptEditor/View.purs
  marlowe-playground-client/src/MainFrame/State.purs
  marlowe-playground-client/src/MainFrame/Types.purs
  marlowe-playground-client/src/MainFrame/View.purs
  marlowe-playground-client/src/Marlowe/Linter.purs
  marlowe-playground-client/src/MarloweEditor/BottomPanel.purs
  marlowe-playground-client/src/MarloweEditor/State.purs
  marlowe-playground-client/src/MarloweEditor/Types.purs
  marlowe-playground-client/src/MarloweEditor/View.purs
  marlowe-playground-client/src/Modal/View.purs
  marlowe-playground-client/src/NewProject/View.purs
  marlowe-playground-client/src/Projects/Types.purs
  marlowe-playground-client/src/Rename/State.purs
  marlowe-playground-client/src/Router.purs
  marlowe-playground-client/src/SaveAs/State.purs
  marlowe-playground-client/src/SaveAs/Types.purs
  marlowe-playground-client/src/Simulation.purs
  marlowe-playground-client/src/SimulationPage/BottomPanel.purs
  marlowe-playground-client/src/SimulationPage/State.purs
  marlowe-playground-client/src/SimulationPage/Types.purs
  marlowe-playground-client/src/SimulationPage/View.purs
  marlowe-playground-client/src/Simulator.purs
  marlowe-playground-client/src/StaticAnalysis/Reachability.purs
  marlowe-playground-client/src/StaticAnalysis/StaticTools.purs
  marlowe-playground-client/src/StaticData.purs
  marlowe-playground-client/src/Wallet.purs
  marlowe-playground-client/src/WalletSimulation/Types.purs
  marlowe-playground-client/static/css/main.scss
  marlowe-playground-client/static/css/panels.scss
  marlowe-playground-client/static/css/simulation.scss
  marlowe-playground-client/static/css/utilities.scss
  marlowe-playground-client/static/css/utilities/flex.scss
  marlowe-playground-client/test/Marlowe/ContractTests.purs
  marlowe-playground-client/test/Marlowe/LintTests.purs
  web-common/src/Monaco.js
  web-common/src/Monaco.purs
Labels: Meadow

#2550 Kwxm/cek costing profiling (SCP-612)
  notes/plutus-core/README.md
  notes/plutus-core/cek-budgeting-profiling/CekProfiling.md
  notes/plutus-core/cek-budgeting-profiling/CostingDetails.md
  notes/plutus-core/cek-budgeting-profiling/README.md
  notes/plutus-core/cek-budgeting-profiling/cf1-counting.svg
  notes/plutus-core/cek-budgeting-profiling/cf1-no-budgeting.svg
  notes/plutus-core/cek-budgeting-profiling/cf1-restricting.svg
  notes/plutus-core/cek-budgeting-profiling/prime20-counting.svg
  notes/plutus-core/cek-budgeting-profiling/prime20-no-budgeting.svg
  notes/plutus-core/cek-budgeting-profiling/prime20-restricting.svg
  notes/plutus-core/cek-budgeting-profiling/zc1-counting.svg
  notes/plutus-core/cek-budgeting-profiling/zc1-no-budgeting.svg
  notes/plutus-core/cek-budgeting-profiling/zc1-restricting.svg
Labels: Benchmarks, Docs, Evaluation, Plutus Exe

#2521 [Builtins] Type scheme inference for polymorphic built-in functions
  plutus-core/src/Language/PlutusCore/Builtins.hs
  plutus-core/src/Language/PlutusCore/Constant/Meaning.hs
  plutus-core/test/Evaluation/DynamicBuiltins/Definition.hs
Labels: Builtins

#2621 Remove superfluous environments from CEK VBuiltin values
  plutus-core/src/Language/PlutusCore/Evaluation/Machine/Cek.hs
  plutus-core/untyped-plutus-core/Language/UntypedPlutusCore/Evaluation/Machine/Cek.hs
Labels: Evaluation, Plutus Core

#2626 SCP-1701 - Move padding to be the suffix of the symbolic trace
  marlowe/src/Language/Marlowe/Analysis/FSSemantics.hs
Labels: Marlowe symbolic

#2634 SCP-1729 - Fix ordering of traces in static analysis implementation
  marlowe/src/Language/Marlowe/Analysis/FSSemantics.hs
Labels: Marlowe symbolic

#2635 SCP-1731 - Static analysis checks choice bounds after picking a branch in Choice (instead of before)
  marlowe/src/Language/Marlowe/Analysis/FSSemantics.hs
Labels: Marlowe symbolic

#2641 SCP-1589 - Static analysis for finding which Close constructs return money
  marlowe-playground-client/src/MarloweEditor/BottomPanel.purs
  marlowe-playground-client/src/MarloweEditor/State.purs
  marlowe-playground-client/src/MarloweEditor/Types.purs
  marlowe-playground-client/src/StaticAnalysis/CloseAnalysis.purs
  marlowe-playground-client/src/StaticAnalysis/Reachability.purs
  marlowe-playground-client/src/StaticAnalysis/StaticTools.purs
Labels: Marlowe symbolic, Meadow

#2625 SCP-1292 improve NEAT coverage
  plutus-core/generators/Language/PlutusCore/Generators/NEAT/Common.hs
  plutus-core/generators/Language/PlutusCore/Generators/NEAT/Spec.hs
  plutus-core/generators/Language/PlutusCore/Generators/NEAT/Type.hs
  plutus-metatheory/src/Algorithmic.lagda
  plutus-metatheory/src/Algorithmic/CEKV.lagda.md
  plutus-metatheory/src/Algorithmic/Completeness.lagda
  plutus-metatheory/src/Algorithmic/Erasure.lagda
  plutus-metatheory/src/Algorithmic/Reduction.lagda
  plutus-metatheory/src/Algorithmic/Soundness.lagda
  plutus-metatheory/src/Builtin.lagda.md
  plutus-metatheory/src/Builtin/Signature.lagda.md
  plutus-metatheory/src/Declarative.lagda.md
  plutus-metatheory/src/Declarative/Erasure.lagda.md
  plutus-metatheory/src/Main.lagda
  plutus-metatheory/src/Scoped.lagda
  plutus-metatheory/src/Scoped/Erasure.lagda
  plutus-metatheory/src/Scoped/Extrication.lagda
  plutus-metatheory/src/Scoped/Reduction.lagda
  plutus-metatheory/src/Untyped.lagda
  plutus-metatheory/test/TestNEAT.hs
Labels: Test

#2562 Specification of flat serialisation for UPLC.
  plutus-core-spec/figures/Builtins.tex
  plutus-core-spec/plutus-core-specification.bib
  plutus-core-spec/plutus-core-specification.tex
Labels: Docs, Spec
