Repository IntersectMBO/plutus, pull requests merged in 2021-05, with the labels that each got.

#3096 SCP-2198,SCP-886: make a start on explanatory content
  doc/bibliography.bib
  doc/conf.py
  doc/default.nix
  doc/index.rst
  doc/marlowe/tutorials/index.rst
  doc/plutus/explanations/index.rst
  doc/plutus/explanations/ledger.rst
  doc/plutus/explanations/platform-architecture.png
  doc/plutus/explanations/platform.rst
  doc/plutus/explanations/plutus-foundation.rst
  doc/plutus/troubleshooting.rst
  doc/plutus/tutorials/index.rst
  doc/reference/bibliography.rst
  doc/reference/glossary.rst
  doc/reference/index.rst
  doc/requirements.txt
  nix/overlays/nixpkgs-overrides.nix
  nix/tests/vm-tests/all.nix
  shell.nix
Labels: Docs

#3113 SCP-2066 - Add validator and change default for PK and token hash in Blockly
  marlowe-playground-client/src/Blockly/Internal.js
  marlowe-playground-client/src/Marlowe/Blockly.purs
  marlowe-playground-client/src/Marlowe/Holes.purs
  marlowe-playground-client/test/Blockly/Headless.js
Labels: Marlowe, Meadow

#3112 SCP-2210 and SCP-2211 - Catch exception that caused subscriptions to fail
  marlowe-playground-client/src/Blockly/Internal.js
Labels: Marlowe, Meadow, bug

#3124 SCP-2064 - Fix handling of undo stack for blockly
  marlowe-playground-client/src/Blockly/Internal.js
  marlowe-playground-client/src/Blockly/Internal.purs
  marlowe-playground-client/src/BlocklyComponent/State.purs
  marlowe-playground-client/src/BlocklyComponent/Types.purs
  marlowe-playground-client/src/BlocklyEditor/State.purs
  marlowe-playground-client/src/BlocklyEditor/Types.purs
  marlowe-playground-client/src/MainFrame/State.purs
  marlowe-playground-client/src/Marlowe/Blockly.purs
  marlowe-playground-client/src/MarloweEditor/State.purs
  marlowe-playground-client/src/MarloweEditor/Types.purs
Labels: Marlowe, Meadow, User experience, bug

#3133 SCP-1981 - Create test that ensures example contracts don't have linter warnings
  marlowe-playground-client/test/Marlowe/LintTests.purs
Labels: Marlowe, Meadow, Test

#3153 SCP-2077: update CostModel.md
  plutus-core/cost-model/CostModel.md
Labels: Costs, Docs

#3159 Add number field validator - Marlowe blocks editor
  marlowe-playground-client/src/Blockly/Internal.js
  marlowe-playground-client/src/Marlowe/Blockly.purs
  marlowe-playground-client/test/Blockly/Headless.js
Labels: Marlowe, Meadow, bug

#3176 SCP-2252 - Add trimmed down markdown processing to playground metadata
  marlowe-playground-client/packages.dhall
  marlowe-playground-client/spago-packages.nix
  marlowe-playground-client/spago.dhall
  marlowe-playground-client/src/SimulationPage/View.purs
  marlowe-playground-client/src/Text/Markdown/TrimmedInline.purs
  marlowe-playground-client/static/css/panels.scss
Labels: Marlowe, Meadow, User experience

#3088 Disable collateral in ACTUS generation
  marlowe-actus/src/Language/Marlowe/ACTUS/Generator.hs
  marlowe-actus/test/Spec/Marlowe/Actus.hs
  marlowe-playground-client/src/Marlowe/ActusBlockly.purs
Labels: Marlowe

#3179 Kwxm/scp 2176/cost model ledger interface
  nix/pkgs/haskell/materialized-unix/.plan.nix/plutus-core.nix
  plutus-benchmark/nofib/bench/BenchPlc.hs
  plutus-benchmark/nofib/exe/Main.hs
  plutus-benchmark/nofib/test/Spec.hs
  plutus-benchmark/validation/Main.hs
  plutus-core/common/PlcTestUtils.hs
  plutus-core/cost-model/budgeting-bench/Bench.hs
  plutus-core/cost-model/create-cost-model/CostModelCreation.hs
  plutus-core/cost-model/test/TestCostModels.hs
  plutus-core/generators/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  plutus-core/generators/PlutusCore/Generators/NEAT/Spec.hs
  plutus-core/plc/Main.hs
  plutus-core/plutus-core.cabal
  plutus-core/plutus-core/examples/PlutusCore/Examples/Builtins.hs
  plutus-core/plutus-core/src/Data/Aeson/Flatten.hs
  plutus-core/plutus-core/src/PlutusCore.hs
  plutus-core/plutus-core/src/PlutusCore/Builtins.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/BuiltinCostModel.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/CostModelInterface.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/ExBudgetingDefaults.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/MachineParameters.hs
  plutus-core/plutus-core/test/CostModelInterface/Spec.hs
  plutus-core/plutus-core/test/Evaluation/ApplyBuiltinName.hs
  plutus-core/plutus-core/test/Evaluation/DynamicBuiltins/MakeRead.hs
  plutus-core/plutus-core/test/Evaluation/Machines.hs
  plutus-core/plutus-core/test/Spec.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/CekMachineCosts.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/Internal.hs
  plutus-core/untyped-plutus-core/test/Evaluation/ApplyBuiltinName.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Golden.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Machines.hs
  plutus-ledger-api/src/Plutus/V1/Ledger/Api.hs
  plutus-ledger-api/test/Spec.hs
  plutus-metatheory/test/TestNEAT.hs
  plutus-tx/src/PlutusTx/Evaluation.hs
Labels: Costs, Ledger

#3240 Kwxm/costing no floats (SCP-2086)
  nix/pkgs/haskell/materialized-unix/.plan.nix/plutus-core.nix
  plutus-core/cost-model/create-cost-model/CostModelCreation.hs
  plutus-core/cost-model/data/builtinCostModel.json
  plutus-core/cost-model/data/cekMachineCosts.json
  plutus-core/cost-model/data/models.R
  plutus-core/cost-model/test/TestCostModels.hs
  plutus-core/plutus-core.cabal
  plutus-core/plutus-core/src/Data/SatInt.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/BuiltinCostModel.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/ExBudget.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/ExMemory.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Fib/1.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Fib/2.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Fib/3.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Fib/1.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Fib/2.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Fib/3.plc.golden
Labels: Costs

#3263 SCP-2300
  plutus-metatheory/src/Algorithmic.lagda
  plutus-metatheory/src/Algorithmic/ReductionEC.lagda.md
Labels: Metatheory

#3272 SCP-2178
  plutus-metatheory/src/Algorithmic/CC.lagda.md
Labels: Metatheory
