Repository IntersectMBO/plutus, pull requests merged in 2021-07, with the labels that each got.

#3456 SCP-2438 - Add formatting to constant params
  marlowe-dashboard-client/src/Template/View.purs
  marlowe-playground-client/src/MetadataTab/State.purs
  marlowe-playground-client/src/MetadataTab/Types.purs
  marlowe-playground-client/src/MetadataTab/View.purs
  marlowe-playground-client/src/Pretty.purs
  marlowe-playground-client/src/SimulationPage/View.purs
  marlowe-playground-client/src/StaticAnalysis/BottomPanel.purs
  marlowe-playground-client/static/css/panels.css
  web-common-marlowe/src/Examples/Metadata.purs
  web-common-marlowe/src/Marlowe/Extended/Metadata.purs
Labels: Marlowe, Meadow, User experience

#3475 [Builtins] Added a 'Comma' example
  plutus-core/plutus-core/examples/PlutusCore/Examples/Builtins.hs
  plutus-core/plutus-core/examples/PlutusCore/Examples/Data/Pair.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Typed.hs
  plutus-core/plutus-core/test/Pretty/Golden/Readable/Examples/Data/ofoldrData.plc.golden
  plutus-core/plutus-core/test/Pretty/Golden/Readable/Examples/Pair/obothPair.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/Comma.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Memory/Examples/Data/ofoldrData.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Memory/Examples/Pair/obothPair.plc.golden
Labels: Builtins

#3491 SCP-2411
  nix/pkgs/haskell/materialized-darwin/.plan.nix/plutus-metatheory.nix
  nix/pkgs/haskell/materialized-linux/.plan.nix/plutus-metatheory.nix
  plutus-metatheory/plutus-metatheory.cabal
  plutus-metatheory/src/Algorithmic/CC.lagda.md
  plutus-metatheory/src/Algorithmic/CK.lagda.md
  plutus-metatheory/src/Algorithmic/ReductionEC.lagda.md
  plutus-metatheory/src/Type/CK.lagda.md
Labels: Metatheory

#3498 SCP-2455
  plutus-metatheory/src/Algorithmic/CC.lagda.md
  plutus-metatheory/src/Algorithmic/CK.lagda.md
  plutus-metatheory/src/Type/CC.lagda.md
Labels: Metatheory

#3524 SCP-2463
  plutus-metatheory/src/Algorithmic/CEKV.lagda.md
  plutus-metatheory/src/Algorithmic/ReductionEC.lagda.md
Labels: Metatheory

#3588 SCP-2500 - Remove need for Eq instance for `Contract` in Marlowe semantics
  marlowe-dashboard-client/src/Marlowe/Execution/State.purs
  marlowe/src/Language/Marlowe/Analysis/FSSemantics.hs
  marlowe/src/Language/Marlowe/Client.hs
  marlowe/src/Language/Marlowe/Semantics.hs
  web-common-marlowe/src/Marlowe/Semantics.purs
Labels: Marlowe

#3599 SCP-2535 - Update contract for differences examples to support two different commitments
  marlowe-playground-client/src/Examples/JS/Contracts.purs
  marlowe-playground-server/contracts/ContractForDifferences.hs
  marlowe-playground-server/contracts/ContractForDifferencesWithOracle.hs
  web-common-marlowe/src/Examples/PureScript/ContractForDifferences.purs
  web-common-marlowe/src/Examples/PureScript/ContractForDifferencesWithOracle.purs
Labels: Do not merge, Marlowe

#3533 [Tests] [NameHandling] Scoping tests for the PLC renamer
  nix/pkgs/haskell/materialized-darwin/.plan.nix/plutus-core.nix
  nix/pkgs/haskell/materialized-linux/.plan.nix/plutus-core.nix
  plutus-core/plutus-core.cabal
  plutus-core/plutus-core/src/PlutusCore/Check/Scoping.hs
  plutus-core/plutus-core/src/PlutusCore/Core/Instance.hs
  plutus-core/plutus-core/src/PlutusCore/Core/Instance/Scoping.hs
  plutus-core/plutus-core/src/PlutusCore/Eq.hs
  plutus-core/plutus-core/src/PlutusCore/Pretty.hs
  plutus-core/plutus-core/src/PlutusCore/Pretty/Default.hs
  plutus-core/plutus-core/src/PlutusCore/Rename/Internal.hs
  plutus-core/plutus-core/src/PlutusCore/Rename/Monad.hs
  plutus-core/plutus-core/test/Names/Spec.hs
  plutus-core/plutus-core/test/Spec.hs
Labels: Name handling, Test

#3622 [Builtins] Made 'choose'-like builtins receives its argument of the built-in type first
  plutus-core/plutus-core/src/PlutusCore/Default/Builtins.hs
  plutus-core/plutus-core/stdlib/PlutusCore/StdLib/Data/Data.hs
  plutus-core/plutus-core/test/Pretty/Golden/Readable/Examples/Data/ofoldrData.plc.golden
  plutus-core/plutus-core/test/Pretty/Golden/Readable/StdLib/Data/Data/caseData.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/ChooseData.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/ChooseList.plc.golden
  plutus-tx-plugin/test/IsData/deconstructData.plc.golden
  plutus-tx-plugin/test/Plugin/Primitives/deconstructorData2.plc.golden
  plutus-tx/src/PlutusTx/Builtins.hs
  plutus-tx/src/PlutusTx/Builtins/Class.hs
  plutus-tx/src/PlutusTx/Builtins/Internal.hs
  plutus-tx/src/PlutusTx/IsData/Class.hs
  plutus-use-cases/test/Spec/crowdfundingEmulatorTestOutput.txt
  plutus-use-cases/test/Spec/future.pir
  plutus-use-cases/test/Spec/renderCrowdfunding.txt
  plutus-use-cases/test/Spec/renderGuess.txt
  plutus-use-cases/test/Spec/renderVesting.txt
Labels: Builtins

#3635 SCP-2575 - Move static analysis end-point to /api/*
  marlowe-playground-client/src/StaticAnalysis/StaticTools.purs
  marlowe-playground-client/webpack.config.js
  marlowe-symbolic/src/Marlowe/Symbolic/Server.hs
Labels: Meadow
