Repository IntersectMBO/plutus, pull requests merged in 2021-09, with the labels that each got.

#3820 Update Marlowe tutorial and fix ZCB example
  doc/marlowe/tutorials/actus-labs.rst
  doc/marlowe/tutorials/embedded-marlowe.rst
  doc/marlowe/tutorials/escrow-ex.rst
  doc/marlowe/tutorials/images/JavaScriptImport.png
  doc/marlowe/tutorials/images/analysis1.png
  doc/marlowe/tutorials/images/analysis2.png
  doc/marlowe/tutorials/images/analysis3.png
  doc/marlowe/tutorials/images/analysis4.png
  doc/marlowe/tutorials/images/available-actions.png
  doc/marlowe/tutorials/images/blocklyNew0.png
  doc/marlowe/tutorials/images/blocklyNew1-5.png
  doc/marlowe/tutorials/images/blocklyNew1.png
  doc/marlowe/tutorials/images/blocklyNew10.png
  doc/marlowe/tutorials/images/blocklyNew2.png
  doc/marlowe/tutorials/images/blocklyNew3.png
  doc/marlowe/tutorials/images/blocklyNew4.png
  doc/marlowe/tutorials/images/blocklyNew5.png
  doc/marlowe/tutorials/images/blocklyNew6.png
  doc/marlowe/tutorials/images/blocklyNew7.png
  doc/marlowe/tutorials/images/blocklyNew8.png
  doc/marlowe/tutorials/images/blocklyNew9.png
  doc/marlowe/tutorials/images/completed-params.png
  doc/marlowe/tutorials/images/haskell-compiled.png
  doc/marlowe/tutorials/images/haskell-editor.png
  doc/marlowe/tutorials/images/haskell-errors.png
  doc/marlowe/tutorials/images/haskell-metadata.png
  doc/marlowe/tutorials/images/js-compiled.png
  doc/marlowe/tutorials/images/js-editor.png
  doc/marlowe/tutorials/images/js-error.png
  doc/marlowe/tutorials/images/js-metadata.png
  doc/marlowe/tutorials/images/landing-page.png
  doc/marlowe/tutorials/images/marlowe-editor.png
  doc/marlowe/tutorials/images/marlowe-hole-fill.png
  doc/marlowe/tutorials/images/open-example.png
  doc/marlowe/tutorials/images/simulation-tab.png
  doc/marlowe/tutorials/images/simulation2.png
  doc/marlowe/tutorials/images/simulation3.png
  doc/marlowe/tutorials/images/static-analysis.png
  doc/marlowe/tutorials/index.rst
  doc/marlowe/tutorials/introducing-marlowe.rst
  doc/marlowe/tutorials/javascript-embedding.rst
  doc/marlowe/tutorials/marlowe-data.rst
  doc/marlowe/tutorials/marlowe-model.rst
  doc/marlowe/tutorials/marlowe-step-by-step.rst
  doc/marlowe/tutorials/playground-blockly.rst
  doc/marlowe/tutorials/playground-overview.rst
  doc/marlowe/tutorials/static-analysis.rst
  doc/marlowe/tutorials/wallets-simulation.rst
  marlowe-playground-client/src/Examples/JS/Contracts.purs
  marlowe-playground-server/contracts/ZeroCouponBond.hs
  web-common-marlowe/src/Examples/PureScript/ZeroCouponBond.purs
Labels: Docs

#3890 Update Marlowe tutorial and fix ZCB example
  doc/marlowe/tutorials/actus-labs.rst
  doc/marlowe/tutorials/embedded-marlowe.rst
  doc/marlowe/tutorials/escrow-ex.rst
  doc/marlowe/tutorials/images/JavaScriptImport.png
  doc/marlowe/tutorials/images/analysis1.png
  doc/marlowe/tutorials/images/analysis2.png
  doc/marlowe/tutorials/images/analysis3.png
  doc/marlowe/tutorials/images/analysis4.png
  doc/marlowe/tutorials/images/available-actions.png
  doc/marlowe/tutorials/images/blocklyNew0.png
  doc/marlowe/tutorials/images/blocklyNew1-5.png
  doc/marlowe/tutorials/images/blocklyNew1.png
  doc/marlowe/tutorials/images/blocklyNew10.png
  doc/marlowe/tutorials/images/blocklyNew2.png
  doc/marlowe/tutorials/images/blocklyNew3.png
  doc/marlowe/tutorials/images/blocklyNew4.png
  doc/marlowe/tutorials/images/blocklyNew5.png
  doc/marlowe/tutorials/images/blocklyNew6.png
  doc/marlowe/tutorials/images/blocklyNew7.png
  doc/marlowe/tutorials/images/blocklyNew8.png
  doc/marlowe/tutorials/images/blocklyNew9.png
  doc/marlowe/tutorials/images/completed-params.png
  doc/marlowe/tutorials/images/haskell-compiled.png
  doc/marlowe/tutorials/images/haskell-editor.png
  doc/marlowe/tutorials/images/haskell-errors.png
  doc/marlowe/tutorials/images/haskell-metadata.png
  doc/marlowe/tutorials/images/js-compiled.png
  doc/marlowe/tutorials/images/js-editor.png
  doc/marlowe/tutorials/images/js-error.png
  doc/marlowe/tutorials/images/js-metadata.png
  doc/marlowe/tutorials/images/landing-page.png
  doc/marlowe/tutorials/images/marlowe-editor.png
  doc/marlowe/tutorials/images/marlowe-hole-fill.png
  doc/marlowe/tutorials/images/open-example.png
  doc/marlowe/tutorials/images/simulation-tab.png
  doc/marlowe/tutorials/images/simulation2.png
  doc/marlowe/tutorials/images/simulation3.png
  doc/marlowe/tutorials/images/static-analysis.png
  doc/marlowe/tutorials/index.rst
  doc/marlowe/tutorials/introducing-marlowe.rst
  doc/marlowe/tutorials/javascript-embedding.rst
  doc/marlowe/tutorials/marlowe-data.rst
  doc/marlowe/tutorials/marlowe-model.rst
  doc/marlowe/tutorials/marlowe-step-by-step.rst
  doc/marlowe/tutorials/playground-blockly.rst
  doc/marlowe/tutorials/playground-overview.rst
  doc/marlowe/tutorials/static-analysis.rst
  doc/marlowe/tutorials/wallets-simulation.rst
  marlowe-playground-client/src/Examples/JS/Contracts.purs
  marlowe-playground-server/contracts/ZeroCouponBond.hs
  web-common-marlowe/src/Examples/PureScript/ZeroCouponBond.purs
Labels: Docs

#3873 [Builtins] [Refac] Improve the meaning of 'Trace'
  plutus-core/plutus-core/src/PlutusCore/Default/Builtins.hs
Labels: Refactoring, Builtins

#3904 [SSP-2719] Implement Contract Placeholder Design
  marlowe-dashboard-client/src/Contract/Lenses.purs
  marlowe-dashboard-client/src/Contract/State.purs
  marlowe-dashboard-client/src/Contract/Types.purs
  marlowe-dashboard-client/src/Contract/View.purs
  marlowe-dashboard-client/src/Dashboard/State.purs
  marlowe-dashboard-client/src/Dashboard/View.purs
  marlowe-dashboard-client/static/css/main.css
  marlowe-playground-client/static/css/main.css
  web-common/src/Halogen/SVG.purs
  web-common/src/Material/Progress.purs
  web-common/src/Material/Progress/Circular.purs
  web-common/static/progress-circular.css
Labels: Marlowe, Marlowe Dashboard

#3949 SCP-2515 CEK => CK
  plutus-metatheory/src/Algorithmic/CEKV.lagda.md
  plutus-metatheory/src/Algorithmic/CK.lagda.md
Labels: Metatheory

#3956 [SCP-2703] Make Wallet Card Look and Function Even Better
  marlowe-dashboard-client/spago-packages.nix
  marlowe-dashboard-client/spago.dhall
  marlowe-dashboard-client/src/Bridge.purs
  marlowe-dashboard-client/src/Capability/Contract.purs
  marlowe-dashboard-client/src/Capability/Marlowe.purs
  marlowe-dashboard-client/src/Capability/MarloweStorage.purs
  marlowe-dashboard-client/src/Capability/PlutusApps/MarloweApp.purs
  marlowe-dashboard-client/src/Capability/Wallet.purs
  marlowe-dashboard-client/src/Component/WalletId.purs
  marlowe-dashboard-client/src/Component/WalletId/Types.purs
  marlowe-dashboard-client/src/Component/WalletId/View.purs
  marlowe-dashboard-client/src/Contacts/Lenses.purs
  marlowe-dashboard-client/src/Contacts/State.purs
  marlowe-dashboard-client/src/Contacts/Types.purs
  marlowe-dashboard-client/src/Contacts/View.purs
  marlowe-dashboard-client/src/Contract/Lenses.purs
  marlowe-dashboard-client/src/Contract/State.purs
  marlowe-dashboard-client/src/Contract/Types.purs
  marlowe-dashboard-client/src/Contract/View.purs
  marlowe-dashboard-client/src/Css.purs
  marlowe-dashboard-client/src/Dashboard/Lenses.purs
  marlowe-dashboard-client/src/Dashboard/State.purs
  marlowe-dashboard-client/src/Dashboard/Types.purs
  marlowe-dashboard-client/src/Dashboard/View.purs
  marlowe-dashboard-client/src/InputField/Lenses.purs
  marlowe-dashboard-client/src/InputField/Types.purs
  marlowe-dashboard-client/src/InputField/View.purs
  marlowe-dashboard-client/src/MainFrame/State.purs
  marlowe-dashboard-client/src/MainFrame/Types.purs
  marlowe-dashboard-client/src/Template/State.purs
  marlowe-dashboard-client/src/Template/Types.purs
  marlowe-dashboard-client/src/Template/View.purs
  marlowe-dashboard-client/src/WalletData/View.purs
  marlowe-dashboard-client/src/Welcome/Lenses.purs
  marlowe-dashboard-client/src/Welcome/State.purs
  marlowe-dashboard-client/src/Welcome/Types.purs
  marlowe-dashboard-client/src/Welcome/View.purs
  marlowe-dashboard-client/tailwind.config.js
  shell.nix
  web-common/src/Component/Input.purs
  web-common/src/Component/Input/Types.purs
  web-common/src/Component/Input/View.purs
  web-common/src/Component/Label.purs
  web-common/src/Component/Label/Types.purs
  web-common/src/Component/Label/View.purs
Labels: Refactoring, Marlowe Dashboard

#3957 [Builtin] Make 'makeKnown' receive the term representation of the value
  plutus-core/generators/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  plutus-core/generators/PlutusCore/Generators/Internal/TypedBuiltinGen.hs
  plutus-core/plutus-core/examples/PlutusCore/Examples/Builtins.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Typed.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/Ck.hs
  plutus-core/plutus-ir/src/PlutusIR/Core/Type.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Core/Type.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/HOAS.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/EmitterMode.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/ExBudgetMode.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/Internal.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Builtins/MakeRead.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Golden.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Golden/diFullyApplied.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Golden/diFullyApplied.type.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines.hs
Labels: Builtins

#3877 [Test] [Evaluaton] Update tests to trigger the strictness issue with 'unsafeEvaluateCek'
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Builtins/Definition.hs
Labels: Test, Evaluation
