Repository IntersectMBO/plutus, pull requests merged in 2021-08, with the labels that each got.

#3587 [Bug] [Names] Fixed and tested the IR renamer
  cabal.project
  nix/pkgs/haskell/materialized-darwin/.plan.nix/plutus-core.nix
  nix/pkgs/haskell/materialized-linux/.plan.nix/plutus-core.nix
  plutus-core/common/PlcTestUtils.hs
  plutus-core/plutus-core.cabal
  plutus-core/plutus-core/src/PlutusCore/Check/Scoping.hs
  plutus-core/plutus-core/src/PlutusCore/Core/Instance/Scoping.hs
  plutus-core/plutus-core/src/PlutusCore/Eq.hs
  plutus-core/plutus-core/test/Names/Spec.hs
  plutus-core/plutus-ir/src/PlutusIR/Core/Instance.hs
  plutus-core/plutus-ir/src/PlutusIR/Core/Instance/Scoping.hs
  plutus-core/plutus-ir/src/PlutusIR/Transform/Rename.hs
  plutus-core/plutus-ir/test/NamesSpec.hs
  plutus-core/plutus-ir/test/Spec.hs
  plutus-core/plutus-ir/test/TestLib.hs
  plutus-core/plutus-ir/test/TransformSpec.hs
  plutus-core/plutus-ir/test/datatypes/idleAll
  plutus-core/plutus-ir/test/datatypes/idleAll.golden
  plutus-core/plutus-ir/test/datatypes/some
  plutus-core/plutus-ir/test/datatypes/some.golden
  plutus-core/plutus-ir/test/transform/rename/allShadowedDataNonRec
  plutus-core/plutus-ir/test/transform/rename/allShadowedDataNonRec.golden
  plutus-core/plutus-ir/test/transform/rename/allShadowedDataRec
  plutus-core/plutus-ir/test/transform/rename/allShadowedDataRec.golden
  plutus-core/plutus-ir/test/transform/rename/paramShadowedDataNonRec
  plutus-core/plutus-ir/test/transform/rename/paramShadowedDataNonRec.golden
  plutus-core/plutus-ir/test/transform/rename/paramShadowedDataRec
  plutus-core/plutus-ir/test/transform/rename/paramShadowedDataRec.golden
  stack.yaml
Labels: Name handling, Plutus IR, bug

#3749 SCP-2642 - Add support for custom order of template parameters
  marlowe-dashboard-client/src/Template/State.purs
  marlowe-dashboard-client/src/Template/View.purs
  marlowe-playground-client/src/Marlowe/Linter.purs
  marlowe-playground-client/src/MetadataTab/State.purs
  marlowe-playground-client/src/MetadataTab/View.purs
  marlowe-playground-client/src/SimulationPage/View.purs
  marlowe-playground-client/src/StaticAnalysis/BottomPanel.purs
  web-common-marlowe/src/Examples/Metadata.purs
  web-common-marlowe/src/Marlowe/Extended/Metadata.purs
  web-common-marlowe/src/Marlowe/Template.purs
  web-common/src/Data/Map/Ordered/OMap.purs
  web-common/src/Data/Set/Ordered/OSet.purs
Labels: Meadow, Marlowe, Marlowe Dashboard

#3786 SCP-2656 - Update examples for prototype
  marlowe-dashboard-client/src/Template/State.purs
  marlowe-dashboard-client/src/Template/View.purs
  marlowe-playground-client/src/Demos/View.purs
  marlowe-playground-client/src/Examples/JS/Contracts.purs
  marlowe-playground-client/src/MetadataTab/State.purs
  marlowe-playground-client/src/MetadataTab/Types.purs
  marlowe-playground-client/src/MetadataTab/View.purs
  marlowe-playground-client/test/Marlowe/ContractTests.purs
  marlowe-playground-client/test/Marlowe/DeinstantiatorTests.purs
  marlowe-playground-client/test/Marlowe/Holes/SemanticTest.purs
  marlowe-playground-server/contracts/ContractForDifferences.hs
  marlowe-playground-server/contracts/ContractForDifferencesWithOracle.hs
  marlowe-playground-server/contracts/CouponBondGuaranteed.hs
  marlowe-playground-server/contracts/Escrow.hs
  marlowe-playground-server/contracts/EscrowWithCollateral.hs
  marlowe-playground-server/contracts/ZeroCouponBond.hs
  marlowe/test/Spec/PAB/Workflow.hs
  web-common-marlowe/src/Examples/Metadata.purs
  web-common-marlowe/src/Examples/PureScript/ContractForDifferences.purs
  web-common-marlowe/src/Examples/PureScript/ContractForDifferencesWithOracle.purs
  web-common-marlowe/src/Examples/PureScript/CouponBondGuaranteed.purs
  web-common-marlowe/src/Examples/PureScript/Escrow.purs
  web-common-marlowe/src/Examples/PureScript/EscrowWithCollateral.purs
  web-common-marlowe/src/Examples/PureScript/ZeroCouponBond.purs
  web-common-marlowe/src/Marlowe/Extended/Metadata.purs
  web-common-marlowe/src/Marlowe/Market.purs
Labels: User experience, Meadow, Marlowe, Marlowe Dashboard
