Repository IntersectMBO/plutus, pull requests merged in 2021-03, with the labels that each got.

#2800 SCP-1975, SCP-1957, and move MetaData types to web-common-marlowe
  marlowe-dashboard-client/src/Template/Types.purs
  marlowe-playground-client/src/Examples/JS/Contracts.purs
  marlowe-playground-client/src/Marlowe/Linter.purs
  marlowe-playground-client/src/StaticData.purs
  marlowe-playground-server/app/PSGenerator.hs
  marlowe-playground-server/contracts/CouponBondGuaranteed.hs
  web-common-marlowe/src/Marlowe/Extended.purs
Labels: Marlowe, Meadow, User experience

#2793 [Costing] Testing memory consumption of polymorphic builtins
  nix/pkgs/haskell/materialized-musl/.plan.nix/plutus-core.nix
  nix/pkgs/haskell/materialized-unix/.plan.nix/plutus-core.nix
  plutus-core/examples/Language/PlutusCore/Examples/Builtins.hs
  plutus-core/examples/Language/PlutusCore/Examples/Everything.hs
  plutus-core/generators/Language/PlutusCore/Generators/Interesting.hs
  plutus-core/plutus-core.cabal
  plutus-core/src/Language/PlutusCore/Evaluation/Machine/ExMemory.hs
  plutus-core/src/Language/PlutusCore/Universe/Core.hs
  plutus-core/stdlib/Language/PlutusCore/StdLib/Meta/Data/Function.hs
  plutus-core/test/Evaluation/DynamicBuiltins/Definition.hs
  plutus-core/test/TypeSynthesis/Golden/Absurd.plc.golden
  plutus-core/test/TypeSynthesis/Golden/Const.plc.golden
  plutus-core/test/TypeSynthesis/Golden/Factorial.plc.golden
  plutus-core/test/TypeSynthesis/Golden/Id.plc.golden
  plutus-core/test/TypeSynthesis/Golden/IdFInteger.plc.golden
  plutus-core/test/TypeSynthesis/Golden/IdList.plc.golden
  plutus-core/test/TypeSynthesis/Golden/IdRank2.plc.golden
  plutus-core/test/TypeSynthesis/Spec.hs
  plutus-core/untyped-plutus-core-test/Evaluation/Machines.hs
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/IdNat/0.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/IdNat/3.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/IdNat/6.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/IdNat/9.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/IfThenElse/0.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/IfThenElse/1.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/IfThenElse/2.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/IfThenElse/3.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/IfThenElse/4.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/IfThenElse/5.plc.golden
Labels: Costs, Test

#2807 [Bug] [Test] Fixed the ordering in golden files
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/IdNat/0.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/IdNat/3.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/IdNat/6.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/IdNat/9.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/IfThenElse/0.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/IfThenElse/1.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/IfThenElse/2.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/IfThenElse/3.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/IfThenElse/4.plc.golden
Labels: Costs, Test, bug

#2771 Fix duplicated costing benchmark
  plutus-core/budgeting-bench/Bench.hs
  plutus-core/budgeting-bench/csvs/benching.csv
  plutus-core/budgeting-bench/models.R
  plutus-core/cost-model-creation/CostModelCreation.hs
  plutus-core/src/costModel.json
  plutus-core/test-cost-model/TestCostModels.hs
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/Fib/1.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/Fib/2.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/Fib/3.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Counting/Fib/1.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Counting/Fib/2.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Counting/Fib/3.plc.golden
Labels: Costs

#2814 Plutus core tidier
  hie-cabal.yaml
  hie-stack.yaml
  nix/pkgs/haskell/haskell.nix
  nix/pkgs/haskell/materialized-unix/.plan.nix/plutus-core.nix
  plutus-core/cost-model/CostModel.md
  plutus-core/cost-model/budgeting-bench/Bench.hs
  plutus-core/cost-model/create-cost-model/CostModelCreation.hs
  plutus-core/cost-model/create-cost-model/UpdateCostModel.hs
  plutus-core/cost-model/data/benching.csv
  plutus-core/cost-model/data/costModel.json
  plutus-core/cost-model/data/graphs.R
  plutus-core/cost-model/data/models.R
  plutus-core/plutus-core.cabal
  plutus-core/plutus-core/src/Language/PlutusCore/Evaluation/Machine/ExBudgetingDefaults.hs
Labels: Costs

#2832 Fix analytics check
  web-common/src/Analytics.js
Labels: bug

#2833 SCP-2013 - Add tutorials to playground deployment
  deployment/morph/playgrounds.nix
Labels: Performance, Tutorials, bug

#2837 Increase request rate limit and memory for static pages
  deployment/morph/playgrounds.nix
Labels: Marlowe, Meadow, Performance, bug

#2849 SCP-1793 - Add metadata to Marlowe editor in Playground
  marlowe-playground-client/src/MainFrame/State.purs
  marlowe-playground-client/src/MainFrame/Types.purs
  marlowe-playground-client/src/MainFrame/View.purs
  marlowe-playground-client/src/Marlowe/Gists.purs
  marlowe-playground-client/src/MarloweEditor/BottomPanel.purs
  marlowe-playground-client/src/MarloweEditor/State.purs
  marlowe-playground-client/src/MarloweEditor/Types.purs
  marlowe-playground-client/src/MarloweEditor/View.purs
  marlowe-playground-client/src/SimulationPage/State.purs
  marlowe-playground-client/src/SimulationPage/Types.purs
  marlowe-playground-client/static/css/panels.scss
  web-common-marlowe/src/Marlowe/Extended.purs
Labels: Marlowe, Meadow, User experience

#2860 SCP-2025 - Even out the layout of the metadata form
  marlowe-playground-client/src/MarloweEditor/BottomPanel.purs
  marlowe-playground-client/static/css/panels.scss
Labels: Marlowe, Meadow, User experience

#2852 [Costing] Use the handle pattern.
  nix/pkgs/haskell/materialized-unix/.plan.nix/plutus-core.nix
  plutus-core/cost-model/budgeting-bench/Bench.hs
  plutus-core/cost-model/test/TestCostModels.hs
  plutus-core/plc/Main.hs
  plutus-core/plutus-core.cabal
  plutus-core/plutus-core/examples/Language/PlutusCore/Examples/Builtins.hs
  plutus-core/plutus-core/src/Language/PlutusCore/Constant/Apply.hs
  plutus-core/plutus-core/src/Language/PlutusCore/Constant/Typed.hs
  plutus-core/plutus-core/src/Language/PlutusCore/Evaluation/Machine/Ck.hs
  plutus-core/plutus-core/src/Language/PlutusCore/Evaluation/Machine/ExBudget.hs
  plutus-core/plutus-core/src/Language/PlutusCore/Evaluation/Machine/ExBudgeting.hs
  plutus-core/plutus-core/src/Language/PlutusCore/Evaluation/Machine/ExMemory.hs
  plutus-core/plutus-core/test/Evaluation/ApplyBuiltinName.hs
  plutus-core/untyped-plutus-core/src/Language/UntypedPlutusCore/Core/Type.hs
  plutus-core/untyped-plutus-core/src/Language/UntypedPlutusCore/Evaluation/Machine/Cek.hs
  plutus-core/untyped-plutus-core/src/Language/UntypedPlutusCore/Evaluation/Machine/Cek/ExBudgetMode.hs
  plutus-core/untyped-plutus-core/src/Language/UntypedPlutusCore/Evaluation/Machine/Cek/Internal.hs
  plutus-core/untyped-plutus-core/test/Evaluation/ApplyBuiltinName.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Machines.hs
  plutus-ledger-api/src/Plutus/V1/Ledger/Api.hs
  plutus-tx/src/Language/PlutusTx/Evaluation.hs
Labels: Costs, Refactoring

#2802 Make addTx and getCurrentSlot run on the server.
  plutus-pab/app/Cli.hs
  plutus-pab/src/Cardano/ChainIndex/Server.hs
  plutus-pab/src/Cardano/Node/API.hs
  plutus-pab/src/Cardano/Node/Client.hs
  plutus-pab/src/Cardano/Node/Mock.hs
  plutus-pab/src/Cardano/Node/Server.hs
  plutus-pab/src/Cardano/Node/Types.hs
  plutus-pab/src/Cardano/Protocol/Socket/Client.hs
  plutus-pab/src/Cardano/Protocol/Socket/Server.hs
  plutus-pab/src/Cardano/Wallet/Mock.hs
  plutus-pab/src/Cardano/Wallet/Server.hs
  plutus-pab/src/Plutus/PAB/App.hs
  plutus-pab/tx-inject/Main.hs
Labels: PAB

#2878 [Evaluation] Fixed the performance issue introduced by the handle pattern PR
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/ExBudgetMode.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/Internal.hs
Labels: Evaluation, Performance, bug

#2881 [Evaluation] Dropped redundant constraints
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/Ck.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/Internal.hs
Labels: Evaluation, Refactoring

#2883 [Builtins] [Refactoring] Removed 'DynamicPart'
  plutus-core/generators/PlutusCore/Generators/Internal/Denotation.hs
  plutus-core/plutus-core/examples/PlutusCore/Examples/Builtins.hs
  plutus-core/plutus-core/src/PlutusCore/Builtins.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Meaning.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/Ck.hs
  plutus-core/plutus-core/src/PlutusCore/Flat.hs
  plutus-core/plutus-core/src/PlutusCore/Lexer.x
  plutus-core/plutus-core/src/PlutusCore/Parser/Internal.hs
  plutus-core/plutus-core/test/Evaluation/ApplyBuiltinName.hs
  plutus-core/plutus-core/test/Evaluation/DynamicBuiltins/MakeRead.hs
  plutus-core/plutus-core/test/Evaluation/Spec.hs
  plutus-core/untyped-plutus-core/test/Evaluation/ApplyBuiltinName.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Machines.hs
  plutus-core/untyped-plutus-core/test/Spec.hs
  plutus-ledger-api/src/Plutus/V1/Ledger/Api.hs
Labels: Builtins, Refactoring

#2888 SCP-2012 - Get metadata hints from function that supports holes
  marlowe-playground-client/README.md
  marlowe-playground-client/src/Marlowe/Linter.purs
  marlowe-playground-client/src/Marlowe/LinterText.purs
  marlowe-playground-client/src/Marlowe/Monaco.purs
  marlowe-playground-client/src/MarloweEditor/State.purs
Labels: Marlowe, Meadow, User experience

#2892 Kwxm/fix nofib exe output problem (SCP-1896)
  plutus-benchmark/nofib/exe/Main.hs
  plutus-core/plc/Main.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/ExBudgetMode.hs
Labels: Benchmarks

#2891 Update customised Criterion template for jchart (SCP 1963)
  plutus-benchmark/README.md
  plutus-benchmark/plutus-benchmark.cabal
  plutus-benchmark/templates/README.md
  plutus-benchmark/templates/criterion.css
  plutus-benchmark/templates/default.tpl
  plutus-benchmark/templates/js/jquery.criterion.js
  plutus-benchmark/templates/json.tpl
  plutus-benchmark/templates/with-iterations.tpl
  plutus-core/cost-model/budgeting-bench/Bench.hs
Labels: Benchmarks

#2917 Update cost model benchmarking etc. (SCP-1874, SCP-1967, SCP-1994, SCP-2026)
  nix/pkgs/haskell/materialized-unix/.plan.nix/plutus-core.nix
  plutus-core/cost-model/budgeting-bench/Bench.hs
  plutus-core/cost-model/create-cost-model/CostModelCreation.hs
  plutus-core/cost-model/data/benching.csv
  plutus-core/cost-model/data/costModel.json
  plutus-core/cost-model/data/models.R
  plutus-core/cost-model/test/TestCostModels.hs
  plutus-core/plutus-core.cabal
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/ExBudgeting.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/ExMemory.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Examples/Shad/mkShad.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Examples/Vec/scottSumHeadsOr0.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Fib/1.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Fib/2.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Fib/3.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IfThenElse/1.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IfThenElse/2.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IfThenElse/3.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IfThenElse/4.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IfThenElse/5.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Memory/Examples/Shad/mkShad.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Memory/Examples/Vec/scottSumHeadsOr0.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Memory/StdLib/Data/Integer/SuccInteger.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Memory/StdLib/Data/List/EnumFromTo.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Memory/StdLib/Data/List/Product.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Memory/StdLib/Data/List/Sum.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Memory/StdLib/Data/Nat/NatToInteger.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Examples/Shad/mkShad.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Examples/Vec/scottSumHeadsOr0.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Fib/1.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Fib/2.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Fib/3.plc.golden
Labels: Benchmarks, Costs

#2920 Fix port in firewall to match PAB webserver
  deployment/morph/configurations.nix
  deployment/terraform/locals.tf
Labels: Marlowe, PAB

#2919 SCP-1912 - Add metadata to examples in playground
  marlowe-playground-client/src/Examples/JS/Contracts.purs
  marlowe-playground-client/src/MainFrame/State.purs
  marlowe-playground-client/src/StaticData.purs
  marlowe-playground-client/test/Marlowe/ContractTests.purs
  marlowe-playground-server/app/PSGenerator.hs
  marlowe-playground-server/contracts/ContractForDifference.hs
  marlowe-playground-server/contracts/ContractForDifferences.hs
  marlowe-playground-server/contracts/CouponBondGuaranteed.hs
  marlowe-playground-server/contracts/Escrow.hs
  marlowe-playground-server/contracts/EscrowWithCollateral.hs
  marlowe-playground-server/contracts/Example.hs
  marlowe-playground-server/contracts/Swap.hs
  marlowe-playground-server/contracts/ZeroCouponBond.hs
  marlowe-playground-server/marlowe-playground-server.cabal
  marlowe-playground-server/src/Marlowe/Contracts.hs
  nix/pkgs/haskell/materialized-unix/.plan.nix/marlowe-playground-server.nix
  web-common-marlowe/src/Examples/Metadata.purs
  web-common-marlowe/src/Marlowe/Extended.purs
  web-common-marlowe/src/Marlowe/Market/Contract1.purs
  web-common-marlowe/src/Marlowe/Market/Contract2.purs
  web-common-marlowe/src/Marlowe/Market/Contract3.purs
  web-common-marlowe/src/Marlowe/Market/Contract4.purs
  web-common-marlowe/src/Marlowe/Market/Contract5.purs
  web-common-marlowe/src/Marlowe/Market/Contract6.purs
Labels: Marlowe, Meadow

#2930 Move market modules to Examples and give them meaningful names
  marlowe-dashboard-client/src/ContractHome/State.purs
  marlowe-dashboard-client/src/Template/State.purs
  marlowe-playground-client/test/Marlowe/ContractTests.purs
  web-common-marlowe/src/Examples/PureScript/ContractForDifferences.purs
  web-common-marlowe/src/Examples/PureScript/CouponBondGuaranteed.purs
  web-common-marlowe/src/Examples/PureScript/Escrow.purs
  web-common-marlowe/src/Examples/PureScript/EscrowWithCollateral.purs
  web-common-marlowe/src/Examples/PureScript/Swap.purs
  web-common-marlowe/src/Examples/PureScript/ZeroCouponBond.purs
  web-common-marlowe/src/Marlowe/Market.purs
Labels: Marlowe, Meadow
