Repository IntersectMBO/plutus, pull requests merged in 2021-06, with the labels that each got.

#3208 [UPLC] [Evaluation] Switched to the alternative builtin application machinery in the CEK machine
  nix/pkgs/haskell/materialized-unix/.plan.nix/plutus-core.nix
  plutus-core/plutus-core.cabal
  plutus-core/plutus-core/examples/PlutusCore/Examples/Builtins.hs
  plutus-core/plutus-core/src/PlutusCore/Constant.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Apply.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Meaning.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/Ck.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/CostModelInterface.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/ExBudget.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/ExBudgetingDefaults.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/Exception.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/MachineParameters.hs
  plutus-core/plutus-core/test/CostModelInterface/Spec.hs
  plutus-core/plutus-core/test/Evaluation/ApplyBuiltinName.hs
  plutus-core/plutus-core/test/Evaluation/DynamicBuiltins.hs
  plutus-core/plutus-core/test/Evaluation/DynamicBuiltins/Common.hs
  plutus-core/plutus-core/test/Evaluation/DynamicBuiltins/Definition.hs
  plutus-core/plutus-core/test/Evaluation/Spec.hs
  plutus-core/plutus-core/test/TypeSynthesis/Golden/EqualsString.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/ExpensivePlus.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/FailingPlus.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/Nop1.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/Nop2.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/Nop3.plc.golden
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/HOAS.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/ExBudgetMode.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/Internal.hs
  plutus-core/untyped-plutus-core/test/Evaluation/ApplyBuiltinName.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Builtins.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Builtins/Common.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Builtins/Definition.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Builtins/MakeRead.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Golden.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Golden/iteAtIntegerWrongCondType.plc.golden
  plutus-core/untyped-plutus-core/test/Spec.hs
  plutus-errors/src/Errors.hs
Labels: Builtins, Evaluation

#3274 SCP-2318
  plutus-metatheory/src/Algorithmic/CC.lagda.md
  plutus-metatheory/src/Type/CC.lagda.md
Labels: Metatheory

#3319 [Builtins] Removed usages of '<:'
  plutus-core/generators/PlutusCore/Generators/Internal/Entity.hs
  plutus-core/generators/PlutusCore/Generators/Internal/TypedBuiltinGen.hs
  plutus-core/plutus-core/src/PlutusCore/Default/Builtins.hs
Labels: Builtins, Refactoring

#3321 [Evaluation] Tweaked some budgeting-related stuff a bit
  plutus-core/plutus-core/src/PlutusCore/Constant/Typed.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/Ck.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/ExBudget.hs
  plutus-core/plutus-ir/src/PlutusIR/Core/Type.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Core/Type.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/HOAS.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/Internal.hs
Labels: Costs, Evaluation, Refactoring

#3318 [Builtins] Use 'Data.Some.Newtype' instead of 'data Some'
  nix/pkgs/haskell/materialized-unix/.plan.nix/plutus-core.nix
  nix/pkgs/haskell/materialized-unix/default.nix
  plutus-core/plutus-core.cabal
  plutus-core/plutus-core/src/PlutusCore/Constant/Meaning.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Typed.hs
  plutus-core/plutus-core/src/Universe/Core.hs
  stack.yaml
Labels: Builtins, Don't look here yet, Evaluation, Performance

#3356 [Evaluation] Made the 'VCon' constructor strict in the CEK machine
  plutus-core/plutus-core/src/PlutusCore/Constant/Meaning.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/Internal.hs
Labels: Builtins, Evaluation, Performance

#3268 SCP-2268 - Implement a mock of PAB for testing Marlowe Dashboard
  cabal.project
  ci.nix
  default.nix
  fake-pab/LICENSE
  fake-pab/NOTICE
  fake-pab/README.md
  fake-pab/app/Main.hs
  fake-pab/app/PSGenerator.hs
  fake-pab/app/Webserver.hs
  fake-pab/default.nix
  fake-pab/fake-pab.cabal
  fake-pab/fake-pab.sql
  fake-pab/src/API.hs
  fake-pab/src/Server.hs
  fake-pab/src/WebSocket.hs
  fake-pab/terraform/ec2/ec2.tf
  fake-pab/terraform/main.tf
  fake-pab/terraform/rds.tf
  fake-pab/terraform/vpc/vpc.tf
  fake-pab/test/Spec.hs
  nix/pkgs/haskell/haskell.nix
  nix/pkgs/haskell/materialized-unix/.plan.nix/fake-pab.nix
  nix/pkgs/haskell/materialized-unix/default.nix
  shell.nix
Labels: Marlowe Dashboard, PAB

#3391 removed a comment that contained a merge conflict
  plutus-metatheory/src/Algorithmic/Reduction.lagda
Labels: Metatheory

#3408 SCP-2394 - Add choice format information to metadata and examples
  marlowe-dashboard-client/package-lock.json
  marlowe-dashboard-client/package.json
  marlowe-dashboard-client/src/Contract/View.purs
  marlowe-dashboard-client/src/Template/Lenses.purs
  marlowe-playground-client/src/MetadataTab/State.purs
  marlowe-playground-client/src/MetadataTab/Types.purs
  marlowe-playground-client/src/MetadataTab/View.purs
  marlowe-playground-client/src/SimulationPage/View.purs
  web-common-marlowe/src/Examples/Metadata.purs
  web-common-marlowe/src/Marlowe/Extended/Metadata.purs
Labels: Marlowe, Marlowe Dashboard, Meadow, User experience

#3419 SCP-2408 - Add choice format info editing to metadata editor
  marlowe-playground-client/src/MetadataTab/View.purs
  marlowe-playground-client/static/css/panels.css
  web-common-marlowe/src/Marlowe/Extended/Metadata.purs
Labels: Meadow, User experience

#3423 [Bug] [PIR] [NameHandling] Use marking in compilation
  plutus-core/plutus-ir/src/PlutusIR/Compiler.hs
  plutus-core/plutus-ir/src/PlutusIR/Transform/DeadCode.hs
  plutus-core/plutus-ir/src/PlutusIR/Transform/Inline.hs
  plutus-core/plutus-ir/src/PlutusIR/Transform/Rename.hs
  plutus-core/plutus-ir/test/TransformSpec.hs
  plutus-core/plutus-ir/test/datatypes/listMatchEval.golden
  plutus-core/plutus-ir/test/recursion/even3Eval.golden
  plutus-core/plutus-ir/test/types/even3Eval.golden
  plutus-core/plutus-ir/test/types/letInLet.golden
  plutus-core/plutus-ir/test/types/listMatch.golden
  plutus-core/plutus-ir/test/types/maybe.golden
  plutus-core/plutus-ir/test/types/mutuallyRecursiveTypes.golden
  plutus-core/plutus-ir/test/types/mutuallyRecursiveValues.golden
  plutus-core/plutus-ir/test/types/oldLength.golden
Labels: Do not merge, Name handling, Plutus IR, bug

#3436 SCP-2409 - Apply format info to simulator
  marlowe-playground-client/src/Halogen/CurrencyInput.js
  marlowe-playground-client/src/Halogen/CurrencyInput.purs
  marlowe-playground-client/src/Pretty.purs
  marlowe-playground-client/src/SimulationPage/View.purs
  web-common-marlowe/src/Marlowe/Extended/Metadata.purs
Labels: Marlowe, Meadow, User experience
