Repository IntersectMBO/plutus, pull requests merged in 2021-02, with the labels that each got.

#2678 SCP-411 Untyped PLC formalised (without builtins)
  plutus-metatheory/src/Algorithmic/Erasure.lagda
  plutus-metatheory/src/Algorithmic/Erasure/Reduction.lagda
  plutus-metatheory/src/Algorithmic/Erasure/RenamingSubstitution.lagda
  plutus-metatheory/src/Declarative/Erasure.lagda.md
  plutus-metatheory/src/Scoped/Erasure.lagda
  plutus-metatheory/src/Untyped.lagda
  plutus-metatheory/src/Untyped/Reduction.lagda
  plutus-metatheory/src/Untyped/RenamingSubstitution.lagda
Labels: Metatheory

#2679 SCP-1825 - Split Marlowe into "Marlowe Core" and "Extended Marlowe" in Playground
  marlowe-playground-client/src/HaskellEditor/State.purs
  marlowe-playground-client/src/JavascriptEditor/State.purs
  marlowe-playground-client/src/JavascriptEditor/Types.purs
  marlowe-playground-client/src/Language/Javascript/Interpreter.purs
  marlowe-playground-client/src/Marlowe/Blockly.purs
  marlowe-playground-client/src/Marlowe/Extended.purs
  marlowe-playground-client/src/Marlowe/Gen.purs
  marlowe-playground-client/src/Marlowe/Holes.purs
  marlowe-playground-client/src/Marlowe/Linter.purs
  marlowe-playground-client/src/Marlowe/Parser.purs
  marlowe-playground-client/src/MarloweEditor/State.purs
  marlowe-playground-client/src/Simulator.purs
  marlowe-playground-client/src/StaticAnalysis/BottomPanel.purs
  marlowe-playground-client/src/StaticAnalysis/CloseAnalysis.purs
  marlowe-playground-client/src/StaticAnalysis/Reachability.purs
  marlowe-playground-client/src/StaticAnalysis/StaticTools.purs
  marlowe-playground-client/src/StaticAnalysis/Types.purs
  marlowe-playground-client/src/Types.purs
  marlowe-playground-client/src/Wallet.purs
  marlowe-playground-client/test/Marlowe/CompletionItemsTests.purs
Labels: Marlowe, Meadow

#2696 SCP-1792 - Add template variables to Extended Marlowe language and Blockly
  marlowe-playground-client/grammar.ne
  marlowe-playground-client/src/Help.purs
  marlowe-playground-client/src/Marlowe/Blockly.purs
  marlowe-playground-client/src/Marlowe/Extended.purs
  marlowe-playground-client/src/Marlowe/Gen.purs
  marlowe-playground-client/src/Marlowe/Holes.purs
  marlowe-playground-client/src/Marlowe/Linter.purs
  marlowe-playground-client/src/Marlowe/Monaco.js
  marlowe-playground-client/src/Marlowe/Monaco.ts
  marlowe-playground-client/src/Marlowe/Parser.purs
  marlowe-playground-client/test/Marlowe/CompletionItemsTests.purs
Labels: Marlowe, Meadow

#2681 SCP-1822 formalising builtins for untyped PLC
  plutus-metatheory/src/Algorithmic/Erasure.lagda
  plutus-metatheory/src/Algorithmic/Erasure/Reduction.lagda
  plutus-metatheory/src/Algorithmic/Reduction.lagda
  plutus-metatheory/src/Declarative/Erasure.lagda.md
  plutus-metatheory/src/Scoped/Erasure.lagda
  plutus-metatheory/src/Untyped.lagda
  plutus-metatheory/src/Untyped/Reduction.lagda
  plutus-metatheory/src/Untyped/RenamingSubstitution.lagda
  plutus-metatheory/src/index.lagda.md
Labels: Metatheory

#2711 SCP-1791 - Split Contract in simulator and clean-up
  marlowe-playground-client/src/MainFrame/State.purs
  marlowe-playground-client/src/SimulationPage/State.purs
  marlowe-playground-client/src/SimulationPage/Types.purs
  marlowe-playground-client/src/SimulationPage/View.purs
  marlowe-playground-client/src/Simulator.purs
  marlowe-playground-client/src/Wallet.purs
  marlowe-playground-client/test/Marlowe/ContractTests.purs
Labels: Marlowe, Meadow

#2539 [PLC] [AST] Added HOAS
  nix/pkgs/haskell/materialized-musl/.plan.nix/plutus-core.nix
  nix/pkgs/haskell/materialized-unix/.plan.nix/plutus-core.nix
  plutus-core/plutus-core.cabal
  plutus-core/src/Language/PlutusCore/Evaluation/Machine/Exception.hs
  plutus-core/untyped-plutus-core-test/Evaluation/Machines.hs
  plutus-core/untyped-plutus-core/Language/UntypedPlutusCore/Core/Type.hs
  plutus-core/untyped-plutus-core/Language/UntypedPlutusCore/Evaluation/HOAS.hs
  plutus-core/untyped-plutus-core/Language/UntypedPlutusCore/Evaluation/Machine/Cek.hs
Labels: AST, Evaluation, Plutus Core

#2730 SCP -1289 untyped vs typed CEK in plutus-core-test NEAT
  plutus-core/generators/Language/PlutusCore/Generators/NEAT/Spec.hs
Labels: Test

#2735 SCP-1890 refactor type reduction machinery + implement CC machine
  plutus-metatheory/src/Type/CC.lagda.md
  plutus-metatheory/src/Type/CK.lagda.md
  plutus-metatheory/src/Type/ReductionC.lagda.md
  plutus-metatheory/src/Type/ReductionF.lagda.md
  plutus-metatheory/src/Type/ReductionS.lagda.md
  plutus-metatheory/src/index.lagda.md
Labels: Metatheory

#2738 Kwxm/improve plc timing (SCP-1872)
  plutus-core/exe/Main.hs
Labels: Costs, Plutus Exe

#2736 SCP-1849 - Add template instantiation mechanism to Marlowe UI in playground
  marlowe-playground-client/src/HaskellEditor/State.purs
  marlowe-playground-client/src/HaskellEditor/Types.purs
  marlowe-playground-client/src/HaskellEditor/View.purs
  marlowe-playground-client/src/JavascriptEditor/State.purs
  marlowe-playground-client/src/JavascriptEditor/Types.purs
  marlowe-playground-client/src/JavascriptEditor/View.purs
  marlowe-playground-client/src/Marlowe/Extended.purs
  marlowe-playground-client/src/Marlowe/Linter.purs
  marlowe-playground-client/src/MarloweEditor/BottomPanel.purs
  marlowe-playground-client/src/MarloweEditor/State.purs
  marlowe-playground-client/src/MarloweEditor/Types.purs
  marlowe-playground-client/src/SimulationPage/State.purs
  marlowe-playground-client/src/SimulationPage/Types.purs
  marlowe-playground-client/src/SimulationPage/View.purs
  marlowe-playground-client/src/StaticAnalysis/BottomPanel.purs
  marlowe-playground-client/src/StaticAnalysis/CloseAnalysis.purs
  marlowe-playground-client/src/StaticAnalysis/Reachability.purs
  marlowe-playground-client/src/StaticAnalysis/StaticTools.purs
  marlowe-playground-client/src/StaticAnalysis/Types.purs
  marlowe-playground-client/static/css/panels.scss
Labels: Marlowe, Marlowe symbolic, Meadow, User experience

#2752 Make plutus-use-cases-scripts output unwrapped Flat
  nix/pkgs/haskell/materialized-musl/.plan.nix/plutus-use-cases.nix
  nix/pkgs/haskell/materialized-unix/.plan.nix/plutus-use-cases.nix
  plutus-use-cases/plutus-use-cases.cabal
  plutus-use-cases/scripts/Main.hs
Labels: Costs, Ledger

#2747 Kwxm/plc report budget tallies (SCP-1873)
  nix/pkgs/haskell/materialized-musl/.plan.nix/plutus-core.nix
  nix/pkgs/haskell/materialized-unix/.plan.nix/plutus-core.nix
  plutus-core/exe/Main.hs
  plutus-core/plutus-core.cabal
  plutus-core/untyped-plutus-core-test/Evaluation/Machines.hs
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/Examples/InterList/FoldrInterList.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/Examples/InterList/InterCons.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/Examples/InterList/InterNil.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/Examples/RecUnit/runRecUnit.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/Examples/Shad/mkShad.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/Examples/TreeForest/ForestCons.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/Examples/TreeForest/ForestNil.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/Examples/TreeForest/TreeNode.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/Examples/Vec/churchConcat.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/Examples/Vec/churchCons.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/Examples/Vec/churchNil.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/Examples/Vec/scottCons.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/Examples/Vec/scottHead.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/Examples/Vec/scottNil.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/Examples/Vec/scottSumHeadsOr0.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/Fib/1.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/Fib/2.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Budget/Fib/3.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Counting/Examples/InterList/FoldrInterList.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Counting/Examples/InterList/InterCons.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Counting/Examples/InterList/InterNil.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Counting/Examples/RecUnit/runRecUnit.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Counting/Examples/Shad/mkShad.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Counting/Examples/TreeForest/ForestCons.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Counting/Examples/TreeForest/ForestNil.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Counting/Examples/TreeForest/TreeNode.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Counting/Examples/Vec/churchConcat.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Counting/Examples/Vec/churchCons.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Counting/Examples/Vec/churchNil.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Counting/Examples/Vec/scottCons.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Counting/Examples/Vec/scottHead.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Counting/Examples/Vec/scottNil.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Counting/Examples/Vec/scottSumHeadsOr0.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Counting/Fib/1.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Counting/Fib/2.plc.golden
  plutus-core/untyped-plutus-core-test/Evaluation/Machines/Counting/Fib/3.plc.golden
  plutus-core/untyped-plutus-core/Language/UntypedPlutusCore/Evaluation/Machine/Cek.hs
Labels: Costs, Plutus Exe

#2760 SCP-1790 - Add "Extended Marlowe" types in Haskell language
  marlowe-playground-client/src/HaskellEditor/State.purs
  marlowe-playground-client/src/HaskellEditor/Types.purs
  marlowe-playground-client/src/HaskellEditor/View.purs
  marlowe-playground-server/app/PSGenerator.hs
  marlowe-playground-server/contracts/ContractForDifference.hs
  marlowe-playground-server/contracts/CouponBondGuaranteed.hs
  marlowe-playground-server/contracts/Escrow.hs
  marlowe-playground-server/contracts/EscrowWithCollateral.hs
  marlowe-playground-server/contracts/Example.hs
  marlowe-playground-server/contracts/Option.hs
  marlowe-playground-server/contracts/Swap.hs
  marlowe-playground-server/contracts/ZeroCouponBond.hs
  marlowe/marlowe.cabal
  marlowe/src/Language/Marlowe/Extended.hs
  marlowe/src/Language/Marlowe/Pretty.hs
  nix/pkgs/haskell/materialized-musl/.plan.nix/marlowe.nix
  nix/pkgs/haskell/materialized-unix/.plan.nix/marlowe.nix
Labels: Marlowe, Meadow, User experience

#2765 SCP-1797 - Fix wrong payee in documentation example in Section 12.1 of documentation
  marlowe/doc/images/analysis1.png
  marlowe/doc/images/analysis2.png
  marlowe/doc/images/analysis3.png
  marlowe/doc/images/analysis4.png
Labels: Marlowe, Meadow, Tutorials

#2757 [SCP-853] Made logging pure
  nix/pkgs/haskell/materialized-musl/.plan.nix/plutus-core.nix
  nix/pkgs/haskell/materialized-unix/.plan.nix/plutus-core.nix
  plutus-benchmark/nofib/exe/Main.hs
  plutus-benchmark/nofib/test/Spec.hs
  plutus-core/budgeting-bench/Bench.hs
  plutus-core/common/PlcTestUtils.hs
  plutus-core/exe/Main.hs
  plutus-core/generators/Language/PlutusCore/Generators/Internal/Denotation.hs
  plutus-core/generators/Language/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  plutus-core/generators/Language/PlutusCore/Generators/Internal/TypedBuiltinGen.hs
  plutus-core/generators/Language/PlutusCore/Generators/NEAT/Spec.hs
  plutus-core/plutus-core.cabal
  plutus-core/src/Language/PlutusCore.hs
  plutus-core/src/Language/PlutusCore/Builtins.hs
  plutus-core/src/Language/PlutusCore/Constant/Apply.hs
  plutus-core/src/Language/PlutusCore/Constant/Dynamic/Emit.hs
  plutus-core/src/Language/PlutusCore/Constant/Meaning.hs
  plutus-core/src/Language/PlutusCore/Constant/Typed.hs
  plutus-core/src/Language/PlutusCore/Evaluation/Machine/Ck.hs
  plutus-core/src/Language/PlutusCore/Evaluation/Machine/Exception.hs
  plutus-core/test/Evaluation/ApplyBuiltinName.hs
  plutus-core/test/Evaluation/DynamicBuiltins/Common.hs
  plutus-core/test/Evaluation/DynamicBuiltins/Definition.hs
  plutus-core/test/Evaluation/DynamicBuiltins/MakeRead.hs
  plutus-core/test/Evaluation/Machines.hs
  plutus-core/untyped-plutus-core-test/Evaluation/ApplyBuiltinName.hs
  plutus-core/untyped-plutus-core-test/Evaluation/Golden.hs
  plutus-core/untyped-plutus-core-test/Evaluation/Machines.hs
  plutus-core/untyped-plutus-core/Language/UntypedPlutusCore/Evaluation/HOAS.hs
  plutus-core/untyped-plutus-core/Language/UntypedPlutusCore/Evaluation/Machine/Cek.hs
  plutus-core/weigh/Bench.hs
  plutus-ledger-api/src/Plutus/V1/Ledger/Api.hs
  plutus-metatheory/test/TestNEAT.hs
  plutus-tx/src/Language/PlutusTx/Evaluation.hs
Labels: Builtins, Evaluation, Plutus Core

#2691 Use the node protocol for chain synchronisation.
  nix/pkgs/haskell/materialized-musl/.plan.nix/plutus-pab.nix
  nix/pkgs/haskell/materialized-unix/.plan.nix/plutus-pab.nix
  plutus-pab-client/pab-demo-scripts.nix
  plutus-pab/app/Cli.hs
  plutus-pab/app/Main.hs
  plutus-pab/app/PSGenerator.hs
  plutus-pab/plutus-pab.cabal
  plutus-pab/plutus-pab.yaml.sample
  plutus-pab/src/Cardano/ChainIndex/ChainIndex.hs
  plutus-pab/src/Cardano/ChainIndex/Server.hs
  plutus-pab/src/Cardano/ChainIndex/Types.hs
  plutus-pab/src/Cardano/Node/API.hs
  plutus-pab/src/Cardano/Node/Client.hs
  plutus-pab/src/Cardano/Node/Mock.hs
  plutus-pab/src/Cardano/Node/Server.hs
  plutus-pab/src/Cardano/Node/Types.hs
  plutus-pab/src/Cardano/Protocol/ChainEffect.hs
  plutus-pab/src/Cardano/Protocol/Socket/Client.hs
  plutus-pab/src/Cardano/Protocol/Socket/Server.hs
  plutus-pab/src/Plutus/PAB/App.hs
  plutus-pab/src/Plutus/PAB/Effects/MultiAgent.hs
  plutus-pab/src/Plutus/PAB/MockApp.hs
  plutus-pab/test/Plutus/PAB/CoreSpec.hs
  plutus-pab/tx-inject/config.yaml
Labels: PAB
