Repository IntersectMBO/plutus, pull requests merged in 2021-04, with the labels that each got.

#2947 Another attempt at updating the PLC specification (SCP-601)
  plutus-core-spec/Makefile
  plutus-core-spec/figures/Builtins.tex
  plutus-core-spec/figures/LexicalGrammar.tex
  plutus-core-spec/figures/Makefile
  plutus-core-spec/figures/TypeErasure.tex
  plutus-core-spec/figures/TypeSynthesis-Algorithmic.tex
  plutus-core-spec/figures/TypedCekMachine.tex
  plutus-core-spec/figures/TypedCkMachine.tex
  plutus-core-spec/figures/TypedGrammar.tex
  plutus-core-spec/figures/UntypedCekMachine.tex
  plutus-core-spec/figures/UntypedCkMachine.tex
  plutus-core-spec/figures/UntypedGrammar.tex
  plutus-core-spec/plutus-core-specification.tex
Labels: Plutus Core, Spec

#2952 SCP-2052 - Remove killallz3 invocation from static analysis and add monitoring
  marlowe-playground-client/README.md
  marlowe-playground-client/src/StaticAnalysis/StaticTools.purs
  marlowe-playground-server/app/PSGenerator.hs
  marlowe-symbolic/marlowe-symbolic.cabal
  marlowe-symbolic/src/Marlowe/Symbolic/Server.hs
  marlowe-symbolic/src/Marlowe/Symbolic/Types/Response.hs
  nix/pkgs/haskell/materialized-unix/.plan.nix/marlowe-symbolic.nix
  web-common/src/Analytics.purs
Labels: Marlowe, Marlowe symbolic, Meadow

#2959 SCP-1794 - Connect metadata to contracts in Blockly editor
  marlowe-playground-client/src/BlocklyEditor/BottomPanel.purs
  marlowe-playground-client/src/BlocklyEditor/State.purs
  marlowe-playground-client/src/BlocklyEditor/Types.purs
  marlowe-playground-client/src/BlocklyEditor/View.purs
  marlowe-playground-client/src/MainFrame/State.purs
  marlowe-playground-client/src/MarloweEditor/BottomPanel.purs
  marlowe-playground-client/src/MarloweEditor/Types.purs
  marlowe-playground-client/src/MetadataTab/State.purs
  marlowe-playground-client/src/MetadataTab/Types.purs
  marlowe-playground-client/src/MetadataTab/View.purs
Labels: Marlowe, Meadow

#2938 SCP-1894
  plutus-metatheory/src/Type/CC.lagda.md
  plutus-metatheory/src/Type/CCI.lagda.md
  plutus-metatheory/src/Type/CK.lagda.md
  plutus-metatheory/src/Type/ReductionC.lagda.md
  plutus-metatheory/src/Type/ReductionCI.lagda.md
  plutus-metatheory/src/Type/ReductionF.lagda.md
  plutus-metatheory/src/Type/ReductionS.lagda.md
  plutus-metatheory/src/Type/ReductionStack.lagda.md
Labels: Metatheory

#3000 SCP-2041 - Buttons hover over "open example" window's title
  marlowe-playground-client/static/css/modal.scss
Labels: Marlowe, Meadow, User experience

#3013 Update keys for Bozhidar and Dimitar
  deployment/terraform/locals.tf
Labels: Marlowe

#3014 Kwxm/increase validation bm timelimit
  plutus-benchmark/README.md
  plutus-benchmark/nofib/bench/BenchPlc.hs
  plutus-benchmark/validation/Main.hs
  plutus-benchmark/validation/data/make-validations
Labels: Benchmarks

#3016 SCP-2047 - Capture malformed numbers in JS API and throw exception
  marlowe-playground-client/src/Language/Javascript/MarloweJS.ts
Labels: Marlowe, Meadow, User experience

#3012 [Evaluation] Dropped 'StateT' from the CEK machine
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/ExBudgetMode.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/Internal.hs
Labels: Evaluation, Performance

#2995 SCP-1972 CK => CC (types)
  plutus-metatheory/src/Type/CC.lagda.md
  plutus-metatheory/src/Type/CK.lagda.md
  plutus-metatheory/src/Type/ReductionC.lagda.md
Labels: Metatheory

#2999 SCP-2097 - Implement Contract for Differences with Oracle
  doc/marlowe/tutorials/marlowe-step-by-step.rst
  marlowe-playground-client/src/Demos/View.purs
  marlowe-playground-client/src/Examples/JS/Contracts.purs
  marlowe-playground-client/src/SimulationPage/State.purs
  marlowe-playground-client/src/StaticData.purs
  marlowe-playground-client/test/Marlowe/ContractTests.purs
  marlowe-playground-server/app/PSGenerator.hs
  marlowe-playground-server/contracts/ContractForDifferencesWithOracle.hs
  marlowe-playground-server/marlowe-playground-server.cabal
  marlowe-playground-server/src/Marlowe/Contracts.hs
  marlowe/src/Language/Marlowe/Extended.hs
  nix/pkgs/haskell/materialized-unix/.plan.nix/marlowe-playground-server.nix
  web-common-marlowe/src/Examples/Metadata.purs
  web-common-marlowe/src/Examples/PureScript/ContractForDifferencesWithOracle.purs
  web-common-marlowe/src/Marlowe/Market.purs
Labels: Marlowe, Meadow

#3024 Workaround for memory annotation problem (SCP-2143)
  plutus-core/generators/PlutusCore/Generators/Internal/Entity.hs
  plutus-core/generators/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  plutus-core/generators/PlutusCore/Generators/Test.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/ExMemory.hs
  plutus-core/plutus-core/test/Evaluation/Machines.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/Internal.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Machines.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Examples/InterList/FoldrInterList.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Examples/InterList/InterCons.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Examples/InterList/InterNil.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Examples/RecUnit/runRecUnit.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Examples/Shad/mkShad.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Examples/TreeForest/ForestCons.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Examples/TreeForest/ForestNil.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Examples/TreeForest/TreeNode.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Examples/Vec/churchConcat.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Examples/Vec/churchCons.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Examples/Vec/churchNil.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Examples/Vec/scottCons.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Examples/Vec/scottHead.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Examples/Vec/scottNil.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Examples/Vec/scottSumHeadsOr0.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Fib/1.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Fib/2.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Fib/3.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IdNat/0.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IdNat/3.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IdNat/6.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IdNat/9.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IfThenElse/0.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IfThenElse/1.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IfThenElse/2.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IfThenElse/3.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IfThenElse/4.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IfThenElse/5.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Examples/InterList/FoldrInterList.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Examples/InterList/InterCons.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Examples/InterList/InterNil.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Examples/RecUnit/runRecUnit.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Examples/Shad/mkShad.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Examples/TreeForest/ForestCons.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Examples/TreeForest/ForestNil.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Examples/TreeForest/TreeNode.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Examples/Vec/churchConcat.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Examples/Vec/churchCons.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Examples/Vec/churchNil.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Examples/Vec/scottCons.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Examples/Vec/scottHead.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Examples/Vec/scottNil.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Examples/Vec/scottSumHeadsOr0.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Fib/1.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Fib/2.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Fib/3.plc.golden
  plutus-tx/src/PlutusTx/Evaluation.hs
Labels: Costs, bug

#3025 SCP-1971 CC => reduction
  plutus-metatheory/src/Type/CC.lagda.md
  plutus-metatheory/src/Type/CK.lagda.md
  plutus-metatheory/src/Type/ReductionC.lagda.md
Labels: Metatheory

#3021 SCP-2062 - Separate SlotParam from Slot in Blockly
  marlowe-playground-client/src/Blockly/Internal.js
  marlowe-playground-client/src/Marlowe/Blockly.purs
  marlowe-playground-client/test/Blockly/Headless.js
Labels: Marlowe, Meadow, User experience

#3036 SCP-2098 - Connect metadata to contracts in the Haskell editor
  marlowe-playground-client/src/HaskellEditor/State.purs
  marlowe-playground-client/src/HaskellEditor/Types.purs
  marlowe-playground-client/src/HaskellEditor/View.purs
  marlowe-playground-client/src/MainFrame/State.purs
  web-common-marlowe/src/Marlowe/Extended/Metadata.purs
Labels: Marlowe, Meadow

#3052 SCP-2150 - Connect metadata to contracts in the JavaScript editor
  marlowe-playground-client/src/HaskellEditor/Types.purs
  marlowe-playground-client/src/JavascriptEditor/State.purs
  marlowe-playground-client/src/JavascriptEditor/Types.purs
  marlowe-playground-client/src/JavascriptEditor/View.purs
  marlowe-playground-client/src/MainFrame/State.purs
Labels: Marlowe, Meadow

#3057 SCP-2150 - Fix `Save` button in Marlowe Playground
  marlowe-playground-client/src/MainFrame/State.purs
  marlowe-playground-client/src/MainFrame/View.purs
  playground-common/src/Gist.hs
  plutus-playground-client/src/MainFrame/MonadApp.purs
  plutus-playground-client/src/MainFrame/State.purs
  plutus-playground-client/src/MainFrame/Types.purs
  plutus-playground-client/test/MainFrameTests.purs
  web-common-playground/src/Gists/Types.purs
  web-common-playground/src/Gists/View.purs
Labels: Marlowe, Meadow, bug

#3040 SCP-2148
  plutus-metatheory/src/Algorithmic.lagda
  plutus-metatheory/src/Algorithmic/ReductionEC.lagda.md
Labels: Metatheory

#3072 SCP-2200 - Instantiate timeouts in all examples for the Dashboard
  marlowe-dashboard-client/src/ContractHome/State.purs
  marlowe-playground-client/test/Marlowe/ContractTests.purs
  marlowe-playground-client/test/Marlowe/DeinstantiatorTests.purs
  web-common-marlowe/src/Examples/PureScript/Escrow.purs
  web-common-marlowe/src/Examples/PureScript/EscrowWithCollateral.purs
  web-common-marlowe/src/Examples/PureScript/Swap.purs
  web-common-marlowe/src/Examples/PureScript/ZeroCouponBond.purs
Labels: Marlowe, Marlowe Dashboard

#3001 NAM contract type for ACTUS
  marlowe-actus/ContractTerms.json
  marlowe-actus/PamFs.marlowe
  marlowe-actus/src/Language/Marlowe/ACTUS/Analysis.hs
  marlowe-actus/src/Language/Marlowe/ACTUS/Definitions/ContractTerms.hs
  marlowe-actus/src/Language/Marlowe/ACTUS/Generator.hs
  marlowe-actus/src/Language/Marlowe/ACTUS/Model/APPLICABILITY/Applicability.hs
  marlowe-actus/src/Language/Marlowe/ACTUS/Model/APPLICABILITY/ApplicabilityModel.hs
  marlowe-actus/src/Language/Marlowe/ACTUS/Model/INIT/StateInitialization.hs
  marlowe-actus/src/Language/Marlowe/ACTUS/Model/INIT/StateInitializationFs.hs
  marlowe-actus/src/Language/Marlowe/ACTUS/Model/INIT/StateInitializationModel.hs
  marlowe-actus/src/Language/Marlowe/ACTUS/Model/POF/Payoff.hs
  marlowe-actus/src/Language/Marlowe/ACTUS/Model/POF/PayoffFs.hs
  marlowe-actus/src/Language/Marlowe/ACTUS/Model/POF/PayoffModel.hs
  marlowe-actus/src/Language/Marlowe/ACTUS/Model/SCHED/ContractSchedule.hs
  marlowe-actus/src/Language/Marlowe/ACTUS/Model/SCHED/ContractScheduleModel.hs
  marlowe-actus/src/Language/Marlowe/ACTUS/Model/STF/StateTransition.hs
  marlowe-actus/src/Language/Marlowe/ACTUS/Model/STF/StateTransitionFs.hs
  marlowe-actus/src/Language/Marlowe/ACTUS/Model/STF/StateTransitionModel.hs
  marlowe-actus/src/Language/Marlowe/ACTUS/Model/Utility/ScheduleGenerator.hs
  marlowe-actus/src/Language/Marlowe/ACTUS/Model/Utility/YearFraction.hs
  marlowe-actus/src/Language/Marlowe/ACTUS/Ops.hs
  marlowe-actus/test/Spec/Marlowe/Actus.hs
  marlowe-playground-client/package-lock.json
  marlowe-playground-client/src/Marlowe/ActusBlockly.purs
Labels: Marlowe

#3092 SCP-2043 - Open example doesn't refresh title nor size of code panel
  marlowe-playground-client/src/HaskellEditor/State.purs
  marlowe-playground-client/src/JavascriptEditor/State.purs
  marlowe-playground-client/src/MainFrame/State.purs
  marlowe-playground-client/src/MarloweEditor/State.purs
  marlowe-playground-client/src/SimulationPage/State.purs
  web-common/src/Halogen/Monaco.purs
Labels: Marlowe, Meadow, User experience

#3097 SCP-2063 - Disable comments in Blockly
  marlowe-playground-client/src/Blockly/Internal.js
Labels: Meadow, User experience, bug

#3098 SCP-2065 - Disable disabling blocks in Blockly
  marlowe-playground-client/src/Blockly/Internal.js
Labels: Meadow, User experience, bug
