Repository IntersectMBO/plutus, pull requests merged in 2022-08, with the labels that each got.

#4803 [Docs] [Builtins] Add a comment about 'mkMachineParameters' failing to inline
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/MachineParameters.hs
Labels: Docs, Builtins

#4809 Kwxm/ed25519-v1-v2 (PLT-585)
  plutus-core/plutus-core/src/PlutusCore/Default/Builtins.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Builtins/Definition.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Builtins/SignatureVerification.hs
Labels: Builtins

#4778 [Builtins] Drop 'RuntimeScheme'
  plutus-core/plutus-core.cabal
  plutus-core/plutus-core/examples/PlutusCore/Examples/Builtins.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/Meaning.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/Polymorphism.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/Runtime.hs
  plutus-core/plutus-core/src/PlutusCore/Core/Type.hs
  plutus-core/plutus-core/src/PlutusCore/Default/Builtins.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/Ck.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/CostingFun/Core.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/ExBudgetingDefaults.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/ExMemory.hs
  plutus-core/plutus-core/test/Evaluation/Spec.hs
  plutus-core/plutus-ir/src/PlutusIR/Core/Type.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/Internal.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Builtins.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Builtins/Coherence.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Builtins/Common.hs
Labels: Builtins, Performance, Costs
