Repository IntersectMBO/plutus, pull requests merged in 2022-07, with the labels that each got.

#4738 [Builtins] Implement parsing of polymorphic data
  plutus-conformance/uplc/evaluation/builtin/mkNilData/mkNilData.uplc.expected
  plutus-conformance/uplc/evaluation/builtin/mkNilPairData/mkNilPairData.uplc.expected
  plutus-core/plutus-core.cabal
  plutus-core/plutus-core/src/PlutusCore/Default/Universe.hs
  plutus-core/plutus-core/src/PlutusCore/Error.hs
  plutus-core/plutus-core/src/PlutusCore/Parser/Builtin.hs
  plutus-core/plutus-core/src/PlutusCore/Parser/ParserCommon.hs
  plutus-core/plutus-core/src/PlutusCore/Parser/Type.hs
  plutus-core/plutus-core/src/PlutusCore/Pretty/PrettyConst.hs
  plutus-core/plutus-core/src/Universe/Core.hs
  plutus-core/plutus-core/test/Pretty/Golden/Readable/Examples/Data/ofoldrData.plc.golden
  plutus-core/plutus-core/test/Pretty/Golden/Readable/StdLib/Data/Data/caseData.plc.golden
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Parser.hs
  plutus-core/untyped-plutus-core/test/Generators.hs
  plutus-core/untyped-plutus-core/test/Spec.hs
Labels: Builtins, Textual representation

#4752 [TypeCheck] Add detection of wrong names
  plutus-core/executables/pir/Main.hs
  plutus-core/plutus-core/src/PlutusCore/Error.hs
  plutus-core/plutus-core/src/PlutusCore/Name.hs
  plutus-core/plutus-core/src/PlutusCore/TypeCheck.hs
  plutus-core/plutus-core/src/PlutusCore/TypeCheck/Internal.hs
  plutus-core/plutus-core/test/Spec.hs
  plutus-core/plutus-core/test/TypeSynthesis/Spec.hs
  plutus-core/plutus-ir/src/PlutusIR/Compiler/Datatype.hs
  plutus-core/plutus-ir/src/PlutusIR/Compiler/Types.hs
  plutus-core/plutus-ir/src/PlutusIR/Core/Type.hs
  plutus-core/testlib/PlutusCore/Generators/NEAT/Spec.hs
  plutus-core/testlib/PlutusIR/Generators/AST.hs
  plutus-errors/src/Errors.hs
  plutus-metatheory/test/TestNEAT.hs
Labels: Type checking, Name handling

#4759 PLT-559: Add Vasil Secp256k1 signature verification functions to meta…
  plutus-metatheory/src/Algorithmic.lagda
  plutus-metatheory/src/Algorithmic/CC.lagda.md
  plutus-metatheory/src/Algorithmic/CEKV.lagda.md
  plutus-metatheory/src/Algorithmic/Erasure/Reduction.lagda
  plutus-metatheory/src/Algorithmic/ReductionEC.lagda.md
  plutus-metatheory/src/Builtin.lagda.md
  plutus-metatheory/src/Builtin/Signature.lagda.md
  plutus-metatheory/src/Declarative.lagda.md
  plutus-metatheory/src/Raw.lagda
  plutus-metatheory/src/Untyped/CEK.lagda.md
Labels: Metatheory

#4771 Update verifyEcdsa25519Signature to cardano-crypto-class (PLT-162)
  plutus-core/cost-model/data/benching.csv
  plutus-core/cost-model/data/builtinCostModel.json
  plutus-core/plutus-core/src/Crypto.hs
  plutus-core/plutus-core/src/PlutusCore/Default/Builtins.hs
  plutus-metatheory/src/Builtin.lagda.md
  plutus-tx/src/PlutusTx/Builtins/Internal.hs
Labels: Builtins, Crypto

#4790 Fix CSV file output problem in cost model benchmarking
  plutus-core/cost-model/budgeting-bench/CriterionExtensions.hs
  plutus-core/cost-model/budgeting-bench/Main.hs
Labels: Costs
