Repository IntersectMBO/plutus, pull requests merged in 2022-01, with the labels that each got.

#4307 [Builtins] Monomorphize 'readKnown'
  plutus-core/plutus-core/src/PlutusCore/Constant/Typed.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/Ck.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/Internal.hs
Labels: Builtins, Performance, Don't look here yet

#4317 [Builtins] Drop 'Proxy' from 'TypeSchemeAll'
  plutus-core/executables/Common.hs
  plutus-core/generators/PlutusCore/Generators/Internal/Denotation.hs
  plutus-core/generators/PlutusCore/Generators/Internal/Entity.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Function.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Meaning.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Typed.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/Ck.hs
  plutus-core/plutus-ir/src/PlutusIR/Purity.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/Internal.hs
Labels: Refactoring, Builtins, Performance

#4312 [Builtins] Disentangle 'KnownTypeAst' from 'KnownTypeIn'
  nix/pkgs/haskell/materialized-darwin/.plan.nix/plutus-core.nix
  nix/pkgs/haskell/materialized-darwin/default.nix
  nix/pkgs/haskell/materialized-linux/.plan.nix/plutus-core.nix
  nix/pkgs/haskell/materialized-linux/default.nix
  nix/pkgs/haskell/materialized-windows/.plan.nix/plutus-core.nix
  nix/pkgs/haskell/materialized-windows/default.nix
  plutus-core/plutus-core.cabal
  plutus-core/plutus-core/examples/PlutusCore/Examples/Builtins.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Debug.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Meaning.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Typed.hs
  plutus-core/plutus-core/src/PlutusCore/Default/Builtins.hs
  plutus-core/plutus-core/test/TypeSynthesis/Golden/ConstrData.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/IdRank2.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/ListData.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/MapData.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/MkNilData.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/MkNilPairData.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/MkPairData.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/UnConstrData.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/UnListData.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/UnMapData.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/UnsafeCoerce.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/UnsafeCoerceEl.plc.golden
Labels: Refactoring, Builtins

#4326 SCP-3047: Adds a free-variable handler to (un)debruijnification
  plutus-core/plutus-core/src/PlutusCore/DeBruijn.hs
  plutus-core/plutus-core/src/PlutusCore/DeBruijn/Internal.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/DeBruijn.hs
  plutus-core/untyped-plutus-core/test/DeBruijn/Golden/Graceful/graceConst.plc.golden
  plutus-core/untyped-plutus-core/test/DeBruijn/Golden/Graceful/graceDeep.plc.golden
  plutus-core/untyped-plutus-core/test/DeBruijn/Golden/Graceful/graceElaborate.plc.golden
  plutus-core/untyped-plutus-core/test/DeBruijn/Golden/Graceful/graceTop.plc.golden
  plutus-core/untyped-plutus-core/test/DeBruijn/Golden/Strict/failBody0.plc.golden
  plutus-core/untyped-plutus-core/test/DeBruijn/Golden/Strict/failBody99.plc.golden
  plutus-core/untyped-plutus-core/test/DeBruijn/Golden/Strict/failConst.plc.golden
  plutus-core/untyped-plutus-core/test/DeBruijn/Golden/Strict/failDeep.plc.golden
  plutus-core/untyped-plutus-core/test/DeBruijn/Golden/Strict/failITE.plc.golden
  plutus-core/untyped-plutus-core/test/DeBruijn/Golden/Strict/failMix.plc.golden
  plutus-core/untyped-plutus-core/test/DeBruijn/Golden/Strict/failTop.plc.golden
  plutus-core/untyped-plutus-core/test/DeBruijn/Golden/Strict/okConst.plc.golden
  plutus-core/untyped-plutus-core/test/DeBruijn/Golden/Strict/okDeep0.plc.golden
  plutus-core/untyped-plutus-core/test/DeBruijn/Golden/Strict/okDeep99.plc.golden
  plutus-core/untyped-plutus-core/test/DeBruijn/Golden/Strict/okId0.plc.golden
  plutus-core/untyped-plutus-core/test/DeBruijn/Golden/Strict/okId99.plc.golden
  plutus-core/untyped-plutus-core/test/DeBruijn/Golden/Strict/okMix1.plc.golden
  plutus-core/untyped-plutus-core/test/DeBruijn/Golden/Strict/okMix2.plc.golden
  plutus-core/untyped-plutus-core/test/DeBruijn/Spec.hs
Labels: Name handling

#4335 SCP-3247
  plutus-metatheory/src/Algorithmic/Evaluation.lagda
  plutus-metatheory/src/Algorithmic/Reduction.lagda
  plutus-metatheory/src/Algorithmic/ReductionEC.lagda.md
  plutus-metatheory/src/Main.lagda
Labels: Metatheory

#4342 SCP-1824
  plutus-core/generators/PlutusCore/Generators/NEAT/Spec.hs
  plutus-metatheory/test/TestNEAT.hs
Labels: Test, Metatheory

#4338 Add Note [How to add a built-in function: simple cases]
  plutus-core/plutus-core/src/PlutusCore/Constant/Typed.hs
  plutus-core/plutus-core/src/PlutusCore/Default/Builtins.hs
Labels: Docs, Builtins

#4345 [Builtins] Add detection of stuck 'ToHoles'
  plutus-core/plutus-core/src/PlutusCore/Constant/Debug.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Meaning.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Typed.hs
Labels: Builtins, User experience

#4363 [Builtins] Restructure everything
  nix/pkgs/haskell/materialized-darwin/.plan.nix/plutus-core.nix
  nix/pkgs/haskell/materialized-linux/.plan.nix/plutus-core.nix
  nix/pkgs/haskell/materialized-windows/.plan.nix/plutus-core.nix
  plutus-core/cost-model/budgeting-bench/Benchmarks/Nops.hs
  plutus-core/executables/Common.hs
  plutus-core/generators/PlutusCore/Generators/Interesting.hs
  plutus-core/generators/PlutusCore/Generators/Internal/Denotation.hs
  plutus-core/generators/PlutusCore/Generators/Internal/Dependent.hs
  plutus-core/generators/PlutusCore/Generators/Internal/Entity.hs
  plutus-core/generators/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  plutus-core/generators/PlutusCore/Generators/Internal/TypedBuiltinGen.hs
  plutus-core/generators/PlutusCore/Generators/Test.hs
  plutus-core/plutus-core.cabal
  plutus-core/plutus-core/examples/PlutusCore/Examples/Builtins.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/Debug.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/Elaborate.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/Emitter.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/HasConstant.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/KnownKind.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/KnownType.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/KnownTypeAst.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/Meaning.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/Polymorphism.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/Runtime.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/TypeScheme.hs
  plutus-core/plutus-core/src/PlutusCore/Constant.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Function.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Meaning.hs
  plutus-core/plutus-core/src/PlutusCore/Constant/Typed.hs
  plutus-core/plutus-core/src/PlutusCore/Default/Builtins.hs
  plutus-core/plutus-core/src/PlutusCore/Default/Universe.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/Ck.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/ExBudgetingDefaults.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/Exception.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/MachineParameters.hs
  plutus-core/plutus-core/src/PlutusCore/Parser.y
  plutus-core/plutus-core/src/PlutusCore/TypeCheck.hs
  plutus-core/plutus-core/src/PlutusCore/TypeCheck/Internal.hs
  plutus-core/plutus-core/test/TypeSynthesis/Spec.hs
  plutus-core/plutus-ir/src/PlutusIR/Analysis/Dependencies.hs
  plutus-core/plutus-ir/src/PlutusIR/Analysis/RetainedSize.hs
  plutus-core/plutus-ir/src/PlutusIR/Core/Type.hs
  plutus-core/plutus-ir/src/PlutusIR/Purity.hs
  plutus-core/plutus-ir/src/PlutusIR/Transform/DeadCode.hs
  plutus-core/plutus-ir/src/PlutusIR/Transform/Inline.hs
  plutus-core/plutus-ir/src/PlutusIR/Transform/LetFloat.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Core/Type.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/Internal.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Parser.y
  plutus-core/untyped-plutus-core/test/Evaluation/ApplyBuiltinName.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Builtins/Common.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Builtins/Definition.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Builtins/MakeRead.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Machines.hs
  plutus-tx-plugin/src/PlutusTx/Compiler/Builtins.hs
  plutus-tx-plugin/src/PlutusTx/Compiler/Types.hs
Labels: Refactoring, Builtins
