Repository IntersectMBO/plutus, pull requests merged in 2022-03, with the labels that each got.

#4454 [Docs] Add Note [How to add a built-in function: complicated cases]
  plutus-core/plutus-core/examples/PlutusCore/Examples/Builtins.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/KnownType.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/Polymorphism.hs
  plutus-core/plutus-core/src/PlutusCore/Default/Builtins.hs
  plutus-core/plutus-core/test/TypeSynthesis/Golden/IdAssumeBool.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/IdAssumeCheckBool.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/IdSomeConstantBool.plc.golden
  plutus-core/plutus-core/test/TypeSynthesis/Golden/SumInteger.plc.golden
Labels: Docs, Builtins, User experience

#4468 Kwxm/cost modelling update
  plutus-benchmark/nofib/test/formulaBudget.budget.golden
  plutus-benchmark/nofib/test/knightsBudget.budget.golden
  plutus-benchmark/nofib/test/queens4budget.budget.golden
  plutus-benchmark/nofib/test/queens5budget.budget.golden
  plutus-core/cost-model/budgeting-bench/Benchmarks/Data.hs
  plutus-core/cost-model/budgeting-bench/Benchmarks/Nops.hs
  plutus-core/cost-model/budgeting-bench/Common.hs
  plutus-core/cost-model/budgeting-bench/CriterionExtensions.hs
  plutus-core/cost-model/budgeting-bench/Generators.hs
  plutus-core/cost-model/data/benching.csv
  plutus-core/cost-model/data/builtinCostModel.json
  plutus-core/cost-model/data/cekMachineCosts.json
  plutus-core/cost-model/data/models.R
  plutus-core/plutus-core/src/PlutusCore/Default/Builtins.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/ExMemory.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Fib/1.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Fib/2.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/Fib/3.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IdNat/0.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IdNat/3.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IdNat/6.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IdNat/9.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IfThenElse/0.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IfThenElse/1.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IfThenElse/2.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IfThenElse/3.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IfThenElse/4.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Budget/IfThenElse/5.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Fib/1.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Fib/2.plc.golden
  plutus-core/untyped-plutus-core/test/Evaluation/Machines/Tallying/Fib/3.plc.golden
  plutus-tx-plugin/test/Budget/any.budget.golden
  plutus-tx-plugin/test/Budget/applicative.budget.golden
  plutus-tx-plugin/test/Budget/elem.budget.golden
  plutus-tx-plugin/test/Budget/filter.budget.golden
  plutus-tx-plugin/test/Budget/find.budget.golden
  plutus-tx-plugin/test/Budget/monadicDo.budget.golden
  plutus-tx-plugin/test/Budget/patternMatch.budget.golden
  plutus-tx-plugin/test/Budget/sum.budget.golden
Labels: Benchmarks, Costs

#4481 [Builtins] Inline 'mkMachineParameters' in its full glory
  plutus-core/plutus-core/src/PlutusCore/Builtin/Runtime.hs
  plutus-core/plutus-core/src/PlutusCore/Default/Builtins.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/MachineParameters.hs
  plutus-ledger-api/src/Plutus/V1/Ledger/EvaluationContext.hs
Labels: Evaluation, Builtins, Performance

#4480 SCP 3619: costing for serialiseData
  plutus-core/cost-model/budgeting-bench/Benchmarks/Data.hs
  plutus-core/cost-model/data/builtinCostModel.json
  plutus-core/cost-model/data/models.R
Labels: Benchmarks, Costs

#4496 [Builtins] Update 'BuiltinRuntime' to store the costing function strictly
  plutus-core/plutus-core/src/PlutusCore/Builtin/Runtime.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/Ck.hs
Labels: Evaluation, Builtins

#4420 [Builtins] Split 'KnownTypeIn' into two classes
  nix/pkgs/haskell/materialized-darwin/.plan.nix/plutus-core.nix
  nix/pkgs/haskell/materialized-linux/.plan.nix/plutus-core.nix
  nix/pkgs/haskell/materialized-windows/.plan.nix/plutus-core.nix
  plutus-core/plutus-core.cabal
  plutus-core/plutus-core/examples/PlutusCore/Examples/Builtins.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/KnownType.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/Meaning.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/Runtime.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/TestKnown.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/TypeScheme.hs
  plutus-core/plutus-core/src/PlutusCore/Default/Universe.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/Ck.hs
  plutus-core/testlib/PlutusCore/Generators/Internal/Dependent.hs
  plutus-core/testlib/PlutusCore/Generators/Internal/TypeEvalCheck.hs
  plutus-core/testlib/PlutusCore/Generators/Test.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Builtins/Common.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Builtins/MakeRead.hs
Labels: Refactoring, Builtins, Don't look here yet

#4502 [Refac] [Builtins] Remove a bit of noise
  plutus-core/plutus-core/src/PlutusCore/Builtin/KnownType.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/Meaning.hs
Labels: Refactoring, Builtins

#4505 [Builtins] [Costing] Make costing more sharing-friendly
  nix/pkgs/haskell/materialized-darwin/.plan.nix/plutus-core.nix
  nix/pkgs/haskell/materialized-linux/.plan.nix/plutus-core.nix
  nix/pkgs/haskell/materialized-windows/.plan.nix/plutus-core.nix
  plutus-core/plutus-core.cabal
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/BuiltinCostModel.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/CostingFun/Core.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/CostingFun/JSON.hs
Labels: Builtins, Performance, Costs

#4512 [Evaluation] Make 'EvaluationResult' strict
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Result.hs
Labels: Evaluation, Performance
