Repository IntersectMBO/plutus, pull requests merged in 2023-01, with the labels that each got.

#5052 Kwxm/plc spec/fix zigzag
  doc/plutus-core-spec/flat-serialisation.tex
  doc/plutus-core-spec/plutus-core-specification.pdf
  doc/plutus-core-spec/plutus-core-specification.tex
Labels: Specification

#5057 [Bug] [Test] Fix shrinking issues
  plutus-core/plutus-ir/test/GeneratorSpec.hs
  plutus-core/plutus-ir/test/GeneratorSpec/Terms.hs
  plutus-core/plutus-ir/test/GeneratorSpec/Types.hs
  plutus-core/testlib/PlutusIR/Generators/QuickCheck/ShrinkTerms.hs
Labels: bug, Test, Plutus IR

#4914 [Builtins] [Evaluation] Drop lookups
  plutus-core/cost-model/budgeting-bench/Common.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/Meaning.hs
  plutus-core/plutus-core/src/PlutusCore/Builtin/Runtime.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/Ck.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/MachineParameters/Default.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/Internal.hs
Labels: Evaluation, Builtins, Performance, Don't look here yet

#5080 [Costing] Drop 'uni' and 'ann' from 'MachineParameters
  plutus-core/cost-model/budgeting-bench/Benchmarks/Nops.hs
  plutus-core/cost-model/budgeting-bench/Common.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/ExBudgetingDefaults.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/MachineParameters.hs
  plutus-core/plutus-core/src/PlutusCore/Evaluation/Machine/MachineParameters/Default.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek.hs
  plutus-core/untyped-plutus-core/src/UntypedPlutusCore/Evaluation/Machine/Cek/Internal.hs
  plutus-core/untyped-plutus-core/test/Evaluation/Builtins/Common.hs
Labels: Refactoring, Costs
